[2020-02-03 18:06] Tyriar commented on #2683
The same happens with cursorStyle

[2020-02-03 18:34] #2683 closed

[2020-02-03 19:17] #2675 closed

[2020-02-03 19:20] Tyriar commented on #1709
@jerch can we call this closed with #2568 being merged?

[2020-02-03 19:21] jerch commented on #1709
@Tyriar Yepp, there is also a follow up already :smile_cat: --> #2668

[2020-02-03 19:22] #1709 closed

[2020-02-03 19:31] jerch commented on #2664
@thefallentree Can we close this? Imho the offtopic part can be discussed elsewhere, regarding xterm.js itself I dont see much at hand to do. An extended editor mode like those block terminals had is way beyond our current scope.

[2020-02-03 19:32] Tyriar commented on #2664
👍

[2020-02-03 19:32] #2664 closed

[2020-02-04 02:53] wibud opened #2686 "Display corrupted in Tor browser"
It display corrupted in Tor browser

![image](https://user-images.githubusercontent.com/3693897/73709339-c3b0ae00-473b-11ea-96e2-c2683bb540b1.png)

## Details

- Browser and browser version:

![image](https://user-images.githubusercontent.com/3693897/73709371-d9be6e80-473b-11ea-939a-1834b540eda5.png)

- OS version:

![image](https://user-images.githubusercontent.com/3693897/73709435-0c686700-473c-

[2020-02-04 14:22] Tyriar commented on #2686
I guess the Tor browser doesn't support canvas properly? Change rendererType to dom will probably fix, no plans on actioning this.

[2020-02-04 14:22] #2686 closed

[2020-02-04 14:51] #2608 closed

[2020-02-04 14:51] #2607 closed

[2020-02-04 15:38] #1762 closed

[2020-02-04 20:24] jerch opened #2693 "emoji/unicode support mostly broken in windows"
Reminder issue to get the hands dirty to identify/fix unicode issues in windows, for some background see comments in https://github.com/xtermjs/xterm.js/pull/2568.

[2020-02-05 11:30] Eugeny opened #2694 "API to check if alternate screen is active"
Could we have an API to check whether xterm is currently showing the primary or the alternate screen?

[2020-02-05 14:14] Tyriar commented on #2694
@Eugeny what do you need it for out of curiosity?

[2020-02-05 14:28] Eugeny commented on #2694
I've got automatic "progress detection" in Terminus that scans for percentage-like strings in terminal output. However if a text editor like vi or nano is open (usually in alternate screen mode) and the text contains "12%" or similar, it's getting redrawn by the application again and again, triggering progress detection code again.

I'm looking to just disable it as long as alternate screen is act

[2020-02-05 14:45] Tyriar commented on #2694
Perhaps we should also take this opportunity to namespace buffer like we did with parser, something like this?

[code]

[2020-02-05 14:49] mofux commented on #2694
@Tyriar Yes that sounds good. So checking if the normal buffer is active would be an expression like `terminal.buffer.active === terminal.buffer.normal`? Or should we also introduce a convenience method for it either on the `buffer` or `IBuffer` interface?

[2020-02-05 15:26] heapwolf opened #2901 "TypeError: Cannot read property 'registerCharacterJoiner' of undefined"
[code]

## Details
- Browser and browser and/or electron version: electron 7.1.5
- OS version: Darwin 19
- xterm.js version: 4.4.0
- xterm-addon-ligatures version: 0.2.1

### Steps to reproduce

[code]

[2020-02-05 15:36] Tyriar commented on #2694
I guess having a `IBuffer.type: 'normal' | 'alt'` would be the best of both worlds?

[2020-02-05 16:57] kumaran-14 commented on #2498
@Tyriar I've looked at the #2364 pr thread.
file : `src/common/input/Keyboard.ts`
[code]

Is these along the lines of what you had in mind?
I'm sure this is be more involved than this. Could you point me in the right direction?

[2020-02-05 18:30] Jma353 commented on #1134
What is the status of the above branch? Is someone working on this?
@Tyriar nicely listed the steps needed.  Are any of these steps done?

[2020-02-05 22:09] jerch commented on #1134
@Jma353 I dont think that anyone is actively working this, so feel free to implement the needed bits.

[2020-02-05 22:12] fur-hebwiki opened #2695 "with latest firefox right-click behaves like terminal is "img", specifically, no copy/paste"
## Details
- Browser and browser version: Firefox 72.0.2 (64 bit)
- OS version: windows 10
- xterm.js version: not sure. whatever runs on the demo page ( https://xtermjs.org/ ) as of Feb. 5 2020.

### Steps to reproduce

1. fire up firefox, version >= 72.0.2 (tested on windows 10, though i'm pretty sure it behaves the same on mac and linux. did not test on older version of FF)
2. go to demo page h

[2020-02-05 22:22] jerch commented on #2695
@fur-hebwiki  Cannot repro under linux with FF 72. I get for any renderer (canvas/DOM/webgl) the right context menu.

[2020-02-05 23:31] fur-hebwiki commented on #2695
thanks for the prompt response.

(canvas/DOM/webgl) the right context menu.

(i did not know renderer is selectable - i encountered this bug as a user,
not as a developer, so the code to create the terminal is not mine.
in both sites where i encountered it (the "real" one and xtermjs demo page)
use canvas).

some suggestion for reproducing:

1) reproducible  easily and repeatedly (though not consi

[2020-02-06 09:54] tom-james-watson commented on #832
In case this helps anyone that comes across the same problem - I managed to produce this bug when I had accidentally swapped rows and columns somewhere along the way between xterm and pty.

[2020-02-06 17:20] jerch commented on #2695
Tested it with FF 72.0.1.

code is definitely wrong.

FF is not part of our development tests, so there might be outdated workarounds. Our automated tests run with puppeteer (chromium engine). Not sure if they could be extended to FF somehow. The tests heavily rely on the devtools protocol, I think FF does not support it to a workable extend. Selenium would require a serious rewrite of the tests w

[2020-02-06 17:31] jerch commented on #2694
Just a minor headsup - we should take care with offering too much synchronous state introspection for a simple reason - ppl will end up trying to do things based on that but mostly ignore the current input buffer state, which might change things at any time again. (@Tyriar  Remember that issue about someone trying to write a local lisp interface? Very hard to spot de-sync issues will result from t

[2020-02-07 16:00] Tyriar commented on #1134
@jerch yeah it would need some parser changes. Resizing wrapped links is a case that we would need to make sure works too.

[2020-02-07 16:02] Tyriar commented on #2695
Not this one https://github.com/xtermjs/xterm.js/pull/2632, that was closed

[2020-02-07 16:11] Tyriar commented on #2694
@jerch I guess a note on `write` would help those problems. Trying to address that problem with docs would be better than not offering something like this.

Open to PRs, we might want to tweak the naming a bit but I think the basic shape of the API is there.

[2020-02-07 16:39] Tyriar commented on #2498
@kumaran-14 it needs another decset private mode so it only is enabled when the mode is active, see https://github.com/xtermjs/xterm.js/pull/2364#pullrequestreview-287556720

@jerch is this right? Is it this one? 🤔

[2020-02-07 17:25] kumaran-14 commented on #2498
@Tyriar Could you explain a bit more. How would I go about implementing a new privat mode and handle key signals based on this mode?

[2020-02-07 18:02] Tyriar opened #2699 "Pull common API test helper functions into common file"
Right now functions like `openInTerminal` and polling are duplicated across most .api.ts files.

[2020-02-07 18:03] Tyriar opened #2700 "Consider replacing puppeteer with playwright"
Playwright supports Chromium, Firefox and Safari.

[2020-02-07 19:12] MohamedElgharbawy opened #2701 "Clickable links in the terminal no longer work."
## Details
- Browser and browser version: All browsers
- OS version: MacOS 10.15.1
- xterm.js version: Latest

### Steps to reproduce

1. term.write("https://google.com");
2. The link will appear in the terminal but will not be clickable or underlined.

[2020-02-07 19:22] Tyriar opened #2702 "Add debug option to API tests"
I find it very useful when debugging API tests to log the result of polling:

https://github.com/xtermjs/xterm.js/blob/56990f2a2904f1d8b5f868be9ce14895b2156c8f/test/api/TestUtils.ts#L13

Would be handle to run `yarn test-api --debug` to log this instead of changing it locally.

[2020-02-07 19:24] jerch commented on #2498
@Tyriar Hmm not sure about 1039 or 1036. I think we always use Alt, then 1039 should do.

[2020-02-07 19:27] jerch commented on #2700
@Tyriar Oh well, this sounds like a good idea. :+1:
(Wasnt even aware of that API.)

[2020-02-07 19:34] jerch commented on #2701
@MohamedElgharbawy Cannot repro with linux, works here with Chrome (v79) and Firefox (v72).

[2020-02-07 19:36] MohamedElgharbawy commented on #2701
I'm on version 4.3.0, if that helps.

[2020-02-07 19:54] jerch commented on #2701
Also works for me with v4.3.0. Plz test with our demo in the master branch and see if the issue remains.

[2020-02-07 20:50] Tyriar commented on #2700
@jerch it's a very new library https://github.com/microsoft/playwright

[2020-02-07 23:30] Tyriar commented on #2701
Links definitely work in both 4.3 and 4.4 as they're working in vscode now and have been. Links don't come out of the box if it wasn't clear, you need to enable the web links addon to get that functionality.

[2020-02-08 19:01] Tyriar opened #2703 "Remove link matcher API"
Tentatively assigning to v5, we can remove this API and remove `Linkifier` all together when:

- VS Code has adopted the link provider API
- Consumers have been informed about the link matcher API's removal (4.5 release notes) and we've given enough time to move off of it
- WebLinksAddon has moved over to the link provider API (done with https://github.com/xtermjs/xterm.js/pull/2530)

[2020-02-08 19:03] Tyriar opened #2704 "Evaluate caching strategy of link provider API and see if improvements need to be made"
MVP being added with https://github.com/xtermjs/xterm.js/pull/2530, currently I believe we're only caching the current link.

[2020-02-08 19:03] Tyriar opened #2705 "Mark link provider API as stable"
MVP added in https://github.com/xtermjs/xterm.js/pull/2530

[2020-02-08 19:07] Tyriar opened #2706 "Look into 1-based vs 0-based coordinates in link provider API"
I think with https://github.com/xtermjs/xterm.js/pull/2530 the API is 1-based and end-inclusive but underlying is dealing with 0 based.

https://github.com/xtermjs/xterm.js/issues/2484

[2020-02-08 19:11] Tyriar opened #2707 "Consider moving all experimental APIs into an experimental namespace"
VS Code uses a separate .d.ts files which is nice for separation but it becomes more complicated as you need to download and let TS merge the 2 .d.ts files. It would be much more clear if we just stuck everything into a `Terminal.experimental` namespace as we rely on people reading the jsdoc right now.

[2020-02-10 01:45] jmbockhorst opened #2708 "Link Provider end positions are incorrect"
The current `WebLinksProvider` incorrectly calculates the end position of the link. They are 1 character longer than it should be for both `hover()` and `leave()`.

I also noticed a situation when implementing VS Code's link provider, that only the `leave()` is being called on that extra character. So there may be bugs in both the `LinkProvder` API and the `WebLinksProvider`, but I am not sure.

[2020-02-10 12:48] Tyriar commented on #2708
I probably caused this with https://github.com/xtermjs/xterm.js/pull/2530/commits/0103c689f7966c4909f51855b90053bdfe15d4cb (https://github.com/xtermjs/xterm.js/issues/2706)

[2020-02-10 16:55] kumaran-14 commented on #2586
@Tyriar what would be the fix for this?

[2020-02-10 18:42] kumaran-14 commented on #2498
@jerch If I add a new DECSET private mode in `IDecPrivateModes` in the file `src/common/Types.d.ts`, in what way would I handle them in `setModePrivate()` and `resetModePrivate()` functions in `src/inputHandlers.ts` ?

[2020-02-11 09:12] JavaCS3 commented on #2694
@Tyriar serialize-addon also need a way to read alternative buffer. Otherwise it's very hard to implement terminal session playback player even terminal session sharing tool that allow anyone can join at anytime(I found vscode's live share ext already supported terminal sharing, I don't know how it works instead of sending all the terminal output from the beginning)

[2020-02-11 10:27] jerch commented on #2498
@kumaran-14 Well, `setMode` always switches something on, `resetMode` switches something off. The DEC private flags are booleans indicating whether some operational mode takes place.

For DECSET 1039 I think we want it to send the leading ESC for any key+Alt combination, while for DECRST 1039 (reset) we should go with sending the key only (kinda ignoring the pressed Alt key, note that xterm sends

[2020-02-11 10:38] jerch commented on #2694
@JavaCS3 Is that really an issue? Imho the serializer would always get the same buffer the user sees as screen output at the time of serialization. Furthermore apps typically use DECSET 1049 these days, which always would clean the altbuffer. Thus even if the altbuffer still holds data, it would be seen as remnant from a previous altbuffer session.

Imho the serializer only needs to care about one

[2020-02-11 12:09] mofux commented on #2694
@jerch For me the use-case is the other way around. I only want to serialize the normal buffer, so when restoring a terminal after the app restarts, I only want to restore the history of the normal buffer. At the moment I'm using a hack by calling `terminal._core.buffers.activateNormalBuffer()` just before running the serialize addon. Having a public api for this would certainly be better.

[2020-02-11 13:09] jerch commented on #2694
@mofux So you want to give `serialize` the buffer as argument? But isn't that already possible with @Tyriar proposal above (after extending serialize that way)? Maybe I miss some point...

[2020-02-11 13:51] JavaCS3 commented on #2694
@jerch  The basic idea of terminal playback player is like what u're saying,(create a snapshot one by one and fill the gap between snapshots with incremental diffs) But there's a problem if the snapshot creation time is during alternative is active and then following incremental diffs contains `DEC 1049 (Use Normal Screen Buffer and restore cursor)`. There will be a mess because the normal buffer

[2020-02-11 14:20] jerch commented on #2694
But thats what @Tyriar's suggestion above is about, so it should be possible with that? So I am still not getting whats missing here...

Seems asciinema does a timetrace of the pty output. Yepp, imho the only way to get a correct replay done. The advantage of the serialize plugin here would be, that you could start the replay from any snapshot omitting the older pty output. Bte you can create such

[2020-02-11 14:24] trungutt commented on #2655
`term.onKey('key', function (key, ev) {` is not correct.

Use `term.onKey(function (key, ev) {` instead 😃

[2020-02-11 14:49] JavaCS3 commented on #2694
@jerch I think my first reply https://github.com/xtermjs/xterm.js/issues/2694#issuecomment-584537861 is a little bit misleading. @Tyriar‘s [suggestion](https://github.com/xtermjs/xterm.js/issues/2694#issuecomment-582441156) can solve my problem as well. I want to explain why we need access alternate buffer in my user case. Sorry for my poor expression.

[2020-02-11 15:03] #2655 closed

[2020-02-11 15:04] jerch commented on #2694
@JavaCS3 All good, no need to apologize. I think we should discuss further serialize ideas in another thread. It seems, @mofux needs something similar to the replay thingy as well (reading between his lines).

[2020-02-11 15:08] mofux commented on #2694
@jerch I guess there was some misunderstanding 🤗 All I need is clean way to tell the serialize addon which buffer to serialize. I think the API proposed by @Tyriar will provide it with the API required to do so.

[2020-02-12 07:52] quyleanh commented on #30
How about in Safari on iOS? I cannot hold and select paste. There is no option.

[2020-02-12 12:56] Tyriar opened #2714 "Have integration tests run their own server on a port other than 3000"
Right now the tests rely on the demo being up and running on port 3000, it would be nicer if instead the tests set up their own server on a different port and tore it down after running the tests.

[2020-02-12 13:23] Tyriar commented on #2694
This is what I want eventually as well, consider the following scenario:

1. Open VS Code
2. Open a terminal
3. Open `vim`
4. Restart VS Code
5. A terminal gets opened, restoring the normal and alt buffers

I know there is other state/modes in the terminal which may cause problems with this restore but it should cover most cases for the time being and we can always improve as needed later.

[2020-02-12 15:19] Tyriar commented on #2586
Well removing this one seems to work fine on macOS, if it works fine on Linux we can probably move ahead with that:

https://github.com/xtermjs/xterm.js/blob/fbeb45d1da9960cb9ebb0fea56882128696a254b/src/browser/renderer/dom/DomRenderer.ts#L159

[2020-02-12 16:06] kumaran-14 commented on #2586
Cool. I will send a pr.

[2020-02-12 23:08] backspace opened #2716 "Support reverse-wraparound mode?"
I’m implementing a highly-restricted terminal with Xterm.js to allow users to edit their desired remote execution command before they connect to a true terminal. The editable portion of the line is only at the end; the rest represents the full command that one would use to perform the same action in a non-web terminal.

It’s a bit hackish to be interpreting keyboard events to edit a string, but it

[2020-02-12 23:54] Tyriar opened #2717 "Add typescript.format options to .vscode/settings.json"
To be a little more explicit on the preferred format in the code base. Note that we have an .editorconfig as well but I think the formatting information in that is quite limited.

[2020-02-13 00:05] #2586 closed

[2020-02-13 16:49] #2708 closed

[2020-02-14 15:24] jerch commented on #2716
@backspace Good you brought that one up, I'll look into it. Kinda would need it myself for my hackish fakepty implementation to get better ICANON support. But note that the support across other emulators is not that good (thus application code should not rely on it).

Is that even possible solely done in xterm.js (thus on user side)? Imho you need a server component doing the command checks, other

[2020-02-14 18:17] backspace commented on #2716
Thanks for looking into it!

I don’t understand what you mean about possible malicious uses. The purpose of the restricted-editing is to set the command to whatever the user wants, which is then included in the URL for a WebSocket that connects to a shell started by that command. It’s a two-phase operation where first you specify the command and then use it to get a remote session.

[2020-02-14 22:08] jerch commented on #2716
@backspace Ah nvm - when I read "highly-restricted terminal with Xterm.js" I kinda thought you are trying to limit the command input for the user with xterm.js.

[2020-02-15 08:59] yinshuxun opened #2719 "add a search bar addon"
I have a idea to contribute a PR to add search bar addon.
what do you think  about this idea ?
![image](https://user-images.githubusercontent.com/18656086/74585014-5b06e280-5013-11ea-9995-b4646c264daa.png)
[code]

[2020-02-15 10:40] Tyriar commented on #2719
The reason the season addon doesn't contribute any UI is because thee UI would need to be tailored specifically for basically every usage and not allow buttons to be moved around. Since creating the UI is relatively simple I think we should avoid doing this sort of thing. By all means create an addon under your user though if you would fine that useful.

[2020-02-15 10:40] #2719 closed

[2020-02-15 14:23] Tyriar opened #2720 "Move from CacheBeta task to Cache"
https://docs.microsoft.com/en-us/azure/devops/pipelines/caching/?view=azure-devops

https://github.com/xtermjs/xterm.js/blob/5f0217cdb0baf353b3deedfab25e6e9b49c3d45f/azure-pipelines.yml#L21

[2020-02-15 15:22] #2700 closed

[2020-02-15 15:35] Tyriar opened #2721 "Linux firefox and webkit tests are not being run"
Need some system deps to get it working:

https://github.com/microsoft/playwright/blob/8cfdeb99bd0ca27ee6c622776d989e5d444eb0be/.github/workflows/tests.yml#L138

[2020-02-16 03:12] jmbockhorst commented on #2699
@Tyriar is this done?

[2020-02-16 15:50] #2699 closed

[2020-02-16 16:08] #2721 closed

[2020-02-17 11:34] LabhanshAgrawal opened #2900 "Some ligature characters are wider than normal"
We're using this addon in [hyper](https://github.com/zeit/hyper)
For characters which have ligatures when they are repeated (-, #, = etc.), if you have a large number of them (eg. in loading bar during yarn install) the slight increase in width becomes apparent and the text gets ahead of the cursor, then on typing some different character, it renders in the correct place. But ends up overlapping w

[2020-02-17 18:44] PerBothner commented on #2498
I didn't see this mentioned: The Fish shell interprets Alt+Enter to [enter multi-line mode](https://fishshell.com/docs/current/index.html#multiline-editing).

Of the terminals I've tested, it works on gnome-terminal, Konsole, and DomTerm - but not xterm.

[2020-02-19 14:38] Tyriar opened #2726 "Merge ligatures addon into core repo"
The thinking changes from having separate addon repos to just including them all in one to simplify development and releasing. The ligatures addon also keeps having regressions, we should pull https://github.com/xtermjs/xterm-addon-ligatures into `addons/xterm-addon-ligatures`.

It should be relatively easy to pull the code over by following existing patterns established by the other addons.

[2020-02-20 13:59] Tyriar commented on #2694
Just came up with my own use case for checking if the alt buffer is active: https://github.com/microsoft/vscode/issues/90838

[2020-02-21 18:01] jerch opened #2727 "Flaky integration test in CI"
The new integration test for registering a link provider does not return in time for macOS:

[code]

Code: https://github.com/xtermjs/xterm.js/blob/708c6bdeb81d5fa063d5090dac9a47eb531f35d7/test/api/Terminal.api.ts#L616-L661

[2020-02-21 18:35] jerch opened #2728 "Revise isWrapped behavior"
Tracking issue about `isWrapped` flag.

We have several issues with `isWrapped`, especially we should investigate, where this needs to be lifted again. Possible candidates:
- print after cursor movement sequences?
- content change by sequences (DCH, ECH, ED, EL, BS)?
- How to deal with scroll margins?
- others?

The tricky part here is to find a useful good pattern to apply. Since many other emula

[2020-02-21 18:44] jerch opened #2729 "Renderer bug for last cell in row"
Coming from #2724.

Repro:
- run `cat` in browser
- insert content up to the end of line
- issue: last char is not shown
- insert another char: cursor jumps to next line, missing char before shows up, new char and cursor at 2nd line

No clue yet what causes this, it might be related to the fact, that during ICANON input the cursor will be at `term.cols` for one char. It does not happen for ~ICANON

[2020-02-23 00:47] SterlingButters opened #2732 "Demo Error & No Terminal in WebPage"
## Details
- Browser and browser version: Safari 13.0.5
- OS version: Raspbian Buster
- xterm.js version: Latest

### Steps to reproduce

1. Clone repo
2. npm install
3. create lock file (per npm recommendation to fix vulnerabilities)
4. `sudo node /demo/start.js` results in:

[code]

And the following shown from `http://127.0.0.1:3000` (accessed remotely from local network ip hence safari browser

[2020-02-23 14:45] Tyriar commented on #2732
Does it happen when you use yarn? We have a lock file already but you need to use yarn to get the right versions of packages. Webpack or something might be an incompatible version.

[2020-02-23 14:52] jerch commented on #2732
@Tyriar For me even `npm install` does not work with master branch, it complains:
[code]

`yarn` works as expected. Any clue why `npm install` struggles here? Lock file again?

[2020-02-23 23:49] SterlingButters commented on #2732
@Tyriar Here is yarn output:
[code]

Still no web terminal output

[2020-02-23 23:52] SterlingButters commented on #2732
Honestly I'd be happy to avoid the demo if there was an easy way to bind xterm to pty using just express server `.js` and `index.html`. Is there an easy way to do this or some documentation on how to do this?

[2020-02-24 00:53] jerch commented on #2732
@SterlingButters You dont have to use any sophisticated buildchain, its just inconvenient not to use things like webpack as it makes life easier.

To do it "by hand" (untested):
[code]
Thats the most basic HTML template to set up xterm.js. For `sendToServer` and `dataFromServer` you can use whatever mechanism suits your needs, e.g. a websocket or ajax long-polling. Or something more high level lik

[2020-02-24 02:10] SterlingButters commented on #2732
@jerch thank you so much for that response! And so just to clarify, `node-pty` will handle server-side terminal objects and the websocket will just transfer the data between the two?

[2020-02-24 02:36] jerch commented on #2732
Not sure what you mean with server side terminal objects. `node-pty` takes care of creating a pty and starting a shell as the first process at the slave side. You need to connect the pty to xterm like this:
[code]
Yes, the websocket is just a transport layer to forward the chunks as IPC or remote delivery in case `term` and `pty` are not in the same process (which is always the case for server-cli

[2020-02-24 12:17] jcubic opened #2733 "Link exchange"
I think that Xterm.js and [jQuery Terminal](https://terminal.jcubic.pl/) are two most popular JS libraries that add terminal feature to web pages. They are overlapping in functionality but are used for different purpose.

So my question is do you want to exchange links (it will be better for SEO and users will easier find exact projected they need). I've already been asked few times, how to do som

[2020-02-24 14:38] Tyriar commented on #2732
Ok, it's fine that npm install doesn't work and kind of expected as we say to use yarn in the docs https://github.com/xtermjs/xterm.js/wiki/Contributing#running-the-demo

[2020-02-24 15:12] jerch commented on #2732
@Tyriar Yes yarn manages to install the right version due to the lock file entry. I know that the lock file idea is needed due to those version incompatibilities, still I wish ppl would take semantic versioning more serious as it is a really nice way to deliver bugfixes without breaking the universe, and npm/package.json has great support for pulling bugfix/minor version updates. But that does not

[2020-02-24 18:38] Tyriar opened #2734 "Search does not expand selection left when appropriate"
Consider the following terminal buffer:

[code]

Searching for "t" will select the second "t" (because of backwards search), doing an incremental search for "tt" will find no results:

![image](https://user-images.githubusercontent.com/2193314/75180610-69c75680-56f1-11ea-831d-5076d799effd.png)

We should cover this edge case where the only result is expanding the selection left. Additionally, if t

[2020-02-24 18:59] SterlingButters opened #2735 "setCursorPosition method for Terminal.buffer"
As far as I can tell from the docs, it is possible to obtain the `cursorX` and `cursorY` properties from the `buffer` property of the `terminal` class but there is no way to set these properties with a method.

1) Is there an existing way to accomplish this?
2) This would be useful for allowing the user to only move the cursor horizontally

[2020-02-24 20:09] SterlingButters commented on #2735
Ahh I can just use the escape sequences:

[code]

[2020-02-24 20:09] #2735 closed

[2020-02-25 12:34] kumaran-14 commented on #2702
@Tyriar I'd like to take this up. Where would the extra flag `--debug` be handled?
And what would the change in the file you've mentioned?

[2020-02-25 15:40] Tyriar commented on #2702
@kumaran-14 we probably need a script to wrap mocha, say `./bin/test_api.js` which sets a `DEBUG` environment variable and launches mocha? Follow that line with something like:

[code]

[2020-02-25 18:34] felixse opened #2736 "Selection color with transparency is black in Legacy Edge"
When using a color with transparency for selection the color is rendered black in Legacy Edge. Chromium based browsers are not affected.

## Details
- Browser and browser version: Microsoft EdgeHTML 18.18363
- OS version: Windows 10 1909
- xterm.js version: 4.4.0

### Steps to reproduce

1. Add `term.setOption("theme", { selection: "rgba(255, 0, 255, 0.5)" });` to the demo
2. Select text in Legacy

[2020-02-25 19:07] SterlingButters commented on #576
@Tyriar @jerch Could you expound on the usage of the parser and how one might achieve correct usage?

[2020-02-25 19:30] Tyriar commented on #576
@SterlingButters there's an issue to create a guide on the website on this https://github.com/xtermjs/xtermjs.org/issues/116

[2020-02-25 19:40] Tyriar commented on #2736
@felixse does this happen in both canvas and dom renderers?

[2020-02-25 19:59] felixse commented on #2736
This happened in the canvas renderer. Just retried with dom and it's displaying no visible selection instead.

[2020-02-25 20:50] UziTech opened #2737 "non-transparent selection covers text"
Setting selection color to non-transparent color (e.g. `#0000ff`) covers text in canvas but not when using webgl addon.

## Details
- Browser and browser version: Chrome 80.0.3987.122
- OS version: Windows 10
- xterm.js version: 4.4.0

### Steps to reproduce

1. Go To https://codepen.io/UziTech/pen/gOpmPGo
2. Select text in each terminal

![image](https://user-images.githubusercontent.com/97994/75

[2020-02-25 21:55] Tyriar commented on #2737
This is kind of by design. For the normal renderers this was always a limitation as there was no efficient way of doing it, monaco has a similar issue where text background is not supported at all for performance reasons. So for historic reasons the selection color is meant to be transparent.

The WebGL renderer however was finally able to do it efficiently so we can draw the selection behind the

[2020-02-25 22:19] SterlingButters commented on #2728
I just wanted to add that right now this does not appear function for the 1st wrap. I.e. when the cursor drops to line 2 for me, `!...isWrapped` continues to return `true` and it is not until cursor drops to line 3 that `!...isWrapped` returns `false`.

Happy to share code

[2020-02-25 22:56] jerch commented on #2728
@SterlingButters Kinda, it caused this tracking issue here in the first place and is part of BS handling.

[2020-02-27 20:02] gromovadarya90 opened #2738 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-28 08:55] roguexiaohuihui opened #2742 "SearchAddon need to support all highlighting"
Now the SearchAddon plug-in can only search one by one using the findNext feature.

Can you highlight all the results at once, in different colors, and then trigger findNext to a search result and scroll to the corresponding location?

similar to the vscode search function.

[2020-02-28 15:05] Tyriar commented on #2742
duplicate of https://github.com/xtermjs/xterm.js/issues/1653

[2020-02-28 15:05] #2742 closed

[2020-02-29 00:13] andersevenrud opened #2743 "Rendering issue on input events when using RTL"
Hi,

I'm having a really strange issue with xterm when using the `direction: rtl` CSS style (or `dir` HTML attribute) anywhere in my layout.

This is most likely related to https://github.com/xtermjs/xterm.js/issues/1330 that was fixed.

On certain input events the terminal moves outside the viewport in the rightward direction even though the actual Terminal root DOM element is inside another elem

[2020-02-29 11:08] gfadlallah opened #2744 "Resize/reflow broken"
![gif](https://user-images.githubusercontent.com/25337748/75606357-9fc55b80-5aa0-11ea-9bc7-76c2f93e4a2f.gif)

Resize is pretty broken, as it doesn't properly wrap text. This is making it difficult to create split panes which are resized often. I've tested this behavior in VSCode and it appears to be an issue there as well. I suspect this may be an inherit problem with the renderer/pty coordination

[2020-02-29 14:48] Eugeny opened #2745 "DECSTR handling corrupts screen"
It seems that although the default behaviour for DECSTR is to reset cursor position, other terminals (xterm, macOS terminal, gnome-terminal) don't do this. In particular, GNU screen issues DECSTR before going into alternate screen mode, and after returning from it, the cursor ends up in 0;0, writing over old screen contents. Here's an output dump from an actual GNU screen in-and-out (JS string, ca

[2020-02-29 14:53] Eugeny commented on #2745
Here's related xterm source where they only reset cursor for RIS, not DECSTR: https://github.com/joejulian/xterm/blob/defc6dd5684a12dc8e56cb6973ef973e7a32caa3/charproc.c#L9885

[2020-02-29 17:16] Tyriar commented on #2743
This is https://github.com/xtermjs/xterm.js/issues/2598 as the testing page is super wide due to this css:

https://github.com/xtermjs/xterm.js/blob/ae135ac181b080fce0a13853c19a768c973cc4be/css/xterm.css#L61-L68

Adding this prevents it from happening which proves this:

[code]

[2020-02-29 17:16] #2743 closed

[2020-02-29 17:23] Tyriar commented on #2744
I've also tested other terminals and seem this as a problem for many of them as well. This happens either as a result of bugs in shells or because resize in xterm.js does not wait on node-pty. The only thing I'm thinking we could do to fix this is to make the resize operation completely synchronous which would be something up to the embedder or xterm.js. So once a UI resize event happens, node-pty

[2020-02-29 17:32] andersevenrud commented on #2743
Indeed, that seems to solve the issue. Thanks :)

[2020-02-29 18:26] jerch commented on #2744
I second what @Tyriar says - and want to add that even with sync resize dispatching we cannot completely avoid those issues, only lower the chance to trigger it. This is due to the simple fact that we cannot control buffering on the slave side of the pty. Also note that xterm.js has a general disadvantage here compared to other emulators due a "long line" from pty to the terminal (we tend to have

[2020-02-29 18:40] jerch commented on #2745
@Eugeny Yes DECSTR (and RIS as well) is still off compared to other emulators (as I found out in the sequence docs PR). The issue at hand though seems to be derived from the official VT docs, which states to reset the cursor to home position (https://vt100.net/docs/vt510-rm/DECSTR.html). I have not yet looked into it, maybe we miss a cursor restore call somewhere along DECSTR / buffer switch?

[2020-02-29 18:42] Eugeny commented on #2745
It seems that at least GNU Screen doesn't save cursor position until after DECSTR.

[2020-03-01 11:43] jerch commented on #2745
Oh well, seems the docs were interpreted wrong in this regard. Looking at DEC STD 070 it clearly states:

Regarding the cursor DECOM and DECSC are reset, I guess DECSC got misinterpreted as resetting the active cursor position. But it should only reset the values stored in the cursor save structure to the home position (thus a following DECRC would move the cursor to home).

[2020-03-01 12:36] jerch commented on #2745
@Eugeny Should be fixed in #2746.

[2020-03-01 20:02] gfadlallah commented on #2744
@Tyriar @jerch That makes sense. I'm observing a race condition between the pty resize and the xterm resize. We tell pty to resize, and by the time we get data back corresponding to how we should draw the cursor line, the xterm window has already changed size, so the data we obtain is stale. In many cases the ANSI escape sequences we receive from pty on resize cause xterm to write outside of the c

[2020-03-01 20:40] jerch commented on #2744
@gfadlallah Yepp, this summarizes the problem behind the curtain.

This wont work either, as we dont know whether the next chunks are a result of SIGWINCH, where the app tries to "repair" the screen state.

Only chance I see is to do the full roundtrip and drain buffers in between:
- terminal gets resized
- pause pty
- drain all buffers
- call pty.resize
  - triggers SIGWINCH
  - app might want to

[2020-03-02 00:47] gfadlallah commented on #2744
@jerch Fair enough, thanks for explaining a possible solution. Will try to work around this by simply debouncing the pty resize and creating a UX that mitigates this behavior.

Closing this now, but submitting another sizing bug that I think is unrelated to this behavior.

[2020-03-02 00:47] #2744 closed

[2020-03-02 01:02] gfadlallah opened #2747 "xterm doesn't recognize line above cursor as part of buffer"
Create a terminal line, and then resize the window so that it becomes two lines on screen. Resize the window once more so that the entire line is on screen again (all good!). Now, create a second terminal line by pressing "Enter". At this point, if you resize the window, the first terminal line isn't recognized by xterm's buffer and doesn't resize properly.

This is how it looks if you resize the

[2020-03-02 14:48] Tyriar commented on #2747
Haven't confirmed but looks like a bug.

[2020-03-02 15:12] Tyriar opened #2748 "Upgrade to target ES6"
VS Code just dropped IE11 support so it could target ES6. I suggest we do the same which makes Old Edge v18 the low bar: https://github.com/microsoft/vscode/issues/90676

This would mean cutting IE11 support completely which could cause problems for some clients so we'll target v5 as this will make IE11 incompatible with the lib.

[2020-03-04 14:27] JavaCS3 opened #2749 "Create a node.js target for xterm.js"
## Details
- OS version: node
- xterm.js version: 4.4.0

[code]

### Steps to reproduce
https://runkit.com/embed/q7w97d0b8wj2

Looks like webpack4 bug,
See: https://medium.com/@JakeXiao/window-is-undefined-in-umd-library-output-for-webpack4-858af1b881df

[2020-03-04 15:05] Tyriar commented on #2749
xterm.js won't work in node because it relies on window and the DOM, it needs a browser.

[2020-03-05 03:51] JavaCS3 commented on #2749
@Tyriar Though xterm.js doesn't support node env, it should be working at importing level.
I wish xterm.js will support headless mode some day.

[2020-03-05 16:48] Tyriar commented on #2749
@JavaCS3 if https://github.com/JavaCS3/xterm.js/commit/54ec873c037d87a535afab3e710f58dbda4fc95d is all that's needed to unblock you for this then we can take that, there may be other runtime problems though? I'm also not totally sure how a headless node-only version is useful. It looks like xterm-player is a browser app?

[2020-03-05 20:45] jwhitley commented on #1145
As an aside, I note that both neovim and tmux now fully support undercurl in current releases as of this writing. It's pretty great when used with coc.nvim for LSP support, plus the appropriate undercurl highlight definitions.

[2020-03-05 23:33] jerch commented on #1145
We should implement this, its very useful for editors, debuggers etc.  :smile_cat:
Any takers?

There are 3 major gems hidden here though:
- extend sequence handlers to support those new sub parameters - easy one
- extend the buffer to hold needed information - tricky one, we have currently only 5 spare bits per cell (in total, not per channel lol), we either need to extend the buffer by another u

[2020-03-06 03:40] JavaCS3 commented on #2749
@Tyriar It's not that urgent for https://github.com/JavaCS3/xterm.js/commit/54ec873c037d87a535afab3e710f58dbda4fc95d
I can wait until xterm.js core parts get separated or workaround in someway.

xterm-player is a browser app.

The idea of running xterm.js in headless mode is, I want to create a terminal based live sharing stuff that allow anyone to join that sharing session at anytime. Just like a

[2020-03-06 10:25] egmontkob commented on #1145
Really? Even two years ago, when I played with it, Firefox and Chromium supported curly and colored underlines.

(Chromium's one is much uglier, though. It can only draw entire periods, the last, partial period of the curly underline is completely omitted. It also stops and restart the curly underline on every DOM element boundary.)

Maybe even for browsers you could resort to some background imag

[2020-03-06 12:06] jerch commented on #1145
@egmontkob

Yeah, well its a mixed picture. I tested it with dashed/dotted, which leads to really ugly output or no underlines at all. Support for curly might be better. This needs some testing beforehand, still my guess is that we will have to resort to "drawing-by-hand" here to avoid box borders artefacts and such.

Thx for clarification. Yeah the attribute storage is an issue of its own, I test

[2020-03-07 17:45] jwhitley commented on #1145
FYI, there's a Chromium bug related to [fixing the really poor rendering(https://bugs.chromium.org/p/chromium/issues/detail?id=668042) of `text-decoration: underline wavy`. That was blocked by the advent of "LayoutNG", which has apparently now [landed](https://developers.google.com/web/updates/2019/06/layoutNG).

So theoretically, it might be possible to avoid a custom renderer (for Chrome*, at le

[2020-03-07 17:48] jwhitley commented on #1145
Clarification: there's a good argument based on use cases like this one that wavy underline should render the wave angle based on a notion of absolute/viewport coordinates(?), not box-relative coordinates. If FF "does the right thing" on that point, it's additional ammunition to make that argument re: the Chromium issue.

[2020-03-07 21:17] egmontkob commented on #1145
Whoever uses underline color = bg color to hide the underline, rather than disabling it: screw them! :)

(I mean: you have a valid point, we haven't thought of it. I guess we'll extend to 8+8+8 bits if it really becomes an issue.)

This leads us to the next question: if the underline crosses the letter, whose color should matter? VTE draws the underline fist, followed by the letter, so that the le

[2020-03-08 01:10] jerch commented on #2716
@backspace Can you check if #2724 works for you? Note that you have to switch reverse wrap-around on by sending `CSI ? 45 h` before you can use it. You can only revert soft wrap, hard line breaks by `\n` cannot be undone with it. Its also not possible to peek into the scrollbuffer (if the soft wrap happens from last line in scrollbuffer to the first in the viewport). Not sure yet if we should make

[2020-03-08 12:32] jerch commented on #1145
Haha yepp, still ppl gonna do funky things and think it was a smart move ;)

Wasnt even aware of the skip-ink capability. Well both questions dive deep into typesetting realms, which I have no educated opinion about - can only tell you if something pleases my eyes lol. How would a typesetter put a colored, not "skip-inked" underline here, above or below? I cannot really answer that, in hand-writte

[2020-03-08 20:43] egmontkob commented on #1145
I agree. The question reminds me of the ["end of town" road signs](https://en.wikipedia.org/wiki/Town_sign) in my country where usually the diagonal strikethrough is in the front, sometimes making it non-obvious what the exact name of the town is.

We don't have skip-ink in VTE, we just draw the underline first, followed by the letter. But if we were to implement skip-ink, we'd probably print the

[2020-03-08 21:34] jerch commented on #1145
How about flourishes at the beginning and the end? We also have a strong need for medieval majuscles in the terminal. :rofl:

[2020-03-08 21:39] egmontkob commented on #1145
Definitely! :wink:

[2020-03-08 23:23] jerch commented on #1145
Made a quick hack on the DOM renderer with #2751 to get a first impression. Well, thats what I get in Chrome:

- font-size: 14px
![image](https://user-images.githubusercontent.com/6193135/76172901-8c9a4600-619a-11ea-9e65-062510b7bb77.png)

- font-size: 16px
![image](https://user-images.githubusercontent.com/6193135/76172920-b0f62280-619a-11ea-9f61-6f5a3ebbeee1.png)

- font-size: 20px
![image](http

[2020-03-09 01:24] jwhitley commented on #1145
I was a bit afraid of that from rather less in-depth testing, just faffing with the MDN `text-decoration` page and FF/Chrome inspectors. At least at larger sizes, FF seemed much better than Chrome for `underline wavy`. Chrome is just.. questionable as heck.

[2020-03-09 05:41] backspace commented on #2716
The name really is an amazing coincidence from 2008, I love it having aligned with this so far in the future. Thanks for the possible fix, I should be able to try it out tomorrow! The limitations sound fine to me for my use case. 😍

[2020-03-09 12:07] jerch commented on #1145
@jwhitley What Chrome does is def. too unreliable,  not showing the wavy line for certain font sizes is a full showstopper, the artefacts in dashed and dotted are also bad. FF does alot better, still the box border issues would lead to very poor output and should not be used. I think FF would do alot better if we would not put every char into its own box, but if we change that in the DOM renderer,

[2020-03-09 13:36] adamjimenez opened #2752 "wrap issue when prompt is over 2 lines"
The cursor positioning is off when backspacing if the prompt is over two lines:

![ssh wrap](https://user-images.githubusercontent.com/573192/76217501-7035f200-620a-11ea-8ac4-ea552cf853de.gif)

Also is there a way to remove the path from the prompt?

(xterm@3.14.5)

[2020-03-09 14:52] Tyriar commented on #2752
Might be another issue with resizing? Is this in the demo or your own program?

[2020-03-09 14:57] adamjimenez commented on #2752
own program

On Mon, 9 Mar 2020 at 14:52, Daniel Imms <notifications@github.com> wrote:

--
Best regards,
Adam Jimenez

[2020-03-09 19:05] jerch commented on #1145
Early self-drawing approach with DOM renderer:

![grafik](https://user-images.githubusercontent.com/6193135/76248036-d50c3f00-6240-11ea-855b-37e8aec72014.png)

The underline is actually a 3px high background image on the line, thus text will print on top. It seems easier to get complex underlines working with this approach, will see.

[2020-03-09 22:10] jerch commented on #2752
Backspacing into previous line? This should not be possible at all until #2724 has landed and got activated by an explicit CSI command.

@adamjimenez Can you give abit more context, how you set up xterm.js?

[2020-03-09 23:59] backspace commented on #2716
I struggled a bit to get it built and importable in the application, but once I finally got that working, I can confirm that it does indeed behave as desired! This is great for me; I had written a workaround to handle something like this myself, but I definitely think it’s better to have included in Xterm.js, especially since it’s a real Xterm feature. Thank you so much! Let me know if there’s any

[2020-03-10 00:54] jerch commented on #2716
Well I am unsure whether it should be able to fetch the last line from scrollbuffer back into the active cursor area. Downside of the current impl - if you have a rather longish command, that fills more than one terminal page, you cannot go all the way back to the first char of the command, it always stops at the top-left. Most likely not an issue for typical terminal sizes, still inconvenient. Li

[2020-03-10 07:49] adamjimenez commented on #2752
I'm using xterm in [ShiftEdit](https://shiftedit.net). The back-end is provided by [ttyx](https://github.com/risacher/ttyx).

[2020-03-10 11:15] jerch commented on #2752
@adamjimenez Looking at your code in https://github.com/adamjimenez/shiftedit/blob/fb218169a4e323e78697887ecbfb70fe43ff31f1/app/ssh.js#L182 I wonder what that custom key handler is used for? Normally you dont have to deal with any key overrides yourself, xterm.js handles that for you and you can simply work with data from `onData`. Not sure if this code is related to the issue.

Thats way outdated

[2020-03-10 15:35] adamjimenez commented on #2752
@jerch The reason for the custom key handler is to handle multiple instances so that the data is passed to the correct instance.

I've updated to xterm@4.0.2 and am seeing a similar pattern of behaviour when the prompt wraps onto three lines.

BTW thanks for the support, the fact that you dug into my repo to help me out speaks volumes   😃

[2020-03-10 15:53] jerch commented on #2752
Oh well, I overlooked that - so you only see this, if its a shell prompt over several lines? Thats an important bit of info, because shells are smarter in line processing and actually move the cursor around.

Can you switch the log level to 'debug' (`new Terminal({logLevel: 'debug'})`) and post the console.log here? Also check if the pty and the terminal has the same size when this happens.

[2020-03-10 19:22] backspace commented on #2716
Hmm yes, I see what you mean about the multi-page situation, I just tried it out. For my use case, I feel like this will never happen; even wrapping across one line should be rare, only when the pre-inserted and uneditable portion of the command happens to extend almost to the end of a line. But for a general solution, this limitation does seem worrying to me. I feel like reverse-wraparound will b

[2020-03-10 20:29] jerch commented on #2716
Thx for your feedback. Yeah gonna keep it that way for now and see if ppl have issues with it (unlikely, most ppl wont even be aware of that feature, other never input commands that long). The upcoming [VT feature list](https://deploy-preview-117--writer-austin-55537.netlify.com/docs/guides/vtfeatures/) will contain a note about reverse wrap-around once we merged it.

[2020-03-11 10:42] jerch opened #2755 "Move vtfeatures script over to website repo"
Currently the script to extract vtfeatures and create the markdown file resides under this repo, which is unfortunate, as it creates PRs on both repos, if template changes are needed. The xterm repo should not be bothered with this at all, thus we should move the script to the website repo.

[2020-03-11 15:52] adamjimenez commented on #2752
Yes, it does appear to have something to do with the shell prompt.

I've enabled logs and captured this recording:

![ssh wrap 2](https://user-images.githubusercontent.com/573192/76434164-39e4a800-63ad-11ea-99ba-02332108440b.gif)

It happens with or without resize.

[2020-03-11 23:18] jerch commented on #2752
@adamjimenez Yes, sadly that a known race condition we cannot do much about currently as it needs a fundamental rewrite of the resize cycling and propagation. Furthermore, even with this rewrite we cannot completely avoid it, and the rewrite would introduce pretty bad delay during resizing. So its not yet clear how even a partial fix should like.

@Tyriar Were there some recent changes regarding t

[2020-03-11 23:51] jerch commented on #2752
@adamjimenez Did some further tests with other emulators and different shells. For me this faulty behavior is always reproducible with bash in any emulator (tested gnome-terminal, xterm, konsole, rxvt): as soon as the prompt content hits the third line, it goes all bonkers. No matter if there is pending input behind or not. Which actually makes me think, that it might be a bug in bashs prompt refr

[2020-03-12 01:01] adamjimenez commented on #2752
Thanks for digging into this. Can confirm, I'm also on Ubuntu 18LTS with bash v4.4.20

[2020-03-12 05:25] AndrewSverdrup opened #2756 "Loading bars print on multiple lines when they are longer than the terminal width."
I love Xterm.js, thanks for making an awesome web-based terminal!  I've noticed an issue for a while now but never got around to reporting it. The loading bars print on multiple lines when they are longer than the terminal width. I made a minimal reproduction case here https://codepen.io/AndrewSverdrup/pen/eYNVQzP. More details below, but the CodePen is hopefully pretty self-explanatory.

## Detai

[2020-03-12 09:50] the21st commented on #2749
I'd also love it if xterm supported node. I originally thought node is supported, since xterm can already run in "headless" mode: https://github.com/xtermjs/xterm.js/issues/266 , without being attached to a DOM.

I tried a simple workaround in my code, just setting `global.window = undefined` and that fixed the `ReferenceError` and everything is working as expected. It's just a pain to have to set

[2020-03-12 11:42] jerch commented on #2749
Thats a neat trick to get it loading. Also most of the core parts should work, thats basic I/O (`write` and `onData`), basic parser stuff and reading from the buffer. But I am not sure if all browser access code is already hidden behind `.open` or behind proper browser service checks, I remember still getting `document` errors with`term.write` tests months ago w'o touching `.open`.

As I wrote abo

[2020-03-12 13:48] jerch commented on #2752
This issue reveals a zoo of quirks and broken workarounds. On both ends, xterm.js and shells.

Did some further tests with bash and zsh, all were done with a clean longish PS1 string containing only 'a'. This is needed to avoid runwidth calc errors in libreadline, more on this below.

Results:
Currently all shells redraw their prompt on their own after a resize. For this they all rely on the old r

[2020-03-12 14:08] egmontkob commented on #2752
I haven't implemented and not willing to implement anything like this in VTE. I fully support your plan to:

Any other approach is arbitrary, likely causes unfixable side effects elsewhere, and unlikely to get implemented identically across terminals.

Yup, that would be great, but the current methods for announcing terminal features are pretty broken, and is not something I particularly focus on.

[2020-03-12 14:16] egmontkob commented on #2752
@jerch Your latest comment was about rewrapping, and I reflected that. However, now that I take a closer look (checked the screencasts at least), there's no resizing involved.

It's simply that bash's prompt displaying has always been buggy. I looked at that code once (a long time ago), it's a disaster. They improved it over time, it got better and better (but never perfect) up to bash 4.4, and th

[2020-03-12 14:35] jerch commented on #2752
@egmontkob Well I kinda missed that the OP was in a shell prompt in the beginning (although clearly stated), thus this wrong comment.

After my last tests I think the issue at hand is related to errors in PS1 runwidth calcs and offset errors. Though I couldnt repro it w'o any resizing, only after at least one resize in between. Thus my digging into this direction.

I think the reflow issue is more

[2020-03-12 15:28] jerch commented on #2756
@AndrewSverdrup Your code reprints the whole line for every added character with a leading CR. Thus if your string wrap to the next line, the next CR will place the cursor in front of the second line and start printing from there. Since you reprint the whole line, you see everything "doubled".

Thats not a bug in xterm.js, thats how terminals work. You need to fix that in your logic - either dont

[2020-03-12 15:28] #2756 closed

[2020-03-12 15:42] jerch commented on #2752
@Tyriar Any thoughts on this? Esp. regarding the prompt workaround?

[2020-03-12 16:26] Tyriar commented on #2749
To be clear, it was never my intention in https://github.com/xtermjs/xterm.js/issues/1507 to be able to run xterm.js within node.js. Just that we would have a clean separation in code such that we would never use the DOM within "common" (previously core) and that we could write pure node.js unit tests for core components without needing to bring in something like jsdom for them.

If it's easy to m

[2020-03-12 16:43] PerBothner commented on #2752
If both the shell and the terminal re-wrap when the window re-sizes, you get a race condition and there seems to be no way to avoid messing up the display: The terminal may re-display the input lines based on SIGWINSZ data, but by the time the re-display gets back to the terminal, the width may have changed. It's really hard to avoid messing up the display in such a situation, even if you have she

[2020-03-12 17:22] jerch commented on #2752
Agreed, it needs to be clear, who is responsible for the refresh/reflow. Imho if the terminal supports reflow, a shell should not bother at all anymore, otherwise it can stick to the old behavior.

I think that similar to what xterm.js tries here, but with an heuristic approach and not explicit "marking". With all the downsides, as it will fail for readline functions in almost any language, since

[2020-03-12 18:45] egmontkob commented on #2752
Exactly: if the terminal reflows, what the shell needs to do is _not to print anything at all_ upon a resize. (It probably still needs to update its internal state, like the physical cursor column.)

Mind you: bash-4.3 did not print anything at all immediately upon a window size change, it delayed the reprinting until the next keypress. 4.4 reverted to the behavior of 4.2 and earlier: repainting i

[2020-03-12 19:21] jerch commented on #2752
Wohoo, found a shell that works in this regard - `sh` :rofl:  (prolly `dash` too, did not test)

[2020-03-12 19:56] egmontkob commented on #2752
What software do you exactly refer to by `sh`?

`dash` has no line editing whatsoever, uses the kernel's cooked mode (just like e.g. a `cat`). Including the problems around backspacing over a soft linebreak.

[2020-03-12 20:02] jerch commented on #2752
Oh lol, it links to `dash`. Thought sh would be good old `ash`.

Yes, thats why brought up ICANON above. We have several broken broken interfaces around us lol.

[2020-03-13 10:46] jerch commented on #2749
Thats clear and also would not be possible for the browser part (unless someone steps in and reimplements 50% of the codebase by other means). But wouldn't it be a shame not to make the core parts available in nodejs? By testing them in nodejs we already have unofficial node support, it just misses a neat access interface.

Yepp - I think all it needs, is a stripped down interface removing all bro

[2020-03-13 11:34] flenter opened #2757 "Can't interact wih Scrollbar with screenReaderMode: true"
When the terminal is in screenReaderMode, it's no longer possible to scroll by clicking on the scrollbar.

## Details
- Browser and browser version: Firefox 74.0 as well as Chrome 80.0.3987.132
- OS version: MacOS 10.14.6
- xterm.js version: 3.0.14 as well as 4.4.0

### Steps to reproduce
1. Create a terminal with enough content so a scrollbar appears (on mac I changed the os setting so a scrollba

[2020-03-13 11:37] flenter commented on #2757
The problem is caused by the `.xterm-accessibility` element, which has a z-index of 10 (in release 4.4.0, see: https://github.com/xtermjs/xterm.js/blob/4.4.0/css/xterm.css#L153)

In my project's stylesheet i've added a z-index to`.xterm-viewport` as well as added a line that forces the background-color to be transparent (because an inline style is set on that item).

The ugly hack looks like this:

[2020-03-14 02:26] #2729 closed

[2020-03-14 04:48] UziTech opened #2759 "TypeError: Cannot read property 'onLinkHover' of undefined"
xterm-addon-webgl@latest (v0.5.1) does not work with xterm@latest (v4.4.0)

it throws error `TypeError: Cannot read property 'onLinkHover' of undefined` because xterm v4.4.0 does not have linkifier2 property on the terminal.

I think xterm-addon-webgl@0.5.1 was meant to be released as v0.6.0-beta.4

[2020-03-16 16:17] Tyriar opened #2762 "Move showcase to sub-directory"
The showcase list in the main readme has the following problems:

- It keeps going larger and is cluttering the readme (it's shown in npmjs.com)
- It's an enormous single list

Proposal:

- Move showcase to `./docs/showcase.md`
- Split list into categories, similar to [this](https://github.com/microsoft/playwright/blob/master/docs/showcase.md)
- Pull showcase automatically into website

[2020-03-16 18:58] Ph0enixKM opened #2763 "All theme colors not supported"
I wanted to apply custom theme but it seems that it's not possible for this version. In my opinion it seems to be some kind of bug. What I did in code is:
- set foreground color to `#0FF` (which is the cyan color - **good**)
- set green color to `#F00` (which is supposed to turn into red but it's still green - **bad**)

![Untitled](https://user-images.githubusercontent.com/29208124/76790275-d39dc2

[2020-03-16 20:48] Eugeny commented on #1898
Hey guys, is there anything I could do to help you fix this in the WebGL renderer as well?

[2020-03-17 00:53] Tyriar commented on #2763
That's likely `brightGreen` as it's bold. Or you can set `drawBoldTextInBrightColors` to false.

[2020-03-17 00:53] #2763 closed

[2020-03-18 12:26] Coding-Kiwi opened #2764 "Cursor blinking breaks when using window focus event listener"
I am using xterm inside electron, this bug does not occur inside a normal browser.

My plan was to automatically refocus the terminal when the application is focused again.
If I add the following lines inside the renderer.js the cursor starts blinking wild.

[code]

## Details
- Browser and browser version: electron 8.1.1 chrome  80.0.3987.141
- OS version: win 10.0.17763.1098
- xterm.js version:

[2020-03-18 12:34] Coding-Kiwi commented on #2764
I fixed it on my side by using the `browser-window-focus` provided by electron instead, but I thought you might want to know this. Also I'm curious why this happens

[2020-03-18 15:24] jerch commented on #2764
@Coding-Kiwi Yes I can repro it with our demo in chrome 80 under Ubuntu. I think it boils down to this function call: https://github.com/xtermjs/xterm.js/blob/9c19043fed27c5666a58aa110620b5488914bc76/src/browser/renderer/CursorRenderLayer.ts#L366-L370

which does not stop a still running blinking animation for a second focus event (re-focus). Prolly calling `this.pause();` at the beginning will fi

[2020-03-18 15:36] jerch commented on #1898
@Tyriar
On a sidenote: Since we somehow support transparent already for BG, we could extend official support for it in SGR by allowing `SGR 48 : 1`. The `1` is meant as transparent following the official specs. Not sure though about FG here, no clue how we could even draw that with the DOM renderer (while other renderers could use erase masks). Also, full transparency seems not very useful for FG

[2020-03-18 15:39] Eugeny commented on #1898
@jerch the idea is not to make inverted FG transparent, but rather ignore the alpha part of BG: https://github.com/xtermjs/xterm.js/issues/1898#issuecomment-457948917

[2020-03-19 09:15] hezedu opened #2765 "Demo server: Risk of memory exhaustion."
## Details
- Browser and browser version:
- OS version:
- xterm.js version: 4.4.0

### Steps to reproduce

https://github.com/xtermjs/xterm.js/blob/9c19043fed27c5666a58aa110620b5488914bc76/demo/server.js#L52-L55
Bind data event when term is created,
nerver unbind.
Log will continue to grow when term runing.

[2020-03-19 16:24] jerch commented on #2765
@hezedu The demo in the repo is not meant to be used as a blueprint for real world integrations, it is only meant for internal development and testing. The code in question helps to level out latency issues during pty spawn and xterm.js bootstrapping during test runs, nothing that should be copied over to a real world application.
Note that the demo has multiple serious issues:
- no flow control,

[2020-03-20 01:27] Tyriar commented on #2765
Well demo is short for demonstration which I think describes what it's trying to do. There's also this warning at the bottom of the page:

https://github.com/xtermjs/xterm.js/blob/9c19043fed27c5666a58aa110620b5488914bc76/demo/index.html#L47

I'll improve the message and add it to server.js as well such that a developer who wants to use server.js as a blueprint will have to read the warning.

[2020-03-20 01:29] #2765 closed

[2020-03-21 15:58] UziTech commented on #2759
@Tyriar is webgl supposed to work with xterm v4.4?

[2020-03-23 02:58] JavaCS3 opened #2768 "addDisposableDomListener dispose() leaking"
it will do nothing if it is not disposed
https://github.com/xtermjs/xterm.js/blob/bc9aaebd0442dd966dd2083ceb0661af323455a6/src/browser/Lifecycle.ts#L21-L29

[2020-03-23 02:59] JavaCS3 commented on #2768
Fix #2767

[2020-03-23 13:46] #2768 closed

[2020-03-24 10:36] coderaiser commented on #2759
I have the same issue, this is how I use `xterm-addon-webgl`:

[code]

On the last line I have:

[code]

[2020-03-24 10:44] Tyriar commented on #2759
I think this happened because of an oversight by bumping the version in https://github.com/xtermjs/xterm.js/commit/db304513b19ebd7ebd08abd020999cb7cea4bafe

xterm-addon-webgl@0.5.1 is _not_ compatible with xterm@0.4.0 so use 0.5.0 for now. I'll make a note on the releases page: https://github.com/xtermjs/xterm.js/releases

[2020-03-24 10:44] #2759 closed

[2020-03-24 10:44] Tyriar commented on #2759
FYI @jerch

[2020-03-24 11:31] jerch commented on #2759
@Tyriar How could this happen? Only made a small bugfix in private code not touching any API stuff. Pending previous changes? I was not aware, that bugfix version jumps would publish on its own, sorry for that.

[2020-03-24 13:33] Fdango opened #2769 "Enter top or htop, xterm only displays half"
## Details
- Browser and browser version:  80.0.3987.149
- OS version: mac
- xterm.js version: 4.2.0

### Steps to reproduce

1.
![image](https://user-images.githubusercontent.com/17996704/77430912-e182c100-6e16-11ea-82c0-2eeda31e4a71.png)
![image](https://user-images.githubusercontent.com/17996704/77430954-f1020a00-6e16-11ea-8178-258d99e90b0b.png)

When I type htop or top for the first time, the

[2020-03-24 13:37] Tyriar commented on #2769
It works fine for me, chances are your pty's size is not in sync with xterm.js's size.

[2020-03-24 13:56] Fdango commented on #2769
I only set term.onResize ((term) => ()) when window resize,Where should I sync?

[2020-03-24 13:58] Tyriar commented on #2769
@Fdango are you resizing your pty? On the demo this happens via node-pty here:

https://github.com/xtermjs/xterm.js/blob/fb5ff49008558f42050d4566f327cda5e578d059/demo/server.js#L66-L75

[2020-03-24 14:00] Tyriar commented on #2759
@jerch master moved on from 4.4 and I think webgl may have adopted internal naming changes since? Yep, bumping any addon versions will automatically publish, just like the main package.json.

[2020-03-24 14:16] Fdango commented on #2769
This is my react code，
[code]

[2020-03-24 23:05] Fdango commented on #2769
@Tyriar hey, i found the problem，
![image](https://user-images.githubusercontent.com/17996704/77484882-a7d9a680-6e66-11ea-9a17-7e7aafe8bc9e.png)
In my page, the parent element
[code]

Then something interesting happened. The height of xterm-viewport was 580, and the height of the child elements inside it was 540.

[2020-03-25 02:46] Fdango commented on #2769
This is the address I deployed :[https://xterm-beryl.now.sh](url)

[2020-03-26 01:43] #2769 closed

[2020-03-28 00:04] Tyriar opened #2784 "Target ES6"
Monaco is dropping IE support completely and I think we should follow as well as it lets us move to ES6.

This lets us use `Set`, `Map` and `ReadonlyMap` without worrying about partial compat, various string and array methods (see https://github.com/microsoft/vscode/issues/90676) among other things.

[2020-03-28 00:19] Tyriar commented on #2784
doh lol https://github.com/xtermjs/xterm.js/issues/2748

[2020-03-28 00:19] #2784 closed

[2020-03-28 12:08] Tyriar opened #2785 "Migrate to eslint"
tslint is deprecated, project references advice here https://github.com/typescript-eslint/typescript-eslint/issues/856

[2020-03-28 14:04] Tyriar opened #2787 "CoreMouseService uses non-standard naming and dangerous typing"
After migrating to eslint we get these errors:

[code]

Public methods and properties should be camelCase. Also they are used a little dangerously with `{[key: string]: ICoreMouseProtocol}` as the correct type is actually `{[key: string]: ICoreMouseProtocol | undefined}` (or better yet `Map<string, ICoreMouseProtocol>`) so refactoring it incorrectly could hide some runtime errors.

[2020-03-28 14:39] Tyriar opened #2788 "xterm-benchmark pulls in a bunch of dependencies that should be devDependencies"
In yarn.lock for xterm.js:

[code]

[2020-03-28 15:57] #2785 closed

[2020-03-28 23:41] jerch commented on #2787
@Tyriar Well the uppercase here results from the idea, to mark them as static data/functions, that are shared between all terminal instances.

They are not methods, they are just collected in those containers to have a bag for defaults. They are not even exposed to the outside, only handled internally by the service (if you meant that with public). The service itself has getter/setter with explici

[2020-03-29 14:09] Tyriar commented on #2787
@jerch with uppercase naming, I'm think we should maybe drop that all together as right now it doesn't mean anything and it's confusing as to which one we should be using. Or alternatively add a rule to make their usage more strict if possible. Right now the rule is kind of/sometimes use it for top-level constants/exports of primitives in particular but sometimes objects, not always though. That's

[2020-03-29 14:34] Tyriar commented on #2787
@jerch made some changes in https://github.com/xtermjs/xterm.js/pull/2789 would like a review 🙂. This still doesn't touch the naming of the protocols though, and I just noticed that right now we're relying on runtime exceptions instead of compile time checks when setting activeProtocols:

https://github.com/xtermjs/xterm.js/blob/55190fd7035d7451a41361011dae4488797e4e8a/src/InputHandler.ts#L1988-L1

[2020-03-29 16:56] franztrierweiler opened #2790 "Issue with npm install / fit addon gets installed close to the xterm package, not inside"
## Details
- Browser and browser version: none (nodejs issue)
- OS version: Ubuntu
- xterm.js version: 4.4.0

### Steps to reproduce

1. I have xterm@4.4.0 installed in my node_modules
2. Installing fit addon with npm install --save xterm-addon-fit does not seem to install this addon at the right location as my program keeps saying:

fs.js:646
  return binding.open(pathModule._makeLong(path), stri

[2020-03-29 21:42] jerch commented on #2787
@Tyriar Regarding the naming I am ok with anything that work for us, as long as it is halfway consistent in the codebase. Its just I am somewhat used to conventions like uppercase for module wide const stuff, or leading underscore for private names from Python. Btw those containers are meant as enums, but since enums dont allow structured content, they ended up as normal static objects. An earlier

[2020-03-29 23:04] Tyriar commented on #2787
Let's keep variables uppercase and camel case for now until eslint gives a nice way to more accurately describe what we're after.

The safety concerns stem around the fact that these:

https://github.com/xtermjs/xterm.js/blob/55190fd7035d7451a41361011dae4488797e4e8a/src/common/services/CoreMouseService.ts#L168-L169

Mean means that the key could be any `string`, and it would definitely result in a

[2020-03-30 08:59] amurchick opened #2797 "MOSH's escape keyboard shortcut (ctrl+^) not worked"
## Issue

In MOSH (https://mosh.mit.edu/) for exit I am need to input `ctrl+^` (actually for this I am pressed keys `ctrl`, `shift`, `6`).

In `xterm.js` this combination not worked.
In `iTerm` and native terminal app - this combination worked.

From MOSH manual:
[code]

In Chrome this combination succesfully catched by event `keypress` like this (key code === 30):
![image](https://user-images.git

[2020-03-30 10:15] trungutt opened #2798 "Windows Powershell resize"
I made an Electron app using xterm.js to integrate a terminal.

When the default terminal is Powershell, it doesn't resize correctly when maximizing/unmaximazing the windows. The same thing happened on [Hyper](https://github.com/zeit/hyper), or [Electerm](https://github.com/electerm/electerm) which use xterm internally.

When using other things than Powershell, like `cmd.exe`, that works fine.

##

[2020-03-30 11:54] jerch commented on #2787
But isn't this the case for all mutable interfaces with index access defined (those that are meant to mutate by index access at runtime)? Only way I see to deal with that is using type guards at access level. This way TS can keep doing its static type analysis correctly, as the vulnerable container is behind that "shield". Currently there is no way a new property not being of that type can enter t

[2020-03-30 13:00] Tyriar commented on #2787
This was just a tiny thing really and is certainly not specific to this file alone. We did a recent refactor in VS Code where we changes instances of `{ {key: T}: V }` to `{ {key: T}: V | undefined }` or `Map<T, V>` and found bugs in the process. That's the "dangerous typing" I was referring to and I've done well over my fair share of this too as it's the pattern we use.

tslint has been deprecate

[2020-03-30 13:00] #2787 closed

[2020-03-31 17:03] Tyriar opened #2802 "Screen reader mode component doesn't completely disable itself after disabling the mode"
VS Code issue:

https://github.com/microsoft/vscode/issues/94003

[2020-04-01 02:49] roguexiaohuihui opened #2804 "How do I turn off the bell？"
![image](https://user-images.githubusercontent.com/22930711/78093992-00c8b200-7406-11ea-8f16-e9433292cdb9.png)

I think the source logic is bellStyle: 'none' and it won't ring.

But when I set it, it still rings when I press Tab. How can I turn off the ring?

[2020-04-01 03:54] #2804 closed

[2020-04-01 03:54] roguexiaohuihui commented on #2804
It has been determined to be server-side judgment logic, independent of xterm

[2020-04-01 10:17] ScarlettKK opened #2808 "Change both text color & background color of selection"
It seems that I can only change the background color of selection layer, and the color should be translucent, or the text will be covered.

But the selection effect is implicit:

![image](https://user-images.githubusercontent.com/47051897/78126096-8cf9ca00-7444-11ea-80a5-fb0df883b5df.png)

I want to achieve the following selection effect:

![image](https://user-images.githubusercontent.com/4705189

[2020-04-01 12:09] Tyriar commented on #2808
This is possible now but currently only by specifying the `minimumContrastRatio` setting, not by actually giving it a color to use:

https://github.com/xtermjs/xterm.js/blob/8b042caf6009db36a0324bb6c0ea0d40fab80e9a/typings/xterm.d.ts#L156-L166

[2020-04-01 12:10] Tyriar commented on #2808
Adding help wanted to add an optional `selectionForeground` theme key.

[2020-04-02 03:35] ScarlettKK commented on #2808
@Tyriar Thanks a lot about this, I tired to set `minimumContrastRatio` but it didn't work.

It seems that the `minimumContrastRatio` setting is for the text layer. When the text foreground color is almost as dark as the background color, increasing its contrast ratio can help make the text more obvious.

But it seems that the selection layer is a layer floating above the text layer, it has no rela

[2020-04-02 03:47] ScarlettKK commented on #2808
I think to solve this problem, the selection layer should be under the text, or we should copy the selected text onto it.

[2020-04-02 07:02] ScarlettKK commented on #2808
Sorry for I found my current xterm version is 3.14.5, so the `minimumContrastRatio` couldn't work. Let me do some update and try it again.

[2020-04-02 08:00] ScarlettKK commented on #2808
I tried the [demo](https://github.com/xtermjs/xterm.js/tree/master/demo) of version 4.4.0, but the selection effect still couldn't work with param `minimumContrastRatio`.

[code]

The terminal:

![image](https://user-images.githubusercontent.com/47051897/78224165-9e9da900-74fa-11ea-8747-c16f2b35bd6e.png)

After select text "bash":

![image](https://user-images.githubusercontent.com/47051897/782242

[2020-04-02 12:15] jaraco opened #2811 "Hyperlinks at the end of a sentence erroneously include the period"
As reported in zeit/hyper#4444, hyperlink detection is overly generous matching characters such as . in URLs that appear at the end of a sentence.

Other tools that do automatic hyperlink detection in free-form text may use heuristics to exclude characters at the end that are more likely part of the text than the URL. Other common but unwanted characters might include ) or ? or multiple like `.”`.

[2020-04-02 14:54] Tyriar commented on #2811
/duplicate https://github.com/xtermjs/xterm.js/issues/583

[2020-04-02 14:54] #2811 closed

[2020-04-03 14:33] Tyriar commented on #2808
The selection layer is only under the text on the WebGL renderer, it's too hard to do in a performant way for canvas/dom.

The minimumContrastRatio setting made some changes such that foreground text can now be dynamic, it might still be tricky to change on canvas/dom as I don't think the text layer knows anything about selection currently.

[2020-04-03 15:23] zhaojh329 opened #2812 "Shield the shortcut key of browser"
Shield the shortcut key of browser, such as Ctrl+N.

[2020-04-03 16:22] Tyriar commented on #2812
I don't think the browser lets you intercept keystrokes like that.

[2020-04-03 16:22] #2812 closed

[2020-04-04 09:53] zhaojh329 commented on #2812
I use the shortcut key Ctrl + N to complete the code in vim, the shortcut key will be captured by the browser to open a new page.

[2020-04-05 04:20] Tyriar opened #2813 "Support finding within selection"
VS Code feature request: https://github.com/microsoft/vscode/issues/93236

This is blocked on showing multiple "selection" types so find is using a separate indicator to regular selection. https://github.com/xtermjs/xterm.js/issues/1653

[2020-04-05 16:18] Tyriar commented on #2798
What version of windows are you on? Type `ver` into cmd.

[2020-04-05 16:22] Tyriar commented on #2797
We're definitely not sending anything for ctrl+shift+6, you can check by running the demo and setting logLevel to debug.

[2020-04-05 16:26] mat007 commented on #2798
@Tyriar I’m on @trungutt’s team, I have the same issue, here is my Windows version
[code]
I guess we’re all running Insider Rings versions on the team.

[2020-04-05 16:28] Tyriar commented on #2798
@mat007 does it happen when you try on [Windows Terminal](https://www.microsoft.com/en-us/p/windows-terminal-preview/9n0dx20hk701?activetab=pivot:overviewtab)? Also can you share your settings.json file?

[2020-04-05 16:29] Tyriar commented on #2798
Also how are you creating the pty backend?

[2020-04-05 16:31] Tyriar commented on #2798
https://github.com/electerm/electerm/blob/1f2d7b3ba83736e4a423567e454eb442d28db986/src/app/server/session.js#L135-L141

Try setting the `useConpty: true`.

[2020-04-05 16:35] Tyriar commented on #2790
What xterm file are you linking to? Is this exception coming from some bundler?

[2020-04-05 16:38] mat007 commented on #2798
As a matter of fact, it does! So I guess that means it’s a Powershell bug…

[2020-04-05 16:39] Tyriar commented on #2798
@mat007 if it repros in windows terminal is means it's a conpty bug. You should report to https://github.com/microsoft/terminal

[2020-04-05 16:39] #2798 closed

[2020-04-05 16:43] mat007 commented on #2798
Thanks @Tyriar 👍

[2020-04-05 23:39] Tyriar commented on #2769
@Fdango you'll want to use the fit addon to fit the terminal to a container

[2020-04-06 08:28] trungutt commented on #2798
A bit late but thanks @Tyriar

[2020-04-06 09:00] trungutt commented on #2798
So I created another ticket on that https://github.com/microsoft/terminal/issues/5254

[2020-04-06 11:16] Tyriar opened #2816 "Handle general canvas context loss"
Contexts can become lost when graphics card drivers are reinstalled for example. This should be handled generically.

VS Code issue: https://github.com/microsoft/vscode/issues/94513

Related: https://github.com/xtermjs/xterm.js/issues/2253

[2020-04-06 12:31] Tyriar commented on #2764
I can't repro in either web demo or the linked demo the proposed fix sounds like a good safe thing to do though.

[2020-04-06 12:41] Coding-Kiwi commented on #2764
Thank you, I'm closing this issue since there is a workaround in my case and an incoming fix in the next version

[2020-04-06 12:41] #2764 closed

[2020-04-06 13:35] Tyriar commented on #2749
We should probably just use a browser runner at some point, that way we can get rid of jsdom.

It would be shuffling around the code base such that we still have most of the separation, just related files are more closely located. Take the mouse services as an example, here is the current layout:

[code]

This could be changed into something like this:

[code]

Where `BrowserMouseServiceDecorator.

[2020-04-06 13:36] Tyriar commented on #2749
Hijacking this issue so the discussion doesn't get lost 🙂

[2020-04-06 13:43] Tyriar commented on #2752
I always thought doing a synchronous resize would go a long way to solving the issue but I haven't tested that. Also I never thought this was that big of an issue as other terminals do it, perhaps because I use a multi-line prompt and never hit it 😄

[2020-04-06 14:05] Tyriar commented on #1145
@jerch maybe we should shift the underline down a little if the user has lineHeight > 1?

[2020-04-06 16:23] Tyriar commented on #2733
Sorry I'd rather not get involved with link exchanges, we'd be happy to link in the showcase though if you change your frontend to use xterm.js.

[2020-04-06 16:23] #2733 closed

[2020-04-06 16:58] Tyriar opened #2818 "DOM renderer selection isn't re-drawn after resizing the terminal"
VS Code issue: https://github.com/microsoft/vscode/issues/90903

![image](https://user-images.githubusercontent.com/2193314/78584490-203c5200-77ed-11ea-94dd-154728166c33.png)

[2020-04-07 09:05] flenter commented on #1931
I experimented a bit with adding `pointer-events: none;` to the `.xterm-accessibility` element. This seems to restore the copy/paste functionality while maintaining the screenreader functionality (this last thing was tested with voiceover on mac in conbimation with Chrome). Would there be a disadvantage to this approach?

[2020-04-07 13:09] Tyriar commented on #1931
@flenter as long as screen readers work fine and hover to announce works as well then that sounds good.

[2020-04-07 16:25] jerch commented on #1145
@Tyriar Yes looks like. Well I have currently no time to work on this, so things have to wait. Ofc if anyone wants to step in, that would be great. Still gonna add myself to this issue to not lose track.

[2020-04-07 16:37] jerch commented on #2752
@Tyriar Yes prior testing the stuff above I also was under that impression. I think the sync issue is just on top of this, and will screw up things during heavy input (otherwise the terminal is in sync and just waiting, thus has enough time to do its reflowing).

Not sure how we as emulators devs can address the shell issue without making a big fuzz about it and ending in fights. The responses in

[2020-04-07 16:53] jerch commented on #2749
:+1:

Depending on how it's done we may lose the ability to do a node target, but it could certainly be done in a way that we could achieve that.

Ah ok. Well, this other folder structure actually sounds good to me. About a node target - imho a clever bundler with treeshaking (like webpack) still could extract things in a certain way that excludes browser-only stuff. But this kinda needs disciplin

[2020-04-07 16:56] Tyriar commented on #2749
@jerch VS Code uses eslint to enforce no browser imports in the browser layer. It's doesn't work in 100% of cases though afaik. We could do multiple tsconfig projects but that's probably overcomplicating things. The eslint rule done right will probably be sufficient.

[2020-04-08 05:56] totomz commented on #646
@manoletto I guess we have to explicitly call `term.focus()`

[2020-04-08 10:47] ScarlettKK commented on #2808
It means that copying the selected text onto selection layer has a poor performance?

The selection layer might know which text is selected.

[2020-04-08 10:48] ScarlettKK opened #2821 "Need a API to get the loaded Addons"
As is known, if we need to load some addons for terminal, we should use the following code:

[code]
That means we still need the variable `fitAddon` if we want to execute the `fit()` function.

But this is inconvenient when the project is using modularization, we need to export more variables.

Since the `terminal` has already loaded the addon, can we set a `getAddon` API for `terminal`? The using

[2020-04-08 12:40] Tyriar commented on #2821
I'm not really a fan of doing this for these reasons:

- We don't disallow loading an addon twice
- It's not typed well and there is no way I'm aware of that `fitAddon = terminal.getAddon('fit')` would be typed implicitly
- You can just export an `addons` array or `fitAddon` directly

[2020-04-08 12:43] Tyriar commented on #2808
Text rendering is complicated and the way selection works for canvas/dom is it's completely separate, drawing 3 partially transparent rectangles.

Of course it could get the text and the style information but that's a bunch of duplication and complexity being added there. Right now it's not the most straightforward task to do this in a nice way.

[2020-04-09 18:49] Coding-Kiwi opened #2822 "Add ability to change hard-coded HOVER_DURATION"
I'm using _xterm-addon-web-links_ and I configure a `tooltipCallback` in the `ILinkMatcherOptions`. I would like the callback to be triggered immediately when I hover, not after the hard coded 500ms defined [here](https://github.com/xtermjs/xterm.js/blob/7f598a36753f4d950ee63dc91bd6a92290f7e037/src/browser/MouseZoneManager.ts#L12)

There has been this pull request https://github.com/xtermjs/xterm.

[2020-04-09 21:08] Tyriar opened #2823 "Try using variation selector unicode block to fix emojis rendering as text"
Possible fix for emojis not rendering correctly:

![image](https://user-images.githubusercontent.com/2193314/78940934-859d7680-7a6b-11ea-82ae-95e9d75d4155.png)

See https://github.com/microsoft/vscode/issues/91357#issuecomment-611608143

[2020-04-10 03:37] ScarlettKK commented on #2808
OK I see, hope there will be a suitable solution.

[2020-04-10 13:34] #2736 closed

[2020-04-10 13:36] #2745 closed

[2020-04-10 13:53] Tyriar opened #2824 "Add eslint rule for correct accessibility modifier usage"

[2020-04-10 13:56] Tyriar commented on #2824
This is very easy to accomplish with this eslint rule: https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/explicit-member-accessibility.md

I've actually become more fond of avoiding public all together for members now as it makes things more obvious when things are private or protected. @jerch interested in your thoughts, we can go either way requ

[2020-04-10 16:45] Tyriar opened #2826 "Add an option to enable experimental APIs (and throw if it's off)"
Right now we have our experimental APIs in the same dts as the regular APIs and there is no guard to prevent people from using them. I'm proposing we add an option `enableProposedApi` (aligns with vscode's naming) that would throw an exception when any proposed API is used if that is not explicitly set to true. So anyone trying to use these APIs will get an exception unless they want to opt into p

[2020-04-10 17:50] Tyriar commented on #2727
I think this is fixed, haven't seen it recently.

[2020-04-10 17:51] Tyriar commented on #2707
Closely related https://github.com/xtermjs/xterm.js/issues/2826

[2020-04-10 17:52] kumaran-14 commented on #2702
@Tyriar I have a hard time understanding this. Could you please elaborate more?
Thanks in advance. And sorry for not responding sooner.

[2020-04-10 19:50] Tyriar commented on #2702
@kumaran-14 there is a `./bin/test.js` which we use to wrap the unit tests, the script would basically just set `process.env.DEBUG` if `--debug` is passed in and then launch mocha. Then if `process.env.DEBUG` is set we should log something like this

[code]

Here:

https://github.com/xtermjs/xterm.js/blob/56990f2a2904f1d8b5f868be9ce14895b2156c8f/test/api/TestUtils.ts#L13

[2020-04-10 19:59] Tyriar commented on #2727
Nevermind, this happened when I tried to release

[2020-04-10 21:49] UziTech commented on #2759
Looks like this is still an issue in v0.6.0 even though the changelog says they are compatible.

https://github.com/xtermjs/xterm.js/releases/4.5.0

[2020-04-10 23:06] Tyriar commented on #2759
@UziTech phew, had me worried for a second 😄

[2020-04-11 01:03] Tyriar commented on #2717
eslint obsoletes this.

[2020-04-11 01:03] #2717 closed

[2020-04-11 06:00] ScarlettKK commented on #2821
Then how about using `fitAddon = terminal.getFitAddon()`?

The user can get the new addon again.

[2020-04-11 10:05] jerch commented on #2727
@Tyriar Yeah no clue what going on, its even flakey in failing, happens like once in 5 to 10 runs. Its a little princess ;)

[2020-04-11 11:55] jerch opened #2831 "Meta/Option key issue on Mac"
Coming from #2718, might also affect #2661, #2479.

We should investigate how to deal with `macOptionIsMeta` on MacOS in a unified fashion for keystrokes. Currently its handling is spread over `Keyboard.ts`, also ppl report issues with accessing 3rd level shift characters. We might need something similar like in iTerm with explicit splitting the left and right option key handling in Meta (left?) a

[2020-04-11 12:10] Mlocik97-issues commented on #2655
@trungutt I changed it but still, not working. It say "altKey" is not defined.

[2020-04-11 12:14] Mlocik97-issues opened #2832 "altKey is not defined."
#2655

[code]

output when I press any button:
![Snímka obrazovky z 2020-04-11 14-12-17](https://user-images.githubusercontent.com/31345346/79043266-8286bf80-7bfe-11ea-8906-ef5ce60975b3.png)

I'm not sure, what is problem.

[2020-04-11 12:20] Tyriar commented on #2727
Happened twice in a row for the release actually, had me worried for a sec.

[2020-04-11 12:49] #2498 closed

[2020-04-11 12:56] Tyriar commented on #2821
@ScarlettKK that wouldn't work either because we can't reference the name of addons in the core API (xterm.d.ts). This was considered when redesigning the types but trying to come up with a way to get addons back really complicated things and was a bit weird as well since you needed to pass the ctor into `getAddon` in order to get the instance of it back, see https://github.com/xtermjs/xterm.js/is

[2020-04-11 12:56] #2821 closed

[2020-04-11 12:59] Tyriar commented on #2832
`onKey`'s has an object as the first param, not 2 params.

https://github.com/xtermjs/xterm.js/blob/1913e9512c048e3cf56bb5f5df51bfff6899c184/typings/xterm.d.ts#L641

Do this instead:

[code]

[2020-04-11 12:59] #2832 closed

[2020-04-11 13:08] Tyriar opened #2833 "When the browser is zoomed out selection doesn't work correctly on the last row"
VS Code issue: https://github.com/microsoft/vscode/issues/94909

When I zoom out once ~50% of the last row's height is counted as "below the terminal" so it wraps to the end of the row.

![79007414-200fbf80-7b29-11ea-8ab5-6f8fb291363e](https://user-images.githubusercontent.com/2193314/79044577-c5bf3f00-7bba-11ea-9377-5a788b96b83a.gif)

[2020-04-11 13:15] Mlocik97-issues commented on #2832
thanks so much. Can You please help me with last thing, how should I rewrite this line: ` term.write(key);`

[2020-04-11 13:23] Mlocik97-issues commented on #2832
my onKey function look now like this:

[code]

but when I write command and press enter, it doesn't create new line in output.
I tried to add term.writeln(''); to if (ev.Keycode == 13)

[2020-04-11 13:36] Tyriar commented on #2832
If you want to write things to the terminal, the recommended way it to listening to `onData` instead which gives you a string containing serialized keystrokes. Stack Overflow would be a better place for these sorts of questions.

[2020-04-11 13:38] #2833 closed

[2020-04-11 13:55] kumaran-14 commented on #2734
@Tyriar I'd like to work on this next. What should I look into?

[2020-04-11 14:00] Tyriar commented on #2734
@kumaran-14 this one will be somewhere in the search addon, right now if we search for `t` and then `tt` in the demo it won't find the above. Before continuing to search for an _incremental_ find previous, we want to check if the selection can just be expanded to the left.

I'd start here:

https://github.com/xtermjs/xterm.js/blob/e2ac4b45d0747ae3d6ab3eb1e3ba9be7cbdec351/addons/xterm-addon-search/

[2020-04-11 14:07] Tyriar commented on #2822
@Coding-Kiwi #1251 wasn't needed in the end as you could use the `willLinkActivate` event. It's a reasonable request to add this now though considering position is now passed to tooltip and it makes sense in the future [link provider](https://github.com/xtermjs/xterm.js/blob/e2ac4b45d0747ae3d6ab3eb1e3ba9be7cbdec351/typings/xterm.d.ts#L744-L750) world.

[2020-04-11 14:21] Tyriar commented on #2822
Well actually it's not forward looking as link providers doesn't even give you this event, just hover and leave and will let the embedder handle any timeout logic. Let's add this setting as we can always remove when link matchers are removed (https://github.com/xtermjs/xterm.js/issues/2703).

[2020-04-11 15:05] Coding-Kiwi commented on #2822
Oh okay, I suppose when link matchers are removed, the handler function handles all mouse events, not just click?

[2020-04-11 16:33] Tyriar opened #2836 "Link providers don't work when the webgl addon is enabled"
Webgl does a render when clicking which causes links to _sometimes_ clear the current link before the click/activate event fires.

See https://github.com/microsoft/vscode/pull/90336#issuecomment-612455478

[2020-04-11 16:35] Tyriar commented on #2836
Probably related to webgl needing to re-render when selection changes unlike the other renderers.

[2020-04-11 16:59] #2836 closed

[2020-04-11 17:08] #2822 closed

[2020-04-11 17:30] Tyriar commented on #2822
@Coding-Kiwi well you get hover and leave events so you should be able to handle the tooltip however you want. A little more code on your end but you get complete control over how it happens and looks, and a simpler API on our side.

[2020-04-11 17:39] Coding-Kiwi commented on #2822
@Tyriar Yeah I have no problem with that, I just wanted to ask how I'll get the events to implement tooltips on my side :)

[2020-04-11 18:10] Tyriar commented on #2822
@Coding-Kiwi this is the part of the API:

https://github.com/xtermjs/xterm.js/blob/e2ac4b45d0747ae3d6ab3eb1e3ba9be7cbdec351/typings/xterm.d.ts#L1115-L1134

You'll add functions for hover, leave and activate to the links themselves whenever you provide them, instead of doing it once like with link matchers.

[2020-04-11 20:20] mbnatafgi commented on #895
@aventurella thank you! but it seems that `chalk.constructor` is deprecated and may have been removed in the latest versions. We ought to use `chalk.Instance` instead.

[2020-04-14 05:00] amurchick commented on #2797
@Tyriar Please also pay attention  on `^@` (ctrl+shift+2) not worked in `xterm.js`.
This key combination must send 0x00.

[2020-04-14 08:10] ScarlettKK opened #2840 "Different behavior when search two same words in only one row"
## Details
- Browser and browser version: Chrome 81.0.4044.92
- OS version: Mac OS 10.13.6
- xterm.js version: 4.4.0

### Steps to reproduce
I find `findNext` in `SearchAddon` behaves differently when search two same words in only one row.

1. As the picture below, when I am searching the word `bash` and press the `Enter` button, the highlight mark will start from the first(1) position to the next

[2020-04-14 08:16] ScarlettKK commented on #2840
I find the `startCol` variable never change when search only one row.

![image](https://user-images.githubusercontent.com/47051897/79201624-f200e700-7e6a-11ea-972f-773331578dda.png)

It's relative with these code in `SearchAddon.ts`:

![image](https://user-images.githubusercontent.com/47051897/79201738-178df080-7e6b-11ea-9d42-ebdba960b37e.png)

[2020-04-14 09:54] jerch commented on #2824
@Tyriar Well not quite sure which works best here in terms of "easy coding". In TS I tend to treat everything not explicitly marked as `public` as private. So no-public might do here. I would prefer "explicit" in the end (to avoid my own sloppiness), but not sure if this causes to many frictions atm.

Ideally for me would be these general rules:
- enforce explicit access declarations for any class

[2020-04-14 12:41] Tyriar commented on #2824
Let's go with that then, eslint will force you to say either public or private, not accidentally leave members public. It's also keeping what we've been doing (mostly) so not much change.

"Pure privates" get # prefixes as they're forced by the language?

I think the rest of the rules are basically enforced, with the exception of UPPER_CASE vs camelCase which is intentionally flexible to cover som

[2020-04-14 13:14] Tyriar commented on #2824
For explicit there isn't an auto fix by design as since the rule is about explicitly considering public members: https://github.com/typescript-eslint/typescript-eslint/issues/503

[2020-04-14 13:16] Tyriar commented on #2824
I learned by doing this that this:

[code]

Implies:

[code]

So fixed some stuff out of this.

[2020-04-14 13:33] jerch commented on #2824
Oh well, thats abit surprising. Why the heck does readonly mess with access level at all?

Not sure what you mean by that, is there some additional name mangeling going on? What I meant in the first place - I know from my own quick diving into foreign APIs, that I tend to see non underscored members as public (like in Python or JS), inviting to play with it. Any underscore member gets flagged as "

[2020-04-14 13:36] #2824 closed

[2020-04-14 13:47] Tyriar commented on #2797
@amurchick do you know where documentation is that specifies what all ctrl+shift+<n> keys are meant to send?

[2020-04-14 16:40] LabhanshAgrawal commented on #2726
I want to give it a try, can you mention any pr for some other addon which I can refer.

[2020-04-14 16:44] Tyriar commented on #2726
@LabhanshAgrawal they would probably be stale at this point. If you want to tackle this you should first move the ligatures folder into `addons/xterm-addon-ligatures/`, adjust config files, get it building and then search other addon names to find where things need to be adjusted. For example:

![image](https://user-images.githubusercontent.com/2193314/79251077-8bf96d00-7e34-11ea-89b9-91e13115ce06

[2020-04-14 16:46] LabhanshAgrawal commented on #2726
Got it. Will give it a try.

[2020-04-15 15:03] Tyriar opened #2846 "Replace test-api-chromium with test-api"
Since we call `npm run test-api-chromium` in an npm script, this doesn't end up passing across flags which makes it feel broken when using https://github.com/xtermjs/xterm.js/pull/2830. We should get rid of `test-api-chromium` to avoid this mix up.

[2020-04-15 15:04] #2702 closed

[2020-04-15 17:38] nojus297 commented on #2409
Additional funny behavior (vscode terminal):
![out3](https://user-images.githubusercontent.com/46261165/79368566-4766f200-7f58-11ea-99e7-1c891dd77e5f.gif)
For me, changing font sizes, using the previously mentioned `hack` font does not help, the spacing remains. However, judging from the gif above, the block characters seems to be placed incorerctly. There is one pixel gap at the bottom and the di

[2020-04-15 23:17] Tyriar opened #2848 "Link provider probably needs to change to provide links for entire line"
Consider the following:

![image](https://user-images.githubusercontent.com/2193314/79397999-66538d00-7f34-11ea-82bb-e75d19c329ca.png)

Currently in VS Code, depending on which cell you focus first gives a different link.

Good (validated local link provider):

![image](https://user-images.githubusercontent.com/2193314/79398041-81be9800-7f34-11ea-86b4-3071da64b0a9.png)

Bad (word link provider):

[2020-04-16 14:06] Tyriar opened #2849 "Link provider hover doesn't go away when mouse leaves xterm element or document"
Mouse is within editor:

![image](https://user-images.githubusercontent.com/2193314/79465844-b1ab8100-7fb0-11ea-9551-1a58472c2149.png)

Can also happen when mousing out of the document quickly.

[2020-04-17 13:13] Tyriar opened #2850 "Improve link provider docs around string index position, actual buffer position, emoji lengths and wide character widths"
It's very much not easy to write one of these, especially if you're not familiar with these concepts.

[2020-04-18 00:07] Tyriar opened #2851 "Link underlines should go away when mouse exits xterm element"
Mouse is out of terminal here:

![image](https://user-images.githubusercontent.com/2193314/79622866-f0832900-80cd-11ea-9aed-d7104690bc4d.png)

VS Code issue https://github.com/microsoft/vscode/issues/95576

[2020-04-18 00:36] Tyriar opened #2853 "Buffer API is sometimes wrong after resizing"
Causes an exception in VS Code

Notice console is reporting the wrong translateToString result

![image](https://user-images.githubusercontent.com/2193314/79623558-d51a1d00-80d1-11ea-8145-1210a585f284.png)

[2020-04-18 00:38] #2851 closed

[2020-04-18 00:47] Tyriar commented on #2853
I think this is because Windows disables reflow which leaves data in the buffer instead of trimming it.

[2020-04-18 14:51] jmbockhorst commented on #2848
So it would look something like this?
[code]

[2020-04-18 16:19] jmbockhorst commented on #2849
This doesn't seem reproducible to me after the latest changes in xterm and vscode.

[2020-04-19 00:07] Tyriar commented on #2849
I've done a bunch of work around this and there's still a WIP PR out https://github.com/microsoft/vscode/pull/95608

For leaving the xterm element I fixed it in https://github.com/xtermjs/xterm.js/pull/2852, I'm currently still working through an issue where the link in sticky when the mouse leaves the document though which looks like it could get fixed in xterm.js.

[2020-04-19 01:06] Tyriar commented on #2848
Yes but multiple returned:

[code]

Also when I was looking into https://github.com/xtermjs/xterm.js/issues/2849 I noticed that right now in vscode we're using `leave` like a `dispose`, which is good as xterm drops the link reference when leaving the cell range. But if we did this with the `provideLinks` idea then we would want to differentiate `leave?(event: MouseEvent, text: string): void;` and

[2020-04-19 01:07] Tyriar commented on #2848
I don't really see another way of fixing this problem of competing providers creating different links based on what is hovered, which leads to an inconsistent experience.

[2020-04-19 01:27] #2849 closed

[2020-04-20 03:03] yuezk commented on #2137
@jerch @Tyriar
I came from the VS Code issue https://github.com/microsoft/vscode/issues/94656
It can be reliably reproduced reliably on my macOS 10.15.3 with VS Code 1.44.2 and enabled the `experimentalWebgl` renderer type.

![image](https://user-images.githubusercontent.com/3297602/79710051-623dbb80-82f6-11ea-9285-815e5fc90e92.png)

I have two displays show below
![image](https://user-images.gith

[2020-04-20 09:45] Luit opened #2860 "CSI 2 J works in unexpected way"
In VS Code I've noticed the behavior of `Ctrl-L` being different from what I was used to. Mainly compared to Gnome Terminal, but I've never really noticed terminal emulators handling this differently.

`Ctrl-L` or `tput -x clear` (or `clear -x`) run CSI H followed by CSI 2 J. In Gnome Terminal this results in everything that's in the current display to be scrolled out of view. In VS Code this resu

[2020-04-20 12:41] theflyingape commented on #2860
I think it matters to what your environment **TERM** is set as, i.e., vt220 behaves differently than xterm and xterm-256color.

[2020-04-20 12:44] Luit commented on #2860
In all of the situations described above, TERM=xterm-256color. To make sure I've also tried sending the CSI directly with `echo -ne "\033[H\033[2J"`, yielding the same results.

[2020-04-20 12:52] Luit commented on #2860
In Gnome Terminal the CSI H CSI J sequence (`tput -Tvt220 -x clear`) appears to work identically to CSI H CSI 2 J in xterm.js, clearing everything in display, leaving any scrollback intact.

[2020-04-20 12:56] Tyriar commented on #2860
duplicate of https://github.com/xtermjs/xterm.js/issues/1727

[2020-04-20 12:56] #2860 closed

[2020-04-20 14:25] Tyriar commented on #2137
I've seen this happen a bunch, we're probably just missing a case in https://github.com/xtermjs/xterm.js/blob/master/src/browser/ScreenDprMonitor.ts, or something is not listening to the monitor.

[2020-04-21 23:56] thbong opened #2863 "Cannot remove text from previous line"
I'm using xterm 4.4 with Xamarin.Android and Xamarin.iOS. Confirmed that this still repros in version 4.5.

When there's more than 1 line of user input, the cursor is stuck at the 0 x position of the current line and the previous text cannot be removed, but the text-area element which takes in the actual input does respect the user keystrokes.

"What is this why is this happening" is typed in the

[2020-04-22 01:23] #2613 closed

[2020-04-22 14:07] Tyriar commented on #2863
We cannot reliably sync the textarea with the prompt as xterm.js at its core is a component that just prints things and moves a cursor around, it doesn't have a concept of an input area. When you press backspace, it gets sent over to your server/shell, the shell responds by telling the terminal to move the cursor to the left one space and deleting the character. Expanding on this, when your shell

[2020-04-22 14:07] #2863 closed

[2020-04-23 13:50] utybo commented on #2479
I can't reproduce this anymore 🤔 Does anyone else still have this issue?

[2020-04-25 07:07] rishab-pdx commented on #2818
@Tyriar I would like to take this. Can you give a pointer as to where I should start tackling this? I understand that the sections of the canvas must be redrawn.

[2020-04-25 10:16] rishab-pdx commented on #2840
@Tyriar I would like to take this. I believe we must wrap back search for starting column just as we do it in other cases.

[2020-04-25 10:19] rishab-pdx commented on #2840
#2867

[2020-04-25 10:37] rishab-pdx commented on #2840
#2867

[2020-04-25 10:40] rishab-pdx commented on #2840
PR https://github.com/xtermjs/xterm.js/pull/2867

[2020-04-25 12:26] Tyriar commented on #2818
Sounds good!

onResize in WebGL: https://github.com/xtermjs/xterm.js/blob/master/addons/xterm-addon-webgl/src/WebglRenderer.ts#L133
onResize in DOM: https://github.com/xtermjs/xterm.js/blob/cdcbb1d6daa2b972de9ccb510e67f80ec8904319/src/browser/renderer/dom/DomRenderer.ts#L259-L262

This is how the dom selection gets cleared, we should look at related parts and clear during resize in a similar way a

[2020-04-25 14:27] #2555 closed

[2020-04-25 14:58] Tyriar commented on #2749
I did some more thinking on this. The component model I laid out above might end up being a bad thing if the focus is to ship a node target as then we'd need to assemble many component projects and each component would have 2 or 3 tsconfigs. Here's an alternative proposal:

[code]

One big benefits here is that things that would need to be in "common" in the old world like Links such that we can r

[2020-04-26 01:29] Tyriar commented on #2749
`InputHandler.ts` is almost in common after having a go at the `common/Terminal.ts` idea https://github.com/Tyriar/xterm.js/tree/layers2. Also found out that `IInstantiationService.createInstance` apparently never worked in strict mode, we just never used it in common or browser

[2020-04-26 14:08] Tyriar opened #2872 "Possible bug in isWrapped flagging"
I think this should be `buffer.y + buffer.ybase`?

https://github.com/xtermjs/xterm.js/blob/dac3037ee45421270bcb84a586d4af2e79e5c60e/src/InputHandler.ts#L558

[2020-04-26 14:40] jerch commented on #2872
@Tyriar Oh dear, yes I think so, too. What a nasty bug, weird it did not cause more issues yet.

[2020-04-26 15:08] #2872 closed

[2020-04-26 16:41] LabhanshAgrawal opened #2875 "web-links addon 0.3.0 opens new electron window instead of default browser"
In https://github.com/zeit/hyper since updating to web-links addon 0.3.0 clicking the links is opening new empty electron window instead of opening it in the default browser.
git bisect also pointed to it (https://github.com/zeit/hyper/commit/f730d84021f00545a3305ca7da08e7488b209784) and reverting back to 0.2.1 fixes the issue.

## Details
- Browser and browser version: electron 8.2.3
- OS version

[2020-04-26 17:15] LabhanshAgrawal commented on #2875
https://github.com/xtermjs/xterm.js/commit/a980b3d1323661f8d678bfa5c458ec4773712eed might be the reason
As `window.open()` opens a new electron window and `window.open(uri, '_blank')` opens the uri in the default browser. (tested in dev console in hyper, and we haven't modified window.open in any way)

[2020-04-26 17:53] Tyriar opened #2877 "Refactor browser Terminal to avoid forcing ! when unattached"
https://github.com/xtermjs/xterm.js/pull/2876 moved everything into strict projects, however it resulted in heaps of `!`s being added, mainly due to the fact that `browser/Terminal.ts` can be unattached from the DOM.

One possible solution is to pull everything that relied on DOM into its own class that gets initialized with the elements. Essentially turning `open` into a class ctor.

[2020-04-26 18:19] #1507 closed

[2020-04-26 18:24] Tyriar commented on #2749
Good progress has been made on this. I'm not sure just yet how we'll end up publishing the module though as ./package.json in the root is xterm and points at typing/xterm.d.ts. I want to be able to publish `xterm-core` with a totally separate set of typings, readme and package.json while at the same time don't really want to include that in the src/ directory.

[2020-04-26 18:36] Tyriar commented on #2875
You can set a custom handler in the ctor:

https://github.com/xtermjs/xterm.js/blob/a8bcfc62d0b10f9a2e455257a82300b70e24d9aa/addons/xterm-addon-web-links/src/WebLinksAddon.ts#L45

[2020-04-26 18:36] #2875 closed

[2020-04-27 06:28] elgs opened #2878 "ES6 module no export Terminal"
When I follow the doc to import Terminal as an ES6 module.

The recommended way to load xterm.js is via the ES6 module syntax:
[code]

I got the following error. I opened the xterm.js and found it's an minified js file and it indeed didn't export Terminal.

[code]

I'm not using any building tools. I just used plain ES6 import syntax.

[2020-04-27 09:04] jerch commented on #2749
I am far less into the TS compiler options than you, but wouldn't a second output folder for core stuff, that gets merged with another one holding those package declaration files, do?

Something along that:
[code]
Now a pre or post bundler task could merge `core-package/` on `out-core/` and create a full qualified package folder, that can be tested/bundled and so on.

Other way around would be to

[2020-04-27 12:56] Tyriar commented on #2749
This is how it's always been with project references, note though that web does not depend on core, but just common:

[code]

The intent here is that core will expose it's own API just like how `public/Terminal` wraps `browser/Terminal`, hiding some internals and as a facade on top of what the actual internal API is. web then extends `common/Terminal` so it doesn't need to deal with the additional

[2020-04-27 13:35] Tyriar commented on #2878
I don't know the details here on what TS does but TS works for me. I guess this is requesting a native ESM target which has come up before https://github.com/xtermjs/xterm.js/issues/2486

[2020-04-27 14:23] Tyriar opened #2881 "Terminal.scroll should be moved into BufferService"
See https://github.com/xtermjs/xterm.js/blob/45077d710627fb2aec61ac2dfc41879d8c32371e/src/browser/Terminal.test.ts#L1421-L1430, https://github.com/xtermjs/xterm.js/pull/2724#pullrequestreview-400997762

[2020-04-28 11:34] ScarlettKK opened #2884 "Need the function to clear a line in terminal"
I need to achieve the install loading effect (like `npm install`) in xterm, but I can not find the correct way to clear the current line.

![image](https://user-images.githubusercontent.com/47051897/80481438-ffe35b80-8984-11ea-8b68-2822a71fb98f.png)

I have tried to add `\x1b[2K` and `\x1bc`  in `xterm.write()`, but they don't work well. `\x1bc` clears the whole screen, while I just want to clear

[2020-04-28 12:09] guregu commented on #2409
On macOS (Retina screen, devicePixelRatio=2.200000047683716) + Chrome, using the Hack font gives me small vertical gaps like this:
<img width="135" alt="Screen Shot 2020-04-28 at 20 44 51" src="https://user-images.githubusercontent.com/131059/80484661-0bd61a00-8993-11ea-8a19-19ba2c4e2dcb.png">
But after poking around I noticed that turning `BaseRenderLayer._clipRow` into a no-op renders them corre

[2020-04-28 12:38] Tyriar commented on #2409
@guregu the canvas renderer by design must clip the rows or it will end up having artifacts showing up, but anyway the plan is to remove the canvas renderer in favor of DOM and webgl (basically superior in every way to canvas).

This is still marked as help wanted and maybe it can/should only be done in the webgl renderer in which case it would be a matter of handling those particular characters s

[2020-04-28 12:43] Tyriar commented on #2884
You could do this:

[code]

The reason for not adding something like `clearLine` is because it goes against how the lib is meant to be used where the application is meant to talk to the terminal only by the bi-directional text stream (onData and write).

[2020-04-28 12:43] #2884 closed

[2020-04-28 13:33] guregu commented on #2409
FWIW I've managed to fix it without messing with the clipping.
The problem wasn't the clipping, but using `middle` as the `textBaseline` caused it to be slightly misaligned.
Changing the `textBaseline` to `bottom` totally fixed the issue for me.
Diff: https://github.com/xtermjs/xterm.js/compare/master...guregu:master
I can send a PR if it looks good, but I'm not sure if this will screw something e

[2020-04-28 13:48] Tyriar commented on #2409
@guregu previously the webgl renderer used top, but it ended up making the text top aligned:

![image](https://user-images.githubusercontent.com/2193314/80495053-43ee4600-891c-11ea-8504-6566542e660f.png)

I fear this will happen if we use `bottom`

[2020-04-28 13:51] Tyriar commented on #2409
It's also not perfect even ignoring the bottom alignment problem:

![image](https://user-images.githubusercontent.com/2193314/80495297-99c2ee00-891c-11ea-9196-9c1ee03a349d.png)

I think manually drawing perfect glyphs is the way to go.

[2020-04-28 14:09] jerch commented on #2409
Btw @nojus297 output pretty much looks like an 0.5 px offset issue. I stumbled over antialiasing issues with a 0.5 offset myself the other day, when I messed around with self-drawn curly underlines. Not sure if this applies here at all (still not used to the renderer code lol).

[2020-04-28 14:12] Tyriar commented on #2409
Would could check your zoom level as well to make sure it's 1. Should we maybe be bumping it down 0.5px when the font size is odd? 🤔

[2020-04-28 15:18] guregu commented on #2409
I took screenshots of both my changes and the unchanged version and ran a diff on them. Normal text actually renders exactly the same. The only difference is the drawing characters.
![download](https://user-images.githubusercontent.com/131059/80502523-b9edbe00-89ab-11ea-87a9-4c298ab62a2a.png)
(the magenta is the differing part)

Basically the crux of this issue is that, for some reason, text that

[2020-04-28 17:50] guregu commented on #2409
I had some friends test out my fix on Windows and it actually makes things worse 😅
Looks like special casing it is the only surefire way. Sorry about that.
The cursor thing is probably a separate issue. Clearing the whole canvas during clearCursor fixes it. Seems like the horizontal box-drawing character is drawing a bit wider than the cell width?

[2020-04-28 19:27] Tyriar commented on #2409
@guregu thanks for looking into it.

Maybe, we allow that. Something that may work is to clip the character glyph to the size of a cell only for these box drawing characters?

[2020-04-29 00:05] elgs commented on #2878
What I am wondering is I've seen a few other libraries claiming they are supporting ES6, but they are in the same situation like this, like this one https://github.com/highlightjs/highlight.js/issues/2473. They use Rollup to build the library. I'm not familiar with Rollup.

My understand of ES6 module is the library has some code syntax like:
[code]

And the client is like:
[code]

I wonder if I m

[2020-04-29 00:07] elgs commented on #2878
This is a big deal, because with the REAL ES6 support, the client can get rid of the dependency of build tools, though the build tools are awesome, but at least it's not necessary.

[2020-04-29 01:56] Tyriar commented on #2878
Yeah it would be nice to be on the latest and greatest but then you lose support for other better supported ways of importing. Eventually we'll move there but shipping a library that supports many different import types is tricky.

[2020-04-29 03:15] elgs commented on #2878
I understand that. That's why if you look at the lodash package, they released a separate package called lodash-es. That is the REAL ES6 support. But unfortunately the export syntax is illegal in the nodejs like module system.

You mentioned:

Actually, no, you don't lose anything in browser. All modern build tools support the REAL ES6 syntax. What you lose is the support to build for nodejs user.

[2020-04-29 03:19] elgs commented on #2878
lodash releases two separate packages for a wise reason, one for Nodejs and the other for browser. Because the natural of lodash is that it is used in both Nodejs and browser. In the old days, Javascript didn't  have any module system in the browser, everything is bound to `window`, so that's why many build tools did many tricking things to translate the Nodejs module system to the browser `window

[2020-04-29 09:30] haoqi0818 opened #2885 "xterm-addon-search@0.6.0 is not compatible with xterm@4.4.0"
xterm-addon-search@0.6.0 is not compatible with xterm@4.4.0
bug
xterm-addon-search@0.6.0 just require xterm@^4.0.0

## Details
- Browser and browser version:
- OS version:
- xterm.js version: 4.4.0
- xterm-addon-search version 0.6.0

console error: "Uncaught TypeError: Cannot read property 'length' of undefined" when call search

[2020-04-29 12:31] Tyriar commented on #2885
This will happen until we move the addon versioning to v1. Trust the release page about support, not the package.json for now https://github.com/xtermjs/xterm.js/releases/tag/4.4.0

[2020-04-29 12:31] #2885 closed

[2020-04-29 12:38] Tyriar opened #2886 "Change many eslint checks to warnings"
Things like whitespace should be warnings not errors.

[2020-04-29 13:23] Tyriar opened #2887 "Link provider underline draws 1 extra character when after wide characters"
I'm guessing this is in xterm.js as it appears to be purely a rendering issue, the link works file and excludes the `]`:

![image](https://user-images.githubusercontent.com/2193314/80600852-d73d7f00-89e1-11ea-8a7a-482c2e7b28d9.png)

![image](https://user-images.githubusercontent.com/2193314/80600927-f0463000-89e1-11ea-9e55-24ff33d1420e.png)

[2020-04-30 05:35] rishab-pdx commented on #2818
@Tyriar My findings so far:
onRezise with WebGL rendered selection elements are not reset. However, selection model is reset.

I made changes so that selection elements are reset on resize and drawn back as in the case of canvas rendererType.
As this is a vscode related issue is there any document I can follow to test by integrating these changes with vscode?
Let me know if any other changes are r

[2020-04-30 10:41] Altamill commented on #2885
I have too problem
OS version: 10.15
xterm.js version: 4.1.0
xterm-addon-search version: 0.5.0

[2020-04-30 12:51] Tyriar commented on #2818
@rishab-pdx I think it's an xterm.js issue, if needed for testing you can access `term` in the devtools console in the xterm demo.

If you want to test inside VS Code you would set up your environment so you can launch "Code - OSS" and then do this:

[code]

Not very smooth as I rarely do this, you can use symlinks too to make it nicer.

[2020-04-30 13:44] Tyriar commented on #1134
VS Code now has support for showing detailed hovers for links, so hooking this up to that will solve the problem:

![image](https://user-images.githubusercontent.com/2193314/80717157-5fd52180-8aad-11ea-8262-46c28cc774f6.png)

It's a shame it's a bit of a weird sequences as our parser hooks don't cover it. If they did this could be done entirely as an addon using parser hooks, markers and the link

[2020-04-30 14:16] ppacory opened #2891 "blink text problem"
this code print in term doesn't blink :

`text = "\u001b[5mTitle of the Program\u001b[0m"` or
`text = "\x1B[5mTitle of the Program\x1B[0m"`

the other ansi code like inverted,bold,underline work perfectly ...
Any idea ?

[2020-04-30 16:09] Tyriar commented on #2891
duplicate of https://github.com/xtermjs/xterm.js/issues/944

[2020-04-30 16:09] #2891 closed

[2020-04-30 18:53] Tyriar commented on #551
Link matchers are about to go, this sort of thing can be accomplished with link providers as you can classify chunks of the buffer using markers.

[2020-04-30 18:53] #551 closed

[2020-04-30 18:54] Tyriar commented on #583
Let's call this done with the link provider work which is about to ship in VS Code

[2020-04-30 18:54] #583 closed

[2020-05-01 16:34] jerch commented on #1134
@Tyriar Also with #2751 the extended attr storage can be used to annotate URL stuff to the buffer cells.

Yeah thats a problem and imho cannot be solved at addon level, even if we'd expose a print handler hook. I think this has to go directly into the codebase plus a few exceptional conditions (like any non print action before the finalizer is acknowledged should break the URL marking of cells and

[2020-05-01 19:30] lachdoug commented on #2499
@cekvenich try this:
[code]

[2020-05-01 19:33] cekvenich commented on #2499
Thanks! I'll try soon.

[2020-05-02 02:54] rishab-pdx commented on #2887
@Tyriar
I did a bunch of work on this issue. Currently, xterm.js fails to detect some links as the regex cannot capture all the cases and the same is true for rendering the underlines.

https://drive.google.com/open?id=19M6FJwpbNzRuMbjHE3QeC9BN0mPHg7yi

Rendering happens on

https://github.com/xtermjs/xterm.js/blob/f2ed01993dc4074e2ad012593cf230b2aeab600d/src/browser/renderer/LinkRenderLayer.ts#L5

[2020-05-02 14:11] Eugeny commented on #2137
@Tyriar I can confirm that the listener fires as expected, but the characters are still corrupted. It can be reliably reproduced with the demo page, but only for *unicode characters*. ASCII will get occasionally corrupted, but not always.

Changing font size to something else and back immediately fixes it.

[2020-05-02 14:31] jerch commented on #2137
@Eugeny Could you test if this can be repro'ed for ASCII as well, if the fg color is set to RGB?

I suspect that `_drawUncachedChars` does not get the DPR changes for some reason.

[2020-05-02 14:43] Eugeny commented on #2137
@jerch I've just pushed a PR with the fix. The listener wasn't being called at all.

[2020-05-02 21:35] rodolf0 opened #2893 "Generic link provider"
The web link add-on allows matching a restricted set of text (eg. Http links) and lifting that into an object you can interact with.

Would it be possible to create a slightly more general version of it? It would takes 2 construction parameters:
- match: a string defining a Regex Wich allows matching specific text snippets. This Regex should allow capture groups.
- strategy: a string used as a tem

[2020-05-02 22:52] Tyriar commented on #2893
That's essentially what the old API can accomplish:

https://github.com/xtermjs/xterm.js/blob/939de5d1510123702b5c7c2f36822d19e25f2b66/typings/xterm.d.ts#L730-L750

But this one's on the way out, there's been a bunch of work done recently on the "link provider" API that gets asks for lines at a particular cell:

https://github.com/xtermjs/xterm.js/blob/939de5d1510123702b5c7c2f36822d19e25f2b66/typi

[2020-05-02 22:54] #2137 closed

[2020-05-02 23:18] jerch opened #2894 "DA1/2/3 issues"
We are currently sending quite some rubbish on DA requests - we switch output based on `this._is` (were does this come from?) to lure a program into thinking that we are something else. Thats a really bad habit, if I were a cmdline dev I'd hate xterm.js for doing this. DA3 isn't implemented at all.

We should fix that, maybe like this:
- dont shift output on some obscure `this._is` value, we are x

[2020-05-03 12:29] Tyriar commented on #2894
This thing has always confused me, it used to be Terminal.is, I just moved it into `InputHandler` recently as it's the only thing that used it. It's based on `termName` which hasn't been part of the API for years and its default value is `xterm`.

[2020-05-03 12:38] Tyriar commented on #2887
Maybe the only way right now is to it within VS Code as described in https://github.com/xtermjs/xterm.js/issues/2818#issuecomment-621814056 as it pulls in a bunch of monaco code to do the link detection. I'm pretty sure the bug is in xterm.js though as everything else seems to work, just not to rendering part. Alternatively you could try use a custom link matcher which matches on these characters

[2020-05-03 13:15] #2886 closed

[2020-05-03 13:21] #2840 closed

[2020-05-03 13:30] Tyriar opened #2896 "Ligatures addon should depend on the core code base"
After https://github.com/xtermjs/xterm.js/pull/2847, the ligatures addon has been merged into the codebase, however internal changes won't trigger failures in the ligatures addon since it uses `MockTerminal` for unit tests. We should add some integrated (.apt.ts) tests that run in puppeteer and so that breakages will be detected and will fail CI.

[2020-05-03 13:39] Tyriar opened #2897 "Detect ligatures on browser side"
Currently the ligatures addon needs a node.js environment to run which essentially means it can only run in Electron and will not run in VS Code like this as we're moving towards a more secure, node-free renderer. This idea is about trying to detect ligatures for a particular font by having a set of common ligatures (==, ===, <=, >=, ->, etc.) and using a canvas to draw them, toggling `font-varian

[2020-05-03 13:54] #2726 closed

[2020-05-03 13:57] Tyriar commented on #958
Update on this, I just merged the ligatures addon into the codebase (https://github.com/xtermjs/xterm.js/pull/2847), it might still be a little broken but it's hard to tell without integration tests setup (https://github.com/xtermjs/xterm.js/issues/2896).

Currently the addon runs only in a browser+node runtime (ie. electron), I came up with a proposal that I expect to work only in the browser whi

[2020-05-03 14:11] #2716 closed

[2020-05-03 18:54] Tyriar commented on #2446
I think this is fixed.

[2020-05-03 18:54] #2446 closed

[2020-05-04 07:46] Tyriar opened #2902 "Add instructions somewhere on how to develop"
Related: https://github.com/xtermjs/xterm.js/issues/1603

[2020-05-04 08:02] amurchick commented on #2797
@Tyriar I am can't find documentation, here all non-printable codes from 0 to 31 and how to send in (`^` is `ctrl` key press):
[code]

[2020-05-04 12:50] gcabanac commented on #734
+1

[2020-05-04 19:18] rodolf0 commented on #2893
Are there other link provider addons available beyond the web links one? Main intention behind this request was to make it easier to craft new link providers with just {match, replacement template} instead of having to build a full addon for each snippet you want to match.

[2020-05-05 06:02] guregu commented on #2409
I've done some experimenting with manually certain characters.
Demo page: http://roguelike.solutions/xterm/xtermtest.html

Code is rough, but available here: https://github.com/xtermjs/xterm.js/compare/master...guregu:box-drawing

Currently, it's two parts, one is `boxDrawingLineSegments` which borrows an algorithm from iTerm2. It defines 7 kind of arbitrary vertical and horizontal anchor points p

[2020-05-05 12:32] Tyriar commented on #2893
Only the web one is in this repo, there are more examples in the vscode repo though:

https://github.com/microsoft/vscode/tree/master/src/vs/workbench/contrib/terminal/browser/links

Isn't the link matcher API basically what you're after? I'm not sure exactly what you had in mind with strategy, but that API lets you set a regex, matchIndex to use and then a handler (which is needed for most cases

[2020-05-05 13:11] Tyriar commented on #2409
@guregu nice work, a contribution would be awesome, you just need to make sure it's not too derivative of the iTerm2 algorithm as GPL2 is sticky. I'd suggest only doing this for the webgl renderer (not canvas as it's going to be scrapped). Definitely based the lines on devicePixelRatios so the width is great on all monitors.

These should be relatively easy to do but this could easily be deferred

[2020-05-05 13:36] rodolf0 commented on #2893
I do see that this is what the original API being deprecated allows.

I think a `RegexLinkProvider` addon would be pretty great! I think the word "strategy" may be confusing maybe we should call these "match" and "template" (instead of strategy).

Let me give some examples of what I'm after.

- Being able to click into gitlab bugs
  - convert 'GNOME/gtk#266' -> 'https://gitlab.gnome.org/GNOME/gtk/

[2020-05-05 13:57] Tyriar commented on #2893
Oh ok that makes sense. This new API would also need to surface these APIs so embedders could use them to give underline feedback, modifier clicks and tooltips in a consistent way:

https://github.com/xtermjs/xterm.js/blob/1168c6c52f49c7155094fe173ac037ea0e9ce8ac/typings/xterm.d.ts#L1124-L1152

[2020-05-05 14:26] Tyriar opened #2907 "Convert usage of Array.filter(...)[0] to Array.find(...)"
https://caniuse.com/#search=Array.prototype.find

[2020-05-05 14:28] Tyriar commented on #2907
Oh we don't use this pattern anywhere 😄

[2020-05-05 14:28] #2907 closed

[2020-05-05 14:35] Tyriar commented on #2893
Maybe there should be a new class in the API instead:

[code]

That way there's no need to worry about exposing/duplicating `ILinkProvider` members

[2020-05-05 14:47] jerch commented on #2893
+1 for the regexp link provider idea.

@Tyriar If we spawn things directly from `LinkProvider` - do we get into "first come/matched - first served" issues during the linkifier provider eval? (Sounds like a classical router problem to me, where registering order gets important...)

[2020-05-05 15:01] Tyriar commented on #2893
@jerch yes order is important, but the order is defined by the embedder so all good.

[2020-05-05 17:01] rodolf0 commented on #2893
The constructor for `RegexLinkProvier` could take an additional `priority: number` to resolve ambiguities?

[2020-05-05 18:07] Tyriar commented on #2893
@rodolf0 the link matcher system used a priority, link providers priority is defined by the order they are registered, so it's in complete control of the embedding application. That's called out here:

https://github.com/xtermjs/xterm.js/blob/1168c6c52f49c7155094fe173ac037ea0e9ce8ac/typings/xterm.d.ts#L754-L755

[2020-05-06 02:30] Altamill opened #2909 "TypeError: n.buffer.getLine is not a function"
## Details
- Browser and browser version: chrome / 81.0.4044.129
- OS version: linux centos 7
- xterm.js version: 4.5.0
- xterm-addon-attach: 0.5.0
- xterm-addon-fit: 0.3.0
- xterm-addon-search: 0.6.0

### Steps to reproduce

searchAddon.findNext(e.target.value)

TypeError: n.buffer.getLine is not a function

[2020-05-06 03:09] JavaCS3 commented on #2909
@Altamill Can you provide a http://jsfiddle.net/ sample?
This issue may be related to #2713

[2020-05-06 06:44] DavidSichau opened #2910 "Warnings about non passive events"
There is already a closed issue about that: https://github.com/xtermjs/xterm.js/issues/829

However we do see the following warning popup in chrome again:

[code]

## Details
- Browser and browser version: Chrome  81.0.4044.122
- OS version: Ubuntu 20.04
- xterm.js version: 4.5.0

### Steps to reproduce

1. Open Demo in Chrome

[2020-05-06 11:46] Tyriar opened #2911 "Async link providers can fire hover multiple times, resulting in a tooltip sticking around"
https://github.com/microsoft/vscode/issues/95997

This happens when another cell in the same link is hovered before the provider has a chance to resolve.

[2020-05-06 11:57] Tyriar opened #2913 "Improve handling of slow resolving link providers"
https://github.com/xtermjs/xterm.js/pull/2912 (https://github.com/xtermjs/xterm.js/issues/2911) added a workaround to cancel potential hover events when slow link providers are still in progress. This was to fix the bug https://github.com/microsoft/vscode/issues/95997 where hovering multiple cells on the same row in quick succession would trigger 2 hover events and only a single leave, resulting i

[2020-05-06 11:59] #2911 closed

[2020-05-06 12:07] Tyriar commented on #2848
This isn't actually fixed yet, we need to delete links that are "below" higher priority links still.

[2020-05-06 13:20] Tyriar opened #2915 "Allow link provider results to get merged if the link range is identical"
In order to facilitate something like being able to use multiple link providers via a tooltip rather than just the default, we should expose links that match the range of another link exactly through the API.

VS Code issue: https://github.com/microsoft/vscode/issues/97070

[2020-05-06 13:55] #2848 closed

[2020-05-06 15:56] Tyriar commented on #2915
Possible proposal:

[code]

This is a little weird as it's a property not intended to be provided by the embedder. Another alternative:

[code]

This would allow the

[2020-05-06 17:07] Tyriar opened #2917 "Update to playwright v1.0.0"
Just released https://github.com/microsoft/playwright/releases/tag/v1.0.0, should make automated updates much easier as the API won't change 🎉

[2020-05-06 17:31] jerch commented on #2913
Wouldn't it be enough here to check if the pointer position is still valid in the code part that digests the return of the slow callback? Something like storing a cancel state on leave, or debounce calling into the slow code if the next cell would lead to the same link?

*on promises/await-async:*
It nice to code indeed, but I have somewhat poor experience with it:
1. if perfomance matters, dont u

[2020-05-06 17:36] jerch commented on #2910
@DavidSichau I cannot repro with Ubuntu 18, same chrome version. Did you set some special flag in the chrome settings to get this warning? (Yes its just a warning, dont get misguided by the term "Violation")

[2020-05-06 18:12] Tyriar commented on #2910
I always had trouble reproducing this warning reliably, The fix should be to set `passive` explicitly though, essentially making it a mandatory option. If we want to intercept scrolls, which we do iff mouse wheel events are being sent to the process so the page doesn't scroll, we want `passive: false` I think.

[2020-05-06 18:20] yoctozepto commented on #2662
Just a small comment - this affects HiDPI settting in Windows 10 as well. OTOH, DOM is also affected but looks different (no terminal renderer is able to provide the crispiness of the main editor though :-( ).

[2020-05-06 18:33] DavidSichau commented on #2910
I do not have any special settings. I could follow to the causing function which is:

https://github.com/xtermjs/xterm.js/blob/3a9cdbab0d62706c28233ada339d11d75ddedabb/src/browser/Lifecycle.ts#L19

[2020-05-06 19:58] miguelmota opened #2918 "Font not properly displayed"
What fonts do I need installed on my system for xterm to render the text correctly? The screenshot shows the fonts being rendered weirdly on the demo page

![Screenshot from 2020-05-06 12-54-49](https://user-images.githubusercontent.com/168240/81222388-1008c580-8f99-11ea-9c3d-393e09a4db39.png)

## Details
- Browser and browser version: All
- OS version: Arch linux
- xterm.js version: latest

### S

[2020-05-06 21:26] miguelmota commented on #2918
It was a monospace font configuration problem on my computer. Closing.

[2020-05-06 21:26] #2918 closed

[2020-05-06 21:52] jerch opened #2919 "CellMarker"
With PR #2751 `AttributeData` got extended by "extended attributes". While it is quickly hardcoded there for the special needs to hold underline style and colors with small buffer footprint in mind, this approach is very limited in its static nature. If we can get this working in a more dynamic fashion, we can solve a long missing feature in xterm.js - cell markers.

**Proposal**

Early idea of a

[2020-05-07 12:18] Tyriar commented on #2910
@DavidSichau this is probably the line:

https://github.com/xtermjs/xterm.js/blob/64328ee39c64a201bd28dc72fb5c644d8cd880d8/src/browser/Terminal.ts#L677

If you can reproduce this consistently, you could make a PR by running the demo, changing it to this and verifying it goes away:

[code]

[2020-05-07 15:04] DavidSichau commented on #2910
@Tyriar Your change did not work.

I added the following change and all issues were gone:

[code]

My suggestion would be to instead of passing useCapture and an object or boolean which contains additional options, then the passive event can be passed down. What do you think?

[2020-05-07 16:05] jerch commented on #2910
@DavidSichau The code line @Tyriar mentioned, will be activated on a program requesting extended mouse reports. You can prolly trigger the same error at that code line with vim and activated mouse support.

[2020-05-08 09:44] jerch commented on #2919
The conditional marking during writing is too much of a burden, thus I gonna remove the condition (`term.write` already runs >5 times slower with 2 markers, guess due to heavy branching). It is still possible to get a similar result without it by doing slightly different steps:
- place a marker into write (now unconditionally)
- grab active cursor area start position (top-left cell reachable by th

[2020-05-08 16:35] Tyriar commented on #2919
Can you expand on the API proposal to show where `ICellMarker` comes from? My thinking when I was talking about this was something along these lines:

[code]

I guess with an `onDispose` event too.

Then allowing embedders to store data in their own way, eg:

[code]

Essentially a pretty simple thing like the current `IMarker` that is just aware of the column position. Looks like you want to lever

[2020-05-08 18:29] Tyriar commented on #2727
Hoping this is fixed now that I bumped the timeout 200ms from 50ms. Not a proper fix but there's a warning in the test that polling for something wasn't good enough 😕

[2020-05-09 13:05] jerch commented on #2919
@Tyriar Well the API idea is still early and needs refinement to be usable/useful. I started from the line marker interface to shape this (basically what your interfaces look like).

Several problems popped up early with a direct transition of line markers into cell level. Esp. they are very wasteful on the buffer, if they can only represent a single cell, thus the idea to expand it to cell ranges

[2020-05-09 13:16] Tyriar commented on #2919
Don't we only need to change it when it scrolls off the scrollback or on resize?

Is the intent here that any change in content or attribute invalidate the marker?

I was thinking they would only get disposed when they leave scrollback just like markers today which already fire an event, it's just not included in the API:

https://github.com/Tyriar/xterm.js/blob/92fdf0ce58a454fb704ca711ffcf9668713

[2020-05-09 13:28] Tyriar commented on #2919
If perf here is a concern, another idea that I've been thinking about for a while is that we could avoid the marker line shift all together (within scrollback at least) if we just marked each line with an index, starting at 0. So if your scrollback is 1000 and 2000 lines have gone by, the buffer lines would have ids 1000-1999.

We could then remove this all together when that line leaves the viewp

[2020-05-09 13:52] jerch commented on #2919
Well we have tons of "cell moving" sequences, they would have to update the positions. and yes, resize will suffer really bad as it has to go through all buffer cells and re-eval marker positions.

Yepp:
- content type: behaves like normal cell content, thus gets overwritten by new cell data, that does not contain that particular marker itself
- attribute type: same as content, plus gets removed f

[2020-05-14 09:03] DavidSichau commented on #2910
I get rid of the warnings if I do both changes. The one code line change mentioned by @Tyriar is not enough,

[2020-05-14 12:11] Tyriar commented on #2910
Maybe a listener is missing then. I'm not sure we can add passive there to the generic listener helper as some events may not be passive? Finding the one tuts needs it and passing in an option instead would be better.

[2020-05-14 13:07] DavidSichau commented on #2910
I have created a pull request to address these warnings:

https://github.com/xtermjs/xterm.js/pull/2931

[2020-05-15 17:54] Tyriar opened #2933 "Exception when triggering Terminal.dispose multiple times"
![image](https://user-images.githubusercontent.com/2193314/82080949-5a292f80-969a-11ea-9c2a-b1a38dbbb026.png)

[2020-05-15 19:29] #2933 closed

[2020-05-18 02:44] 44670 opened #2935 "Incorrect transparency on webgl"
## Details
- Browser and browser version: electron 9.0.0-beta24
- OS version: Windows 10
- xterm.js version: 4.6.0, webgl addon: 0.7.0

### Steps to reproduce

1.  Create terminal with following option:
{
    allowTransparency: true,
    cols: 40,
    rows: 30,
    theme: {
      background: 'rgba(0, 0, 0, 0.5)'
    }
  }
2.   xterm.loadAddon(new WebglAddon())

3. The terminal has incorrect transp

[2020-05-18 06:09] vueCcc commented on #1359
你好，我也遇到了这个问题，请问下您这里的term是new Terminal实例吗，我发现实例并没有renderer这个方法，谢谢

[2020-05-18 11:30] st1nga opened #2937 "Where is xterm.js"
## Details
- Browser and browser version: FireFox 68.8.0esr
- OS version: Debian 9
- xterm.js version: 4.6.0 (I believe)

### Steps to reproduce
root@shark:/var/www/html# apt install npm
root@shark:/var/www/html# npm install xterm
xterm@4.6.0 node_modules/xterm

1. npm install xterm
2. Can't find xterm.js anywhere

root@shark:/var/www/html# find . -iname "*xterm.js*" -ls
root@shark:/var/www/html#

[2020-05-18 11:33] st1nga commented on #2937
I added this and now I get something...

<script src="https://cdnjs.cloudflare.com/ajax/libs/xterm/3.14.5/xterm.min.js"></script>

But unsure about it really.....

[2020-05-18 11:33] st1nga commented on #2937
Opps, didn't mean to close it

[2020-05-18 12:02] the21st commented on #887
It seems someone created an addon for this purpose 🙂 https://github.com/wavesoft/local-echo

[2020-05-18 12:19] Tyriar commented on #2937
Installing npm via apt seems like a bad idea, it's bundled with node. It should be in node_modules/xterm

[2020-05-18 12:19] #2937 closed

[2020-05-18 13:15] st1nga commented on #2937
Well it isn't in node_modules/xterm.

How else would I install npm?

[2020-05-18 14:24] Tyriar commented on #2937
This is a problem with your node/npm setup, you should read their docs.

[2020-05-19 02:27] st1nga commented on #2937
OK, thanks for the help.

[2020-05-21 08:33] lachdoug opened #2941 "Loading via browser and the Universal Module Definition"
In [Issue #2499](
https://github.com/xtermjs/xterm.js/issues/2499) it was asked why addons don't work when loaded by browser from a CDN.

Addons are supposed to work as so:
[code]
But the UMD returns an object, so it's necessary to do this:
[code]
Here's a full example:
[code]
The UMD conditions are:
[code]
Perhaps the last line should be `root["FitAddon"] = factory()["FitAddon"];`.

[2020-05-21 23:22] jerch commented on #2499
@cekvenich
Thats a really bad idea if you run the terminal to connect to real world machines later on and cannot guarantee the integrity of the CDN packages. A terminal is often used for sensitive tasks and should not be loaded from some random internet source.

[2020-05-21 23:24] jerch commented on #2941
@lachdoug See my warning in #2499 regarding CDNs. Pls lets not spread a bad habit.

[2020-05-21 23:27] cekvenich commented on #2499
It is a common practice and has hash code protection.

[2020-05-21 23:33] jerch commented on #2499
There are countries where ppl dont lock the front doors. Its common practice there. But is it any good?

And who controls the hash? You during upload with strong auth to the CDN?

[2020-05-22 00:04] cekvenich commented on #2499
I understand the risk. Please help.

[2020-05-22 04:43] lachdoug commented on #2941
This is not a CDN issue, per se. The issue is whether xterm addons should be loadable without a module system, using a `<script  type="application/javascript">` tag. There are times when it makes sense to load xterm this way. I teach a web dev class to high school kids. It's basic stuff. We use xterm in a lesson about character encoding. Loading libraries into global namespace (yes, from a CDN) is

[2020-05-22 07:57] roguexiaohuihui opened #2943 "“opening link blocked as opener could not be cleared“：an exception occurred for xterm-addon-web-links"
## Details
- Browser and browser version: Electron
- OS version:  Windows 10
- xterm.js version: 4.4.0
xterm-addon-web-links：>=0.4.0

### Steps to reproduce

1. when the xterm version is 4.4.0, if the xterm-addon-web-links version is higher than 0.2.1, an error will occur

**Opening link blocked as opener could not be cleared**

![image](https://user-images.githubusercontent.com/22930711/82645034-

[2020-05-22 08:37] jerch commented on #2941
@lachdoug I know that this issue is not about CDN in the first place, still your snippet contains/shows that, and thats the reason why I called it out. Those snippets are often used as copy blueprints, even by long-standing web developers which should know better. Imho the only usecase, where loading xterm.js exact that way makes any sense, is an in-browser only REPL, that does not try to to talk

[2020-05-22 08:50] jerch commented on #2499
Several options:
- control the ressource, thus deliver it on your own
- use secure CDN (where you control the upload and the SRI hash)
- book a security audit (they gonna tell you basically the same)
- tell your users not to use the embedded terminal for sensitive tasks

[2020-05-22 09:52] lachdoug commented on #2941
These kids are 12 and 13. Some of them can't remember how to open their text editors. I'm not going to be talking with them about 'chains of trust'. We're just playing around with a bit of ASCII art.
I'm sorry for mentioning CDNs and teaching. These are irrelevant and have distracted from the trust of the issue, which is: xterm's UMD for addons does not work as documented.
If you don't want to cha

[2020-05-23 19:42] Jesse-Schokker opened #2944 "Disable cursor"
Currently it doesn't seem to be possible to hide the cursor. There's also nothing listed in the supported terminal sequences in regards to removing the cursor (https://xtermjs.org/docs/api/vtfeatures )

[2020-05-23 22:53] jerch commented on #2944
@Jesse-Schokker
DECTCEM with `CSI ? 25 h` (show) and `CSI ? 25 l`  (hide) does not work for you?

[2020-05-24 08:06] xiangcong opened #2945 "Is it possible to get txt content of xterm?"
Hi,

I'm planning writing integ tests for xterm used in my application.
Wondering if I can get the txt from canvas and verify the content?

Thanks!

[2020-05-24 12:09] jerch commented on #2945
Nope, thats not possible unless you want to write an OCR. A canvas is just a pixelated drawing surface.

Maybe your looking for https://xtermjs.org/docs/api/terminal/interfaces/ibufferline/#translatetostring?

[2020-05-24 23:31] socketpair opened #2946 "Support font-stretch"
I decide to use Iosevka font. But I want `font-stretch: expanded` version. But unfortunately there is no easy way to use it (except hascking with the filenames browser loads).

[2020-05-26 14:12] xiangcong commented on #2945
Thanks for the info!

[2020-05-26 14:12] #2945 closed

[2020-05-26 14:57] Tyriar commented on #2946
As long as this works in canvas, seems like a reasonable request.

[2020-05-26 16:16] socketpair commented on #2946
Yep, it's just one more font attribute like weight ot size

[2020-05-26 19:35] Puneethnaik commented on #2737
@Tyriar I would like to take this issue. Upon first inspection, I figured we need to make changes in the setTheme function of ColorManager.ts
https://github.com/xtermjs/xterm.js/blob/869d791f444f77024d97af0e2fe430996259a937/src/browser/ColorManager.ts#L113
And also, I am thinking there should be some changes in the color.blend function as well.
https://github.com/xtermjs/xterm.js/blob/869d791f444f

[2020-05-28 00:21] JoshuaKGoldberg commented on #920
Hey @Tyriar, the situation of another class messing with the DOM actually reproduces reliably now  with hot module reloading in React applications. Here's a demo: https://codesandbox.io/s/xtermjs-dom-renderer-disposal-jsd75

[code]

I'd be happy to send a PR that, say, changes the DOM renderer's [`dispose()`](https://github.com/xtermjs/xterm.js/blob/864f1a9be93c9019c377d1023f8ae04d96de1e7e/src/bro

[2020-06-02 04:32] raxod502 commented on #2499
@jerch I think you misunderstood what @cekvenich is saying. He does not want help with making his application more secure. He wants xterm.js to work properly when he loads it from a CDN. Incidentally, I also want this. At the very least, if xterm.js is not going to support usage via CDN, then it should be removed from locations such as CDNJS -- otherwise it just wastes people's time.

[2020-06-02 09:21] dlanorf opened #2957 "Up left corner should not show textarea and character 'W'"
## Details
- Browser and browser version:
Chrome
Version 81.0.4044.138

![xterm](https://user-images.githubusercontent.com/44251003/83500408-4fbbc200-a4f1-11ea-9ca4-98ce41c56d18.png)

- OS version:
- xterm.js version: 4.6.0

### Steps to reproduce
below is my code:

import React, {Component} from "react";
import {Terminal} from "xterm";
import { FitAddon } from "xterm-addon-fit";
const fitAddon =

[2020-06-02 12:10] Tyriar commented on #2957
You're not using the css?

[2020-06-02 12:10] #2957 closed

[2020-06-02 12:16] Tyriar commented on #2499
@raxod502 we didn't put them there. Some people do use them and security isn't a problem, it's only if you are using xterm.js in a sensitive context like an actual running process that you should consider the security implications.

[2020-06-02 15:53] dlanorf commented on #2957
Should not Terminal in xterm use the css ?
Should user import css manually ?

[2020-06-02 16:54] Tyriar commented on #2957
Please read https://github.com/xtermjs/xterm.js#getting-started

[2020-06-02 17:18] anatoly-spb opened #2958 "[xterm-addon-fit] Wrong rows/cols calculation"
Thank you for amazing component!

Anyway I met a problem and want to share it.

I have a simple project which show the problem with rows/cols calculation by xterm-addon-fit

![problem](https://user-images.githubusercontent.com/13556403/83548117-e72e0e80-a50b-11ea-87f2-5f59eb358051.PNG)

As you can see on the picture xterm shows only 2.5 rows, but xterm-addon-fit calculates 4 rows.
In this situatio

[2020-06-02 22:58] tcardonne commented on #2151
Hello,

I'm having the same issue on VSCode's integrated terminal with a french layout.
When I want to input the `~` character, it prints me `é~` (`Alt right` + `é` then `space`).
`Alt right` + `é` (twice), it prints me `éé~`.
I can reproduce the issue on xtermjs.org.

I tried to gather some logs/infos to help you. If I understand correctly, you can't reproduce the issue on your side, so tell me i

[2020-06-03 06:48] dlanorf commented on #2957
after import the css manually. It appears normal. Thanks !

[2020-06-03 13:49] Tyriar commented on #2151
@tcardonne I believe this never worked and is happening because we're listening using keydown/key/keyup events as opposed to the `input` event, this is the same reason emoji support isn't great https://github.com/xtermjs/xterm.js/issues/469. This change might end up being relatively easy to move over but since it's a pretty fundamental change to how input works it will need a lot of validation and

[2020-06-03 14:05] Tyriar commented on #2958
@anatoly-spb it seems to be doing the right thing, remove `overflow: hidden` from `body` to show the issue; xterm.js' host element is larger than is visible in your screenshot.

[2020-06-03 14:05] #2958 closed

[2020-06-03 15:31] tcardonne commented on #2151
@Tyriar I understand.

It's weird, I have the issue on my desktop at home but I can't reproduce it with my work laptop (with the same keyboard attached to it).
I've tested on xtermjs.org website and on vscode.
The only difference appears to be the Windows version (2004 on personal computer, 1903 on work laptop).

Here is the keyboard event viewer table :
![Capture](https://user-images.githubuserco

[2020-06-03 16:16] tcardonne commented on #2151
Ok, I feel stupid, I didn't noticed the NumLock on my first comment.
I have a small keyboard without numpad and function keys, so I didn't noticed.

However, even with num lock, it should work, so the underlying issue (use of the input event) is still present, I guess.

Nevertheless, I'm happy to have found the cause of my issue.

[2020-06-03 17:25] Tyriar commented on #920
@JoshuaKGoldberg yes please send a PR 🙂

[2020-06-03 17:25] #920 closed

[2020-06-03 17:26] Tyriar opened #2960 "Failed to execute 'removeChild' on 'Node': The node to be removed is not a child of this node."
https://github.com/xtermjs/xterm.js/issues/920#issuecomment-635014667

[2020-06-03 19:35] JoshuaKGoldberg opened #2961 "Error in docker-compose up: SyntaxError: Unexpected token {"
### Steps to reproduce

I'm following https://github.com/xtermjs/xterm.js/wiki/Contributing#running-the-demo on Node 12.4.0:

[code]

[code]

This particular syntax error comes from https://github.com/jsdom/webidl-conversions/commit/647d8736ce969bcabab4a75e2ed61616c8fb0747:

[code]

Looks like whatever version combination of Node and the webidl-conversions package is such that webidl-conversions i

[2020-06-04 00:09] mattfbacon opened #2963 "Terminal font letter spacing is huge on Arch Linux (not on Windows or Ubuntu)"
## Details
I've only tested this on Windows 10, Ubuntu, and Arch Linux, but I've only had the problem on Arch, in Chrome, Konqueror, Vivaldi, and GNOME Web.
Essentially, the each character in the terminal is its normal width, but the space around it is doubled, so each character takes up the space of two. [Here's some images](https://imgur.com/a/tkVrLFL) from Cockpit on Chrome, and [some more](htt

[2020-06-04 13:59] Tyriar commented on #2963
It looks like the font is not monospace, which is odd as xtermjs.org should be using `monospace` as a fallback:

https://github.com/xtermjs/xterm.js/blob/d57e099e6ed328bd52ea17eb2d4685070591904b/src/common/services/OptionsService.ts#L29

Maybe you have either a non-monospace font configured as the system monospace font or a different courier font? 🤔

[2020-06-04 14:04] Tyriar commented on #2961
@JoshuaKGoldberg want to do a PR to update that? The Dockerfile has been largely unmaintained for sometime now.

[2020-06-04 14:11] #2961 closed

[2020-06-04 14:15] #2960 closed

[2020-06-04 15:00] musm commented on #1140
I'd also love this feature, my issue is actually not simply aesthetics, it's a usability problem. The issue is that one action, causes way too many skips on the terminal and the fact that there's no smooth scroll makes it almost impossible to understand what lines were skipped over. It really makes the terminal hard to use.

[2020-06-04 16:59] mattfbacon commented on #2963
I have Roboto Mono as the monospace font. Other websites are able to use it. I agree with you about it not looking monospace; it looks like Lato, my system font. Maybe I should install Courier New?

[2020-06-04 17:39] Tyriar commented on #2963
@mattfbacon does it work if you [run the demo](https://github.com/xtermjs/xterm.js/wiki/Contributing#running-the-demo) and change `rendererType` to `dom`?

[2020-06-05 11:07] theflyingape commented on #2963
For years, this has been my experience too, especially with a clean cache.  Today, it occurs frequently using Firefox (example at bottom), but not Chrome. I had to put in some workarounds that has helped avoid the startup 'ugliness', such as forcing a resize window.dispatchEvent(new Event('resize')) and locally serving up fonts in <head>, i.e.,
[code]

My startup xterm settings -- I do change font

[2020-06-05 15:05] mattfbacon commented on #2963
Okay, I've downloaded and run the demo. I have the same issue in DOM and Canvas mode. Here are the screenshots: <https://imgur.com/a/wEPmSGE>

Interestingly, if I modify the font-family string in DOM node, the terminal goes black until I switch back to Canvas mode.

Also, I opened the DDGame linked above, and it looked fine (See the same link for a screenshot).

[2020-06-08 02:24] Luokun2016 commented on #2963
I setting  'letterSpacing: 0'
In Chrome,  the letter spacing is huge.
![2020-06-08 10-19-12屏幕截图-chrome](https://user-images.githubusercontent.com/24650960/83987187-04326980-a972-11ea-8d28-12ea4ec02c53.png)

But in Firefox, it is ok.
![2020-06-08 10-19-42屏幕截图firefox](https://user-images.githubusercontent.com/24650960/83987248-32b04480-a972-11ea-8039-54eafc06179d.png)

[2020-06-08 12:21] seeruk commented on #1727
There is some good discussion in that other issue; are there plans to change this behaviour so that the screen is pushed up instead of erased?

[2020-06-08 12:42] Tyriar commented on #2963
@Luokun2016 that's not a monospace font in your first screenshot either, easy way to tell is how the `i` is left aligned.

[2020-06-08 13:48] Tyriar commented on #2737
@Puneethnaik also sorry about not giving any guidance, been 100+ notifications behind for a while 😩

[2020-06-08 19:34] Tyriar commented on #2941
:+1: `window.FitAddon` would be more intuitive.

[2020-06-08 19:36] Tyriar commented on #2943
This was added to prevent a security issue. I wonder if we should be detecting Electron somehow here, that may not be possible if the sandbox is enabled though 🤔

[2020-06-08 20:33] mofux commented on #2943
In which case would `window.open()` not return a reference to the opened window? I just tested the above code in electron and it is working correctly. @roguexiaohuihui Can you tell which electron version you are using, and maybe also provide the settings that you are using for opening the electron window?

[2020-06-09 07:35] Puneethnaik commented on #2737
@Tyriar No worries :slightly_smiling_face:, I have got your reviews on the PR. It has taught me many things about good software engineering practices.

[2020-06-10 23:47] PoetaKodu commented on #1140
Every time I scroll the terminal in Visual Studio Code I lose track of where I've been. Smooth scrolling is a basic feature and we need it.

[2020-06-11 03:39] dlanorf opened #2969 "Is there a way to get all the characters before cursor ?"
![xterm2](https://user-images.githubusercontent.com/44251003/84342446-26c5bc00-abd8-11ea-8c74-050518e7ac36.PNG)

[2020-06-11 10:54] Tyriar commented on #2969
Yes using the `buffer` API:

https://github.com/xtermjs/xterm.js/blob/8a3366b1eb5d10e86b3e7a49b9003ae49ff93a44/typings/xterm.d.ts#L587-L592

[2020-06-11 10:54] #2969 closed

[2020-06-11 11:42] Tyriar commented on #2935
/duplicate https://github.com/xtermjs/xterm.js/issues/2252

[2020-06-11 11:42] #2935 closed

[2020-06-11 12:06] samuelsinayoko opened #2972 "pbcopy/pbpaste style functionality in the browser"
Note sure if this is the best place to post this but is there a way to interact with the browser's clipboard from a terminal command, similar to what pbcopy/pbpaste provide on OSX (or xsel/xclip on Linux)?

At the moment you can select and copy using the mouse, or paste using the mouse or keyboard. It can be tricky to copy large amount of text that way. For example if you've typed a long command a

[2020-06-11 12:13] Tyriar commented on #2972
pbcopy would be running on the remote machine, this sort of thing is pretty hard to do and probably impossible just in a regular browser due to security restrictions around clipboard access (maybe possible with hacks in electron though).

[2020-06-11 12:13] #2972 closed

[2020-06-11 12:23] #2910 closed

[2020-06-11 13:00] #2909 closed

[2020-06-11 13:00] daniel-j-davis commented on #2617
I took a shot at looking into this and seems like it's related to onMouseUp in the SelectionService... https://github.com/xtermjs/xterm.js/blob/afc39106c3707532136c0818e9d3aa1dbcf176ac/src/browser/services/SelectionService.ts#L665
https://github.com/xtermjs/xterm.js/blob/afc39106c3707532136c0818e9d3aa1dbcf176ac/src/browser/services/SelectionService.ts#L670
https://github.com/xtermjs/xterm.js/blob/

[2020-06-11 13:06] Tyriar commented on #2617
@daniel-j-davis good find! Moving this `event.altKey` up one line would probably fix it, do you want to do a PR?

https://github.com/xtermjs/xterm.js/blob/afc39106c3707532136c0818e9d3aa1dbcf176ac/src/browser/services/SelectionService.ts#L670-L671

[2020-06-11 13:14] daniel-j-davis commented on #2617
@Tyriar Yeah, that works too and I've verified that alt+click still works as expected.

[2020-06-11 14:18] dlanorf commented on #2969
I tried to use "select" method to get the characters, but I couldn't get desired result.
One difficulty is that I couldn't get the cursor position. As a result, I don't the correct start and end of selection.

[2020-06-11 14:57] Zincr0 commented on #2151
Maybe is a SO or a browser thing? i'm using firefox on kde Neon here

[2020-06-11 15:46] ricpelo commented on #2151
You're right: I can reproduce the issue using Google Chrome but the áéíóú characters works right on Firefox. :open_mouth:

[2020-06-11 16:16] Tyriar commented on #2853
Let's keep this as is for now as there's a workaround to get content only to `cols` which is the fix I used in VS Code. This problem will hopefully go away all together as Conpty is getting soft wrap support soon.

[2020-06-11 16:16] #2853 closed

[2020-06-11 16:16] Tyriar commented on #2727
Haven't seen this in a while.

[2020-06-11 16:16] #2727 closed

[2020-06-11 16:21] #2737 closed

[2020-06-11 16:31] jerch commented on #2151
@ricpelo This smells like an issue with "dead" keys behaving differently in FF, Chrome and Safari. Could you try to record the events with https://w3c.github.io/uievents/tools/key-event-viewer.html in FF and Chrome and post the results here?

[2020-06-11 18:48] ricpelo commented on #2151
@jerch sure. Here I go:

## Chrome:

![chrome](https://user-images.githubusercontent.com/616169/84427190-cd37ae80-ac24-11ea-9aa2-afffd117aa14.png)

## Firefox:

![firefox](https://user-images.githubusercontent.com/616169/84427198-ce68db80-ac24-11ea-871b-88f651867552.png)

[2020-06-11 19:17] jerch commented on #2151
@ricpelo Thx alot. The problem comes from this:

While FF already gives the dead key accumulated character on final `keydown` in `key`, chrome just returns the raw key. I am not sure who is to blame here, imho the keyboard stuff in `keydown` is not well specced at all. It also shows that `input` gets the chars right in both cases. Thats quite a strong argument to move to `input` (we already figure

[2020-06-11 20:25] theflyingape commented on #2617
4.7.0 works great, thanks!

[2020-06-11 20:25] #2617 closed

[2020-06-12 10:10] skerit opened #2975 "Reconnecting to an existing session does not re-enable the mouse"
I'm upgrading my application to Xterm.js 4.7 from 3.4.1.

My xterm.js instance is connected to my server using websockets.
The application it connects to is always on.

When the first xterm.js instance connects to it, everything works fine, including mouse support,
but when I refresh the page and connect again the mouse events are no longer forwarded.

The `term._core._coreMouseService.areMouseEve

[2020-06-12 13:01] Tyriar commented on #2975
How are you reconnecting? If it's just a socket drop and reconnect there's no reason mouse events would break as xterm.js doesn't know anything about being connected/disconnected.

[2020-06-13 03:22] arciisine commented on #2944
I've tried using the sequences and they are not working within VSCode's xterm instance.  Running the same code outside of VSCode in a standard bash shell, and everything works as expected.

[2020-06-13 10:49] jerch commented on #2944
@arciisine The terminal state is global and can be changed by any process with access to that terminal. You prolly have some process in between which negates the effect (e.g. a $PS1 directive messing with the cursor, a shell plugin, ConPty on Windows).

If this happens within the output of a single interactive process we need more context information.

[2020-06-13 13:34] raxod502 commented on #2499
The problem is that it's totally undocumented what interface the addon CDN modules expose, making it really really annoying to use them. I was convinced for a while that they were not usable at all, because none of the examples in the docs worked (no symbols were defined). I just took a closer look, and by staring at the minified export code for a while (ew), I determined that a global binding cal

[2020-06-13 14:41] jerch commented on #2499
Again - we did not put it there, thus we dont control what gets parked there or what those modules expose. If the uploader simply put the npm package content there - well then they contain the typical class mangling done by the TS compiler. Additionally you can find `library: addonName` in the addon webpack config files, which finally leads to the `new MyAddon.MyAddon(...)` naming indirection.

I

[2020-06-13 15:38] Tyriar commented on #2944
This works fine:

![recording (19)](https://user-images.githubusercontent.com/2193314/84572784-3ae0f900-ad51-11ea-8b5e-e6a83f5346ac.gif)

[2020-06-13 15:38] #2944 closed

[2020-06-13 20:41] lachdoug commented on #2499
If we put the CDN security issue aside, and just follow the approach used in the Getting Started section of the docs:

[code]

[code]

This throws an error.

[code]

The problem is that the `xterm-addon-fit.js` UMD returns an object when used with `<script src="">`.

[2020-06-13 20:55] jerch commented on #2499
@lachdoug Hmm yeah, that comes from the additional library setting in the addon webpack config, which "hides" the addon ctor behind `AddonName.AddonName`. I am not sure, why it was made that way it the first place, maybe to avoid global scope pollution by other exports in the addon code? We have no real coding rules on addons itself, thus this seems like an easy way to avoid namespace pollution. B

[2020-06-15 15:48] Tyriar commented on #2499
👉 https://github.com/xtermjs/xterm.js/issues/2941

[2020-06-16 08:30] skerit commented on #2975
@Tyriar With "reconnecting" I mean a new xterm.js session (a page refresh if you will) connecting to an existing terminal session. (Well, actually an existing `blessed` backend)

[2020-06-16 10:24] Tyriar commented on #2975
Yes that will definitely happen, currently there is a WIP serialize addon which serializes and restores terminal state: https://www.npmjs.com/package/xterm-addon-serialize, I'm not 100% sure if it retains mouse modes yet but the intent is that it will eventually. But in general, this is up to consumers to do or the serialize addon.

[2020-06-16 10:24] #2975 closed

[2020-06-16 15:40] tabaddor commented on #2818
I can take a further look at this issue, as it is directly related to microsoft/vscode#90903.

[2020-06-17 11:53] Tyriar commented on #2818
@tabaddor fyi there's a mostly done PR for this so I'd hold off unless @rishab-pdx says he's too busy to tackle it in the near future https://github.com/xtermjs/xterm.js/pull/2889

[2020-06-18 01:22] rishab-pdx commented on #2818
@tabaddor you can have a crack at it. I might not be able to take it in the near future.

[2020-06-18 09:48] petersutter commented on #2975
@skerit I have the same issue. Did the `xterm-addon-serialize` solve it for you or did you find a workaround?
Also, even in case the mouse events are forwarded (e.g. scrolling with the mouse works), the property `term._core._coreMouseService.areMouseEventsActive` is always `false` in my case so I'm not sure if this is a good indicator.

[2020-06-18 10:08] skerit commented on #2975
@petersutter I haven't been able to test it yet, but I'm not sure if I'm going to use it anyway because I see two ways of implementing this:

1: Create an extra xtermjs Terminal instance (together with the serializer) on the server side & pipe all the output of the real terminal into it, then when a new client-side xtermjs Terminal session wants to connect give it the serialized content first befo

[2020-06-23 09:17] zfha opened #2978 "Cannot delete from second line to first line."
I use the demo in official website。

https://xtermjs.org/

If I input too long string to second line. Now, I cannot backspace or delete to first line.

case gif:
![Jun-23-2020 17-16-11](https://user-images.githubusercontent.com/4082233/85385809-5039fc80-b575-11ea-9a1e-ffb40702dce5.gif)

how to solve this problem?

[2020-06-23 10:17] Tyriar commented on #2978
The demo is very basic https://github.com/xtermjs/xtermjs.org/blob/b4b1a13bf676b51d6111f0dd81185312418f0f19/js/demo.js#L23-L39, you should look up xterm.js to a shell process and study how that works.

[2020-06-23 10:17] #2978 closed

[2020-06-23 23:24] DHowett opened #2979 "Question: xterm.js 4.0+ handling of EL when cursor is in deferred EOL position"
## Details
- Browser and browser version: Chromium Edge, 84.0.522; VS Code 1.46
- OS version: This does not appear to matter
- xterm.js version: 4.0.1+ - tested on 4.7, 4.1, 4.0.1, 3.14.5

### Steps to reproduce

Print 80 characters in an 80x25 terminal, then emit an EL. What should happen?

[code]

### Result <= 3.15

![image](https://user-images.githubusercontent.com/189190/85475866-b752b380-b56

[2020-06-24 10:01] bosens-China commented on #1240
@Tyriar
Hi, how can I set a custom prefix instead of using the default`$`

[2020-06-24 12:32] Tyriar commented on #2979
@jerch thoughts?

[2020-06-24 13:43] jerch commented on #2979
Imho thats a result of the cursor restriction code made in #2288, which was needed to get several cursor misplacements fixed.

What happens under the hood is roughly:
- write content up to last row with `8` in last cell
- terminal acknowledges, that another char would wrap (if DECAWM is set), but the cursor still sticks to the last cell
- now EL handling kick in: delete all to the right side inclu

[2020-06-24 19:56] LabhanshAgrawal opened #2980 "Cannot read property 'features' of undefined - while using ligatures addon"
This bug is caused in https://github.com/princjef/font-ligatures which is a dependency of the ligatures addon.

For some fonts, the `gsub` table may not be present. And that causes the below error.

![](https://user-images.githubusercontent.com/2801156/77810633-d1afea80-706b-11ea-8fd6-910405e38ec3.png)

![](https://user-images.githubusercontent.com/2801156/77810889-4afc0d00-706d-11ea-855a-3a490ce5

[2020-06-25 13:27] levenleven commented on #2016
@Tyriar do you mean program should just print line number? But then there's no way to control their styling, right?

[2020-06-26 05:26] bosens-China opened #2981 "Excuse me, how to replace the $symbol by default"
Not found in the documentation, hope to get your help

[2020-06-26 08:33] mofux commented on #2981
Do you mean the $ symbol from the shell that usually ends a user prompt?

I think there is no easy way to do that. There is nothing that tells you where the prompt starts or ends. Also the prompt line may get overwritten multiple times while you are typing, and figuring that out is even harder. Note that xterm.js has no knowledge about the semantics of the content that it is rendering. It only int

[2020-06-26 08:33] #2981 closed

[2020-06-29 06:24] roguexiaohuihui commented on #1653
Are there any immediate plans to address this feature？

[2020-06-29 12:01] herolyle opened #2983 "when open mutil terminal in one page , use long time ."
## Details
- Browser and browser version:chrome 版本 83.0.4103.116（正式版本） （64 位）
- OS version:mac os
- xterm.js version: xterm@3.8.0

### Steps to reproduce

In one page ,have many tabs/terminal ，when I open new tab need long time 。。

execute many times  clearColor
FunctionclearColor @ CharAtlasGenerator.js:73

[2020-06-29 12:02] herolyle commented on #2983
![image](https://user-images.githubusercontent.com/1737842/86002771-6814f300-ba43-11ea-9e09-b77072693d42.png)

[2020-06-29 12:43] herolyle commented on #2983
![image](https://user-images.githubusercontent.com/1737842/86002896-95fa3780-ba43-11ea-8ddb-05410a5aaf65.png)

[2020-06-29 12:46] herolyle commented on #2983
code
 `
  // Remove the background color from the image so characters may overlap
  clearColor(charAtlasImageData, config.colors.background);
`

I set theme configure like

`
    let defaultTheme = {
        foreground: "#c2c2c2",
//        background: "#222222",
        cursor: "#ffffff",
        selection: "rgba(255, 255, 255, 0.3)",
        black: "#000000",
        brightBlack: "#808080",

[2020-06-29 16:28] Tyriar commented on #1653
@roguexiaohuihui no, https://github.com/xtermjs/xterm.js/issues/1852 needs to be tackled first as well.

[2020-07-02 10:29] LabhanshAgrawal commented on #2980
@Tyriar can you please take a look at this
I was able to replicate this issue in Terminus also, using [Inconsolata Nerd Font](https://github.com/ryanoasis/nerd-fonts/releases/download/v2.1.0/Inconsolata.zip)

I can send a pull request if we want to incorporate this modules's code into the addon, or if you know about any other module which can be used, I can try and add that.

[2020-07-02 11:40] jerch commented on #2980
@LabhanshAgrawal

To me this looks problematic, as the module code relies on nodejs env (loading system fonts through additional modules), while xterm.js itself is a completely decoupled browser frontend thingy. The addon currently only works in this hybrid mode and is not useable in pure browser builds. At this stage I think incorporating the code into a purely browser targetting repo is not a go

[2020-07-02 17:09] jerch commented on #2983
Plz try to repro the issue with the master version. 3.8 is outdated.

[2020-07-03 06:28] socketpair opened #2987 "🗺 world map symbols are not rendered correctly"
See https://gitlab.gnome.org/GNOME/vte/-/issues/265

exactly the same bug.

[2020-07-03 22:50] jerch commented on #2987
@socketpair Would be nice to get some more info on that, like unicode version it was specified that way. xterm.js can only handle Unicode v6 by default, and v11 with the `unicode-v11` addon.

Btw a "cell width" of 4 of a no-go for most terminal emulators currently. There is simply no way to address more than 2 cells by a single codepoint. Sadly most "modern" Unicode inventions are incompatible wit

[2020-07-04 10:33] RanX12 opened #2988 "The height cannot be changed"
Hello, after I call the fit() method, the width has changed and the height cannot be changed. Why is it always 600px?
## Details
- Browser and browser version:  chrome  83.0.4103.116
- OS version: Mac 10.12.6
- xterm.js version: 4.6.0

### Steps to reproduce
Create a new xterm, output multiple lines of code, the height is fixed at 600px, can not adapt, the fit() method has been used

[2020-07-04 10:35] RanX12 commented on #2988
I am using xterm-addon-fit

[2020-07-04 21:55] jerch commented on #2988
Plz have a look at the source code of the fit addon to understand what it does.

In short:
It does not change the geometry of your visual terminal container - it does the opposite adjusting cols and rows, so the terminal content fits into your container.

[2020-07-07 13:43] #2988 closed

[2020-07-07 17:00] #2983 closed

[2020-07-07 17:00] Tyriar commented on #2983
Additionally that is using the canvas renderer which we want to get rid of eventually, the webgl addon is available for fast hardware acceleration or the dom renderer for slower but best compatibility.

[2020-07-07 17:04] Tyriar commented on #2980
This is an Electron-only addon and soon won't even work in VS Code as we want to disable node in the renderer all together.

👍 ideally this would get fixed in the upstream package.

[2020-07-08 06:17] princjef commented on #2980
Hey folks, sorry for the delay on the upstream fix. It has been merged and published in version 1.3.3, so this issue should be resolved now. Let me know if this is not the case

[2020-07-08 11:33] LabhanshAgrawal commented on #2980
@princjef thanks for merging and publishing it.
@Tyriar @jerch I've opened a pr #2993 to update to 1.3.3
I've tested it in hyper, I'd be glad if this could make it in 4.8.0 if possible.

[2020-07-08 13:00] Tyriar commented on #2980
@princjef thanks for the quick fix mate 🙂

[2020-07-08 13:01] #2980 closed

[2020-07-08 13:34] theflyingape commented on #2963
Thinking out loud, do new [variable fonts](https://web.dev/variable-fonts/) provide a solution here over resize and fit twiddling tasks? Another [read](https://medium.com/@mandy.michael/resize-text-to-fit-the-parent-with-variable-font-width-axis-16921b6687ae) follows.
If so, is it possible this helps simplify support for DEC double width-height-both and blink (animate weight and/or bold) attribute

[2020-07-08 13:53] Tyriar commented on #2818
@tabaddor we could, but I think the ideal behavior here is to retain/amend the selection given the new dimensions, see https://github.com/xtermjs/xterm.js/pull/2889#issuecomment-621866500

[2020-07-08 14:28] LabhanshAgrawal opened #2994 "Doesn't support vt resize command"
## Details
- Browser and browser version: Chrome 83 and electron 9.0.5
- OS version: macOS Catalina
- xterm.js version: 4.7.0

### Steps to reproduce

1. do `printf '\e[8;40;80t'`
2. the onResize event should fire (with rows:40 & cols:80) but there's no event

Works on default terminal.app (it resizes based on the entered rows and cols)
Tested on the xterm demo, hyper and terminus

ref https://git

[2020-07-08 15:50] Tyriar commented on #2994
This is left out by design, we provide implementations for some window options but not the one you're referring to. See https://github.com/xtermjs/xterm.js/blob/dc541c2664c3009ad61a088fb14663713cd675da/typings/xterm.d.ts#L403-L429 for how to implement this.

[2020-07-08 15:50] #2994 closed

[2020-07-08 16:21] LabhanshAgrawal commented on #2994
I see
Thanks for clarifying

[2020-07-09 08:45] jeanp413 commented on #2598
I'll give this a shot

[2020-07-09 20:13] andrew-schlackman opened #2998 "Terminal.Open during expand animation can cause indefinitely paused renderer"
I've run into what i think is an edge case that causes my terminal to be stuck in a paused state where no output is displayed until the terminal element is scrolled out and back into the viewport, or the user switches tabs and then switches back.

Continue reading for further details, or skip to the bottom for my proposed cause and solution.

I am running xterm in an Angular app in an element insi

[2020-07-10 03:30] exinknighthigh opened #3000 "Docker build now fails with what look like latest commits related to xterm-addon-ligatures"
The current xtermjs code (commit 01432a3) in a Docker container on Windows (Docker For Windows) fails when doing a  build on the stock DockerFile: docker build -t stockxtermjs .

The problems seems related to the xterm-addon-ligatures

Error:

Step 9/9 : RUN npm run build && npm run test
 ---> Running in 92bc2fd18903

addons/xterm-addon-ligatures/src/font.ts(6,29): error TS2307: Cannot find module

[2020-07-10 12:37] Tyriar commented on #3000
Can you check the output of the `yarn` step? It looks like dependencies aren't getting installed?

[2020-07-10 13:19] #2598 closed

[2020-07-10 14:21] Tyriar opened #3003 "Nothing is visible in VS Code in 4.8.0"
Likely due to https://github.com/xtermjs/xterm.js/pull/2999, cc @andrew-schlackman

![image](https://user-images.githubusercontent.com/2193314/87164725-f7a97580-c27d-11ea-93c4-88d525be45e8.png)

[2020-07-10 14:23] Tyriar opened #3004 "Unable to preventDefault inside passive event listener invocation."
Happens when scrolling scrollback.

![image](https://user-images.githubusercontent.com/2193314/87164787-0bed7280-c27e-11ea-821a-c19a39fe8e40.png)

Caused by https://github.com/xtermjs/xterm.js/pull/2931, cc @DavidSichau

[2020-07-10 17:10] andrew-schlackman commented on #3003
Ugh, that's an unfortunate unintended consequence. I'll try to take a look when I can, but I haven't built vscode from source yet. Sorry about that.

[2020-07-10 19:11] Tyriar commented on #3004
The problem preventDefault:

https://github.com/xtermjs/xterm.js/blob/63fde0355222a18a64332ed0102c8da37b20b7d6/src/browser/Viewport.ts#L172

[2020-07-10 19:11] Tyriar commented on #3003
I'll revert the change to get a quick fix out as I published this in 4.8.0, still open to a change to fix your issue though.

[2020-07-10 19:11] Tyriar commented on #3003
But no rush on your end 😃

[2020-07-10 19:18] #3003 closed

[2020-07-10 19:18] Tyriar commented on #2998
Reverted in https://github.com/xtermjs/xterm.js/pull/3006

[2020-07-10 19:19] #3004 closed

[2020-07-10 20:27] andrew-schlackman commented on #2998
So apparently `isIntersecting` is undefined sometimes (at least in vscode), which is what caused #3003. I need to do some more testing, but I think setting `isPaused` to false if isIntersecting is undefined should fix both issues.

[2020-07-10 20:31] Tyriar commented on #2998
This seems like the safest option, did you get a VS Code environment up to date to validate this? I can test it out if not if you put a PR out.

[2020-07-12 14:13] andrew-schlackman commented on #2998
Yes, I was able to get VS code building locally and saw that `isIntersecting` was coming up undefined there sometimes. I had not seen that in my Angular apps and didn't realize it was possible. I tested the fix with the added check for undefined in VS Code and it seems to work now as far as I can tell, but it probably wouldn't hurt to double check. I also confirmed that it still fixes my original

[2020-07-13 08:59] killjoy2013 commented on #1824
I'm using xterm in Reactjs and just upgade to 4.8.1. My app constantly writing long SSH output chunks to terminal. Default behaviour is to scroll to bottom whenewer a new text chunk is written. My app's user is supposed to activate / deactivate this behaviour. i.e, he'll freeze the terminal to prevent this scroll to bottom thing as he wishes.   Couldn't find a way. Is it possible to switch **scrol

[2020-07-13 13:02] #2998 closed

[2020-07-13 16:37] killjoy2013 opened #3011 "Keeping the scroll position unchanged after write to terminal"
My reactjs app is listening SSH feed and writes every chunk of text to xtermjs terminal.

Existing behaviour is to scroll to bottom after each write to terminal;

`refTerminal.current.write(newChunk);`

Desired behaviour is to be able to select the default behaviour. i.e., scroll to bottom after each write,  or  keep the scroll position unchanged. Maybe an optional second parameter does it;

`refT

[2020-07-13 20:47] Tyriar commented on #3011
This does not happen:

![recording (6)](https://user-images.githubusercontent.com/2193314/87352072-4d488100-c50f-11ea-8208-d6c18754ea6e.gif)

Since this is the default for non-user input data, the opposite is possible via `term.scrollToBottom()`

[2020-07-13 20:47] #3011 closed

[2020-07-15 02:35] exinknighthigh commented on #3000
I'm not sure where I would find that, especially in the context of a Docker container that runs for about 6 seconds and then fails with the above error. Do you mean the npm debug log? That I've attached.

[2020-07-15T02_01_19_686Z-debug.log](https://github.com/xtermjs/xterm.js/files/4922529/2020-07-15T02_01_19_686Z-debug.log)

Here are some things I have discovered:

- I can recreate the problem o

[2020-07-16 13:18] Tyriar commented on #3000
@exinknighthigh the entry point conditionally runs npm install:

https://github.com/xtermjs/xterm.js/blob/ab63b5168161d5a3a93708f4dc274fadee176801/Dockerfile#L8

Maybe that never runs, I think ideally we would just run that regardless so everything is contained, especially now that there are native dependencies in xterm-addon-ligatures.

I know there are other users but no one in the team uses the

[2020-07-16 13:42] Tyriar opened #3014 "Support event when the bell goes off"
Electron has an API to play the shell bell https://www.electronjs.org/docs/api/shell#shellbeep

To support this with xterm.js we would need to allow `bellSound` to take a `() => void`:

https://github.com/xtermjs/xterm.js/blob/ab63b5168161d5a3a93708f4dc274fadee176801/typings/xterm.d.ts#L47-L50

[2020-07-17 07:10] exinknighthigh commented on #3000
Tyriar  - Thanks for the feedback.

The problem is not the ENTRYPOINT

The problem is that those ligatures  specific modules occur as dependencies and devDependencies in the xterm-addons-ligatures package.json, not the root package.json

The DockerFile is only doing a RUN npm install based on the root package.json

It never picks up those other dependencies.

I can fix the problem in the DockerFil

[2020-07-18 02:46] exinknighthigh commented on #3000
Also, in the context of docker build, 5 of the ligatures tests are failing due to latency. I had to remove these to get the build to succeed:

5 failing

  1) xterm-addon-ligatures
       returns the correct set of ranges once the font has loaded:
     Error: Timeout of 2000ms exceeded. For async tests and hooks, ensure "done()" is called; if returning a Promise, ensure it resolves. (/usr/src/app/

[2020-07-28 10:47] pszypowicz opened #3019 "Mouse scroll/click not available in tmux on wsl (windows 10)"
I think this is related to the https://github.com/xtermjs/xterm.js/issues/329

## Details
- Browser and browser version: Firefox 78
- OS version: Windows 10
- xterm.js version: 4.8.1

### Steps to reproduce

1. Run demo on windows
2. In shell open `wsl`
3. `tmux attach`
4. set -g mouse on
5. scroll does not work
6. split the window
7. changing windows with LMC does not work

[2020-07-29 01:30] exinknighthigh commented on #3000
So I was able to solve all these problems be rewriting the Dockerfile. In rewriting, I think there is a bigger issue, though, The Dockerfile REALLY needs love, particularly from a security standpoint. Out of the box, xtermjs runs under root. At the very least, I would include comments in the file about how to make it multi stage and run under a non root user with limited access, especially given t

[2020-07-29 12:01] Tyriar commented on #3000
I don't think this was ever meant to be a secure dockerfile, more as a convenient way to develop in a dockerfile this is why node_modules is shared for example. Running with limited access sounds like a good idea though.

[2020-07-29 23:01] jerch commented on #3000
Imho the docker thingy is currently unmaintained and, if remember correctly, we already had the discussion whether to keep it at all. We voted for keeping it while it works, but ofc this is not the best idea to deal with it. It might break anytime and even worse, imho we dont even have a test stage for it, thus it might break silently, doh.

@exinknighthigh
Yes root in docker is dangerous, if you

[2020-07-30 07:00] xulancelee opened #3022 "I can't enter backspace when Xterm connect to my centos8 server"
## Details
- Browser and browser version: Google Chrome | 84.0.4147.89 (x64)
- OS version: MyComputer:macOS 10.15.3; Server:  centos8; Bash: 4.4
- xterm.js version: 4.8.1

### Steps to reproduce

1. When I use WebScoket connect to my centos8 server and I just enter wrong content, I can del content by enter backspace key, it work like I enter an space Key。Is this a bug？How can I fix it;

[2020-07-30 20:39] jerch commented on #3022
Sounds like ssh sends other control codes than the remote system expects. This can go wrong for several reasons, e.g. an unsupported terminfo profile (inspect `TERM` variable on both systems), improper profile settings or the shell does not understand some settings (can happen with ssh'ing directly into `/bin/sh`, check `/etc/passwd` entry).

This question is better suited for stackoverflow or one

[2020-07-31 06:50] yvantitov opened #3025 "Terminal doesn't respond to keypresses"
I can't seem to get input from a `Terminal` when using xterm.js in a html page. I apologize in advance if this is a silly error on my end, but I cannot figure out what I did wrong.
## Details

- Browser and browser version: Google Chrome | 84.0.4147.89 (Official Build) (64-bit)
- OS version: Ubuntu 20.04 LTS x86_64
- xterm.js version: 4.8.1

### Steps to reproduce

1. Put this into a file:
[code]

[2020-07-31 12:56] Tyriar commented on #3025
term.onKey is a function:

[code]

Also you should typically be using `onData` instead.

[2020-07-31 13:01] #3022 closed

[2020-07-31 13:20] Tyriar commented on #3000
@jerch I think you're right, we should pull it out so we don't have to worry about supporting these types of requests.

[2020-07-31 13:31] #3000 closed

[2020-07-31 17:34] yvantitov commented on #3025
Working now. Thanks!

[2020-07-31 17:34] #3025 closed

[2020-08-01 16:10] exinknighthigh commented on #3000
I think that is a good decision. Right now the Dockerfile and docker-compose.yml is too coupled to changes in the project as evidenced by this ticket. To your point, unless you want to maintain automated tests around it and deal with that coupling it's a time sink.

[2020-08-02 02:21] bolariin commented on #3014
I would like to work on this issue

[2020-08-02 08:15] lachdoug opened #3029 "FitAddon and display 'none'"
It would be good if a terminal could be created on an element when display is 'none'. I'm not sure if this is bug report or a feature request.

This works:
[code]

However, this throw error `This API only accepts integers`:
[code]

I think that this might be related to the issue that they're encountering over at https://github.com/bus-stop/x-terminal/pull/133

[2020-08-02 15:05] perfectwebtech opened #3030 "terminal replace"
hello

any guidance possible when i run with php then i connect one server sucessfully

but when i connect second third  then    first and second replace third server with credential and ip so on

last connected connect on my past tab also is there way replace terminal class or something guidance possible ? when click on list of server and click on connect then each tab shold create new session no

[2020-08-03 14:59] Tyriar commented on #3029
Why not just remove with `display` change in your code above all together? Display none means we can't pull the calculated values off of the element, just like if it wasn't attached to the dom.

[2020-08-03 16:37] Tyriar commented on #3030
It's a little difficult to tell what your actual problem is. But it sounds like a problem with whatever process you're running that's using xterm.js as a frontend, not with xterm.js itself.

[2020-08-03 16:37] #3030 closed

[2020-08-03 16:45] Tyriar commented on #3014
@bolariin sounds good 👍

[2020-08-03 16:52] Tyriar commented on #3019
It seems to work for me:

![recording (20)](https://user-images.githubusercontent.com/2193314/89207057-ff9fc100-d56e-11ea-853f-ec6d80ea17a7.gif)

What version of Windows 10 is this? Can you share your settings.json file?

[2020-08-03 16:54] Tyriar commented on #3019
I tried using wsl/tmux on Firefox and it gave the same results.

[2020-08-03 17:02] pszypowicz commented on #3019
I have insiders preview enabled (the build version is: 19041.388), so maybe that's the fault? I will try it on the laptop with stable release.

[2020-08-03 17:05] Tyriar commented on #3019
I'm on Microsoft Windows [Version 10.0.19041.421] 🤷

[2020-08-03 17:06] pszypowicz commented on #3019
Are you using the wsl2 version too?

[2020-08-03 17:08] Tyriar commented on #3019
Yes I'm on wsl2 as well:

[code]

[2020-08-03 17:17] pszypowicz commented on #3019
On Ubuntu 20.04 I have

[code]

and on 18.04:
[code]

What distro are you using?
By the way, thanks for helping!

[2020-08-03 17:19] Tyriar opened #3032 "Leading U+FEFF is interpreted as single-width space"
Context: https://github.com/microsoft/vscode/issues/102992

Terminal.app:

![image](https://user-images.githubusercontent.com/2193314/89209254-c6695000-d572-11ea-96f4-9b5a09c8fba4.png)

VS Code:

![image](https://user-images.githubusercontent.com/2193314/89209260-c8cbaa00-d572-11ea-99c1-8a9e99bf92cf.png)

[2020-08-03 17:24] Tyriar commented on #3019
I'm on Debian, which should act the same as Ubuntu.

[2020-08-03 18:20] pszypowicz commented on #3019
So I just installed debian image on both computers I own (one windows Insiders Preview and WSL2, and one Stable and wsl1). Neither worked. Also, debian was clean with only tmux installed + tmux.conf with mouse setting. Also it does not work for me in the VS Code, which is my goal (and the reason I'm so envy to see you screencast :D )

[2020-08-03 21:04] Tyriar commented on #3019
@pszypowicz what happens when you click? Does it do a regular selection?

What's in your settings.json file?

[2020-08-04 04:25] lachdoug commented on #3029
Yes, in this concocted example removing display 'none' does make it work, but there are times when it's not so easy to control the properties on a parent element. [Here's a better example.](https://codepen.io/lachdoug/pen/bGpbLpp?editors=0011)

I can think of a few options for workarounds, like use a click event on the button or an IntersectionObserver, to instantiate xterm only when the element b

[2020-08-04 12:02] pszypowicz commented on #3019
Yes, it's just a regular selection, as I would not have mouse setting on in tmux at all. And if I try it directly in the {cmd, powershell, terminal} -> wsl -> tmux then everything works as expected. Just xterm does not work for me (and vs code as a result)

[2020-08-04 13:27] Tyriar commented on #3029
You have control over this though, you can size xterm in whatever default size you wish with `xterm.resize(cols, rows)`, and then call fit when you click on the button?

[2020-08-05 00:37] Kevin-Parkin commented on #2963
I have the same double-spacing issue:

The terminal works and is singlespaced when it loads a system monospaced font (in this case consola.ttf on Windows 10).  **But I can load that exact same font as a webfont using @font-face and then fontFamily, and it comes out doublespaced.**

A mitigation is to use a negative letterSpacing (e.g. -8 for a size 16 font), but then the characters are cropped on

[2020-08-05 01:17] theflyingape commented on #2963
As noted above, I was having this occur in Firefox (consistently) and the new Edge and Chrome (sporadically).

FWIIW, I modified its **index.html** to do:
`<body onload="window.dispatchEvent(new Event('resize'));">`

This is addition to having the XTerm initialize as:
[code]
I then wrap my title splash sequence to allow for the custom fonts & sizes to 'settle up' -- perhaps not best practice, but

[2020-08-05 04:06] Tyriar commented on #2963
Here's an addon that waits for fonts to load and then opens: https://github.com/CoderPad/xterm-webfont

[2020-08-05 17:13] Kevin-Parkin commented on #2963
Many thanks for the suggestions.

I had used document.fonts.ready.then(function () { stuff here }) to ensure that fonts were loaded before terminal starts, and in any case it loads with the correct webfont, but double spaced.

Also, I was able to load the terminal with a (single spaced) system font, then after a 5 second delay, use setOption to change to a webfont.  The webfont again writes with d

[2020-08-05 18:01] ShikiSuen commented on #2963
Things may vary depending on the Linux distro you are using.
I figured out this font config patch:
https://gist.github.com/ShikiSuen/2489e06d994bb48e798005773953d4aa

Please apply this patch and see whether this issue still exists.
Note that this patch requires not only noto-CJK but also the following fonts:
https://github.com/rsms/inter
https://github.com/be5invis/Sarasa-Gothic

(Sarasa Gothic is

[2020-08-05 19:17] Kevin-Parkin commented on #2963
Daniel, I finally understand the wisdom in your comment.

xterm.js creates a <span> element (xterm-char-measure-element) containing the letter "W" and measures its width using getBoundingClientRect() to determine the character width.  However, if the webfont is not loaded before this, getBoundingClientRect returns an overly conservative width instead.  Even if there is an @font-face in the style s

[2020-08-05 19:50] terenty-rezman opened #3034 "textarea position incorrect with custom font size"
Hidden textarea `xterm-helper-textarea` position computed incorrectly from **js** code when custom font size is used `terminal.setOption("fontSize", 16)`

![image](https://user-images.githubusercontent.com/58115884/89453974-b024e500-d768-11ea-93a7-5c6dbf935800.png)

This makes **the whole xterm view scroll to the right** cutting left edge and exposing unnecessary space on the right, when cursor is

[2020-08-06 05:15] imdurgadas commented on #1974
Issue still happens, can we have a fix please.. This is  bad from User experience.

[2020-08-06 07:51] jankeromnes commented on #1974
FYI, in Eclipse Theia and Gitpod.io we ended up using a CSS hack as workaround for this issue:

https://github.com/eclipse-theia/theia/issues/4665#issuecomment-494699663

https://github.com/eclipse-theia/theia/blob/8d8406d52b74b4fc03b4919a1299dc572b1e3bd5/packages/terminal/src/browser/style/terminal.css#L24-L27

[2020-08-10 16:44] Tyriar commented on #1974
I'm good to accept a PR for the hack as long as the reason for it is called out in a comment. Since it needs the background color it will need to be set in JS instead of CSS.

[2020-08-11 12:58] Tyriar opened #3036 "Support OSC 4 ; color ; color spec"
Original request: https://github.com/microsoft/vscode/issues/104291

[code]

[2020-08-11 20:20] BoykoAlex opened #3037 "Mac OSX Eclipse internal browser double input"
Launch xterm demo app
Download Eclipse for Mac OSX
Launch Eclipse and open the xterm demo app UI in Eclipse internal browser (internal browser seems to be some oldish Safari)

Type in the terminal from the keyboard - note double output:

Type `ls` the result in the terminal is `llss`

Any workarounds are very weclomed :-)

![Screen Shot 2020-08-11 at 16 18 52](https://user-images.githubusercontent

[2020-08-12 00:05] wmmihaa opened #3038 "Demo not working"
Hi,
I'm desperately trying to get my head around xterm.js, but I don't get past the first step of installation. I'm following the steps from the [Clone the Git repository (xtermjs.org)](https://xtermjs.org/docs/guides/download/), navigated to the `/demo` directory and typed:
[code]
The *client-bundle.js* bundle gets created, but then proceeds to output a ton of "Module not found exceptions". See a

[2020-08-12 13:41] Tyriar commented on #3038
Instructions to run the demo are here: https://github.com/xtermjs/xterm.js/wiki/Contributing#running-the-demo

[2020-08-12 13:41] #3038 closed

[2020-08-12 14:53] Tyriar commented on #3037
If this is just some issue with some old webkit fork it's not even worth the time investigating imo as we only support modern evergreen browsers. You might find some answers in the devtools console?

[2020-08-12 14:53] #3037 closed

[2020-08-14 04:17] PDrifting opened #3041 "DECBKM not hooked up or broken?"
DECBKM to remap Backspace, Escape and Delete to their respective codes is not working at all.  Quickly looking through code DECBKM is set to reset by default according to...

https://vt100.net/docs/vt510-rm/DECBKM.html

DEL issues an ESC keycode 27... which I now realise is not issuing the keycode but an ANSI sequence
ESC issues keycode 27
Backspace issues keycode 127

This is troubling when you a

[2020-08-14 15:29] Tyriar commented on #3041
Looks like this is missing from the VT feature wiki page https://github.com/xtermjs/xterm.js/wiki/VT-features#dec-private-reset-mode

[2020-08-17 07:06] vraddy opened #3042 "Get ANSI color information of terminal output in getSelection"
How to get ANSI color information of terminal output in getSelection (or any other function)

Background: terminal on webpage is piped to ssh via websocket, following is the text received from server via websocket.

`[1;31mOutput from server[m`

this will be written to UI terminal as 'Output from server' in red color.
when i select this text on terminal and use getSelection, get only 'Output from