[2014-08-19 10:45] akalipetis opened #1 "xterm.fit() does not correctly calculate the rows of the terminal"

[2014-08-19 13:27] #1 closed, assigned to nobody

[2014-08-27 06:54] parisk opened #2 "Scrolling with trackpad/wheel is too fast"

[2014-08-27 06:57] parisk opened #3 "Fit addon does not calculate properly the number of maximum rows"

[2014-08-27 09:50] #2 closed, assigned to nobody

[2014-08-29 09:55] parisk opened #4 "All code should be AMD (require.js) compatible"

[2014-08-29 10:09] #3 closed, assigned to nobody

[2014-09-10 11:10] #4 closed, assigned to nobody

[2014-09-15 13:50] parisk opened #5 "Cursor should invert the foreground color of current character, to make the character visible"

[2014-09-15 13:52] #5 closed, assigned to parisk

[2014-09-19 15:00] chani opened #6 "Prompt / Newline Bug in Firefox"
If you open up the demo page in Firefox (32.0 in Linux Mint) and you hit the enter key there is no newline, instead everything is written on the same line. In Chrome it does work as expected, though.

[2014-09-21 10:02] parisk opened #7 "Implement URL parsing and hyperlink conversion"
Most probably this will be implemented as a separate add-on.

[2014-09-22 05:48] #6 closed, assigned to parisk

[2014-10-02 09:53] parisk opened #8 "Drop keyIdentifier use from demo (incompatible with firefox)"
Proposal of @chani in #6 discussion.

[2014-11-17 12:34] parisk opened #9 "Fit addon results in different character width on Chrome and Firefox"

[2014-11-24 15:32] #9 closed, assigned to nobody

[2014-11-27 07:39] parisk opened #12 "Copy and paste does not work on firefox"

[2014-11-27 07:57] parisk opened #13 "Document all methods and classes with JSDoc"

[2015-01-04 13:11] parisk opened #14 "Implement moving back and forward across words with "Alt + ←" and "Alt + →" respectively"

[2015-01-06 10:37] #14 closed

[2015-01-15 10:14] #7 closed

[2015-01-19 17:45] #8 closed

[2015-01-21 20:56] parisk opened #18 "Terminal cursor is visible in Internet Explorer"
![screenshot 2015-01-21 22 46 35](https://cloud.githubusercontent.com/assets/1188592/5844940/a89b884a-a1c0-11e4-919b-833e582a222d.png)

[2015-01-28 08:49] akalipetis opened #19 "Jumping one word forward/backward using Alt + →/← goes forward/backward to browser history"
The event should prevent default [here](https://github.com/sourcelair/xterm.js/blob/master/src/xterm.js#L2203)

This issue is present in Windows/Chrome.

[2015-01-28 09:52] #19 closed

[2015-02-24 17:19] parisk opened #21 "Add a "buffered" option to the attach addon"
In case a lot of data is being transmitted to the client, consecutive renderings may turn the browser non responsive.

A solution that could work is buffer the the Websocket messages and render them to the terminal 10ms after the first message received. This way the maximum rendering frequency will be every 10ms.

[2015-02-25 07:31] #21 closed

[2015-03-08 13:00] maslick opened #23 "How to connect to a docker container?"
Hey,

I like the design of xterm.js and would like to use it to connect to a docker container.
In the documentation I can see that in the client you connect to a docker container using the following uri:
url = 'ws://docker/containers/mycontainer/attach/ws/?stdin=1&stdout=1&stderr=1&logs=1'

As far as I understood there is a server application (e.g., node.js) that's exposing the docker terminal ove

[2015-03-09 08:31] parisk commented on #23
Hello,

Yes, you need to expose the Docker API using an external server. This can be done very easily with Nginx. A sample configuration for an nginx host that could do this is the following.

[code]

Attaching to a Docker container using Websocket is documented in the Docker Remote API as well (https://docs.docker.com/reference/api/docker_remote_api_v1.17/#attach-to-a-container-websocket).

While

[2015-03-09 09:29] maslick commented on #23
Hey @parisk, thanks! I get this error in the nginx logs:
[code]

[2015-03-09 11:59] maslick commented on #23
Ok, I managed to get the server working by changing the nginx user name (in /etc/nginx/nginx.conf) to root, since /var/run/docker.sock is owned by root.

When I am trying to connect to it from the client using the code provided in the xterm.js documentation, I neither can type anything, nor receive anything from the server, and I just see an empty terminal.

[code]

[2015-03-14 11:39] parisk commented on #23
The handshake response code indicates that you are not allowed to make this request. My guess is that you should authorize `www-data` to channel the Docker socket (**be careful**: this is extremely dangerous if your http server is publicly exposed).

[2015-03-16 06:23] maslick commented on #23
In the end I just used docker-browser-server [1].

[1] https://github.com/maslick/docker-browser-server

[2015-03-16 06:23] #23 closed

[2015-04-28 11:34] TDaglis opened #24 "Link matchers do not work with multi-line links"

[2015-04-28 11:34] TDaglis opened #25 "Linkify addon does not work with emails"
example:
![image](https://cloud.githubusercontent.com/assets/3427236/7368724/b54709b8-edb3-11e4-99a4-c594ad7cdfff.png)

[2015-04-28 12:33] TDaglis opened #26 "Linkify addon mistakes file extensions as links"
example:
![image](https://cloud.githubusercontent.com/assets/3427236/7369607/f02292ca-edbb-11e4-90e1-feb9a471fc1d.png)

[2015-04-29 08:40] TDaglis opened #27 "Linkify addon breaks the terminal when typing anything that gets linkified"
Before:
![image](https://cloud.githubusercontent.com/assets/3427236/7387177/c5df7886-ee63-11e4-8fb3-a6cc7a676c64.png)

After:
![image](https://cloud.githubusercontent.com/assets/3427236/7387179/cda737e8-ee63-11e4-9d41-eb092d9ee021.png)

After ++:
![image](https://cloud.githubusercontent.com/assets/3427236/7387186/e25dcd0a-ee63-11e4-8998-c0acfd3beee6.png)
The situation gets worse with every keystro

[2015-07-02 12:29] alexeyfrank opened #28 "Fire double backspace event in Safari"
Hi, I found a bug in Safari. When I press backspace, "keypress" event fired in Safari. But in Chrome this event is not fired.

We can fix it in keyPress function:

[code]

[2015-07-02 12:43] alexeyfrank opened #30 "Copy/Paste in Safari not work"

[2015-10-12 15:32] chani opened #33 "Problem with pipe- and at-character in windows with chrome"
Hello,

in Windows (does not matter if virtualized or native) we are having problems with the | and @. While the latter is simply not printed it gives the following output:

  altKey: true
  bubbles: true
  cancelBubble: false
  cancelable: true
  charCode: 0
  ctrlKey: true
  currentTarget: null
  defaultPrevented: false
  detail: 0
  eventPhase: 0
  keyCode: 81
  keyIdentifier: "U+0051"
  keyLoc

[2015-10-12 15:40] chani commented on #33
Windows 7 Prof, Chrome Version 45.0.2454.101

[2015-10-14 17:12] parisk commented on #33
Hi @chani, thanks for reporting! I couldn't reproduce your issue though. I typed both characters in the demo page (http://sourcelair.github.io/xterm.js/demo/) and at SourceLair (https://www.sourcelair.com) and both of them were printed normally, using Chrome 46 on Windows.

Could you give me some more context or some more particular steps on reproducing this?

## Screenshots
![screenshot 2015-10-1

[2015-10-15 08:28] chani commented on #33
Hello,

just verified, it does not work in your demo page neither with that combination (windows, chrome). We've got a german keyboard layout, the pipe char is made through ALT-GR+< and the at-char is made through @ALT-GR+q

(ALT-GR is the alt key on the right of the keyboard, not sure if it is named equally on keyboards outside of germany). Does that information help?

[2015-10-21 16:14] parisk opened #34 "Selection disappears after copying"

[2015-10-21 16:16] parisk opened #35 "Fit addon does not work properly when terminal container has heavily customized text-related CSS"

[2015-10-27 12:21] TDaglis opened #39 "Impossible to select in Firefox"
While in Firefox, it is not possible to make a selection in xterm. The selection instantly dissapears.

Firefox 41.0.2
Windows 10

[2015-11-04 09:45] #12 closed

[2015-11-04 09:45] #30 closed

[2015-11-04 09:45] #39 closed

[2015-11-10 18:14] TDaglis commented on #28
Is this still an issue?

[2015-11-12 09:07] akalipetis commented on #35
Reopening, since this seems to not have been completely solved.

[2015-11-12 09:19] TDaglis commented on #35
A fix has been opened already -> #43

[2015-11-12 09:43] TDaglis commented on #35
closing again since #43 was merged

[2015-11-12 09:43] #35 closed

[2015-11-12 15:47] #18 closed

[2015-11-16 12:07] TDaglis commented on #28
Closing due to inactivity. If the problem still exists, reopen

[2015-11-16 12:07] #28 closed

[2015-11-16 13:24] TDaglis commented on #33
It seems that the issue here is the German keyboard layout.
The issue is that there is no way to know the keyboard layout beforehand. And in the keydown events you described, the `Alt-gr` is "translated" to `Ctrl + Alt`.
With the current version (0.31), Ctrl + Alt leads [here](https://github.com/sourcelair/xterm.js/blob/0.31/src/xterm.js#L2347) where supposedly xterm will handle `key = String.from

[2015-11-16 19:26] chani commented on #33
Hello,

thanks for the response, I am going to try that. Just as a quick idea, some way to override the mappings with custom-maps (i.e. people can maintain a de_DE.map which can be injected to xterm.js and would override the mappings in a way that it does fit for the used layout) would be nice. That way one could as well implement a "switcher" between different layouts.

[2015-11-17 10:20] chani commented on #33
Hello,

just verified. Still not working in chrome in windows.

[2016-01-06 16:14] chani commented on #33
Hello,

this problem still persists; However, could someone guide me / give me an example, what I could do to map (additionally) alt+7 to print a pipe character in the terminal window? Something like:

  evt = (e==null ? event:e);
  if ((evt.altKey && evt.keyCode == 55)) {
    .. make a | into the terminal window.. :-)
  }

that would be a nice workaround for our chrome users..

[2016-01-07 18:16] parisk commented on #33
Hi @chani, thanks for getting back on this.

All the key handling functionality happens in [Terminal.prototype.write](https://github.com/sourcelair/xterm.js/blob/master/src/xterm.js#L1200). So this is where you could add your functionality.

Feel free to implement this in your fork and submit a PR here. We would love to review it and merge it into the upstream if it fixes the functionality :smile:

[2016-02-09 12:58] parisk opened #46 "Set up a test suite"
xterm.js should be well tested in order to ensure that new releases and add-ons do not break any functionality introduced before.

## Candidate libraries
- https://github.com/facebook/jest
- http://mochajs.org/#getting-started
- https://github.com/avajs/ava
- https://jasmine.github.io/

[2016-02-09 13:07] parisk opened #47 "Make all files ES2015 modules"
We could change all files to ES2015 modules. This will help simplify the code base which takes care of commonjs, amd and plain browser environments.

I assume though that if we decide to move on with this it would be a good idea to provide prebuilt files for amd, commonjs and plain browser environment.

[2016-02-09 13:14] parisk opened #48 "Use React in order to render the terminal"
We could use [React](http://facebook.github.io/react/) in order to render the terminal.

I guess that we could take advantage of React's Virtual DOM to minify the number of DOM mutations needed when updating the terminal.

We should have in mind though that such a change will dramatically increase the payload of the library.

[2016-03-20 03:43] rgbkrk commented on #48
Glad you're all thinking about this and maintaining a fork of term.js.

[2016-03-20 15:19] parisk commented on #48
Thanks @rgbkrk!

Do you have any specific use case for this in an application of yours?

Also we always welcome contributions from outside contributors, if you would like to carry this out yourself or in conjunction with us.

[2016-03-20 19:01] rgbkrk commented on #48
We use term.js in the ipython / jupyter notebook (as a separate app). @takluyver has been the big developer on that end, writing [terminado](https://github.com/takluyver/terminado) to be the Tornado-backed server for a term.js frontend.

As for my current work, I've been working with some folks on a desktop app of the notebook, called [nteract](https://github.com/nteract/nteract). I expect people

[2016-03-20 19:01] rgbkrk commented on #48
Sample cell output from nteract (running a Python kernel):

<img width="541" alt="screenshot 2016-03-20 09 35 28" src="https://cloud.githubusercontent.com/assets/836375/13906455/a6b947b2-eeac-11e5-9f19-3c34fcbcd266.png">

[2016-03-20 23:27] takluyver commented on #48
Thanks for the ping, it's interesting to see there's an active fork of term.js. @rgbkrk are you evaluating a potential switch to this?

[2016-03-21 00:29] rgbkrk commented on #48
I'm currently evaluating terminal emulators in general right now and learning how it all works. Soon I'll be refactoring term.js for my own understanding (and export as commonjs for webpack/browserify consumption).

Other than that, planning on handling Jupyter message protocol streams with support for more escape codes than just color.

[2016-03-21 11:17] parisk commented on #48
At the moment xterm.js (like term.js) already provides ANSI character support and works also with curses-based applications.

I guess that if we ansi-to-react was modified in order to support curses applications as well, we could make a full switch to React rendering and this could be used both in our product ([SourceLair](https://www.sourcelair.com/home)) and in yours.

Is such a scenario open fo

[2016-03-21 13:53] rgbkrk commented on #48
ANSI to react is a static display. It converts output text to rendered text, just like the ansi-to-html package.

I'm happy to use and contribute to xterm.js over here.

What I meant by exporting more is that I'd like to break more out of the Terminal class, mostly in terms of splitting the view and the model (I want to use the model elsewhere).

[2016-03-28 16:10] parisk commented on #48
Okay, I think I got the point of this. I think the best way to go is open a new branch straight away and start  reworking the [`refresh`](https://github.com/sourcelair/xterm.js/blob/f53f573/src/xterm.js#L976) method (which takes care of the rendering) to see if it works out and if it performs better with React + ansi-to-react.

@rgbkrk we could work together on this if you would like so.

Also, do

[2016-03-28 16:21] rgbkrk commented on #48
ansi-to-react is only for static content - no cursors, etc. I wouldn't rely on it - it's only for quick display. Still work to do to make it implement the full terminal state machine. My next steps were going to be to refactor term.js to break it up a bit and tearing out code that can currently be supplemented by a bundler (the EventEmitter for instance can be implemented by browserify or webpack)

[2016-03-29 07:55] parisk commented on #48
Correct me if I am wrong, but I do not think that cursor handling is in ansi-to-react's scope, so you could avoid dealing with this at all. From my understanding ansi-to-react deals only with drawing the terminal output (except for the cursor), which usually contains ANSI chars, into a div.

Also, do you have any next steps for it? I can't see any open issues or PRs there.

Last, can you give me s

[2016-03-29 17:21] rgbkrk commented on #48
It's correct that we don't want to handle user context of cursor or mouse movement. What we do want to handle is reducing:

<img width="775" alt="screenshot 2016-03-29 09 16 24" src="https://cloud.githubusercontent.com/assets/836375/14117087/d8272f02-f597-11e5-849d-386c985fbfab.png">

to this:

<img width="779" alt="screenshot 2016-03-29 10 20 57" src="https://cloud.githubusercontent.com/assets/83

[2016-03-29 17:22] rgbkrk commented on #48
Anyways, I think I've hijacked this discussion. I'll write up some issues on what we need in ansi-to-react while also learning from and contributing to these various term-js forks.

[2016-04-26 09:13] parisk opened #52 "Make all files importable with CommonJS"
All we have to do actually is apply #49 to all add-ons.

[2016-05-04 08:24] #52 closed

[2016-05-17 06:45] swynter-ladbrokes opened #54 "Style issue with ansi characters"
Greetings.

I'm sure someone who enjoys css more than me has a better fix for the following, but when I have a terminal app (mcedit is a good example) that brings up a dialog with ansi characters in it the padding seems to blow out.

![image](https://cloud.githubusercontent.com/assets/8284169/15313426/8306ecc8-1c4e-11e6-8920-3fe1248b0d73.png)

I can fix it with
[code]
but I imagine it's not the be

[2016-05-17 12:22] parisk commented on #54
Hi @swynter-ladbrokes. Thanks for reporting this. Could you please provide me with some steps to reproduce this? How do you use xterm with mcedit?

[2016-05-18 00:24] swynter-ladbrokes commented on #54
Hi @parisk

I've put together the smallest possible demo I can

https://github.com/freman/goterm/
For your convenience I've prebuilt some binaries

https://github.com/freman/goterm/releases/tag/0.0.1

I'm assuming of course you have OSX or Linux available with mcedit installed.

[2016-05-18 14:26] parisk commented on #54
Thanks. Downloaded goterm successfully, but I do not have mcedit installed and I am not sure what this is exactly actually.

Can you provide me with installation instructions and how to use it in order to reproduce your error?

Thanks!

[2016-05-19 01:26] swynter-ladbrokes commented on #54
mcedit is part of Midnight Commander - and I'm probably about the only person who uses it but I imagine those ansi characters come up in other places so it's as good an example as any

Depending on your platform

- apt-get install mc
- yum install mc
- emerge mc
- brew install mc

mcedit file.txt

Type a character, then press F10 (or escape twice) to bring up the save and exit dialog.

[2016-05-19 03:36] swynter-ladbrokes commented on #54
Hey @parisk, I stopped being lazy and here's a concise example without any external dependancies

[code]

[2016-05-19 10:04] joerick opened #55 "Resizing the terminal removes lines"
Hello!

I'm using xterm in a new Electron-based IDE we're developing for [Tingbot](http://github.com/tingbot). Thanks for the library, it's proving to be super-useful.

I'm running up against some strange behaviour when resizing the terminal, which occurs more often than most terminals due to our window layout - the terminal is a panel at the bottom of the window that slides up and down

![](http:

[2016-05-19 11:22] parisk commented on #55
Hi @joerick, thanks for reporting!

Investigating this right now in order to reproduce. Possibly it got introduced after merging this PR: https://github.com/sourcelair/xterm.js/commit/685bc54bf297b094ec9f02b911f4396a56593a40.

[2016-05-26 08:45] parisk commented on #54
Sorry for the delay on this @swynter-ladbrokes, but finally I found the time to take this over and opened a PR that seems to be fixing this issue: #56.

Can you please checkout the branch `issue/54` and let me know if it works for you?

[2016-05-29 20:24] petschekr opened #57 "Inverse text styles are not applied correctly"
I'm using xterm.js in conjunction with [ssh2](https://github.com/mscdex/ssh2) to build a SSH client, which has been working quite well so far (thanks for the awesome library!). One issue that I have encountered though is that inverse text styles appear as normal text. For example, on nearly any terminal, running `nano` will show the nano editor with a white status bar across the top implemented us

[2016-05-29 23:48] swynter-ladbrokes commented on #54
I'll try to take a look today (I understand how it is to be flat out)

[2016-05-30 00:02] swynter-ladbrokes commented on #54
Hey @parisk, issue/54 fixes my issue perfectly.

[2016-05-30 11:52] #54 closed

[2016-05-30 13:42] parisk commented on #57
Hi @petschekr thanks reporting. Taking a look at it right now.

[2016-05-30 16:06] parisk commented on #57
Just opened a PR for this: #58.

@petschekr can you checkout the branch `issue/57` and let me know if it works fine for you?

[2016-05-30 16:44] petschekr commented on #57
@parisk #58 fixes my issue completely. Thank you very much!

[2016-05-30 16:44] #57 closed

[2016-05-30 16:57] petschekr commented on #57
@parisk I just realized that this issue originally stemmed from [this part of the term.js codebase](https://github.com/chjj/term.js/blob/master/src/term.js#L408) where the default background and foreground were set to 256 and 257 which was [removed in xterm.js](https://github.com/sourcelair/xterm.js/blob/master/src/xterm.js#L338). Thanks again for fixing this.

[2016-05-30 20:37] parisk commented on #57
Yes, this seemed to be an edge case when inverting terminal text that has not explicitly set foreground and background colors.

[2016-05-31 18:21] timotius02 commented on #47
Have there been any work on this?

[2016-05-31 19:19] Tyriar opened #59 "How to set terminal colors?"
I was looking into using xterm.js for vscode's integrated terminal but the colors seem to be gone after I swapped out [jeremyramin/term.js](https://github.com/jeremyramin/term.js).

![image](https://cloud.githubusercontent.com/assets/2193314/15687440/a01af774-2729-11e6-9c00-aed6160359ff.png)

Expected:

![image](https://cloud.githubusercontent.com/assets/2193314/15687457/c2730b9a-2729-11e6-9077-b3

[2016-05-31 23:36] petschekr commented on #59
I believe xterm.js uses an external stylesheet instead of styles embedded into the JavaScript like term.js. Therefore you have to import [`xterm.css`](https://github.com/sourcelair/xterm.js/blob/master/src/xterm.css) in your HTML. If you want to change the default colors, the stylesheet makes it a lot easier to override certain color rules. Adding it also makes the `<textarea>` used for input disa

[2016-06-01 00:02] Tyriar commented on #59
Thanks, that clears that up :)

[2016-06-01 00:02] #59 closed

[2016-06-01 15:51] parisk commented on #59
Hi @Tyriar, @petschekr got it completely right; xterm.js depends on xterm.css for proper color rendering, in order to allow theming of the terminal.

I guess it would be helpful to document this in a more visible place though 😊 .

[2016-06-01 15:52] parisk commented on #47
Hi @timotius02, no work yet on this. I guess this will start after the release of v1.0.

Do you have any use cases for this right now?

You can already import xterm.js and its add-ons as CommonJS (Node.js-like) and RequireJS module.

[2016-06-01 16:02] timotius02 commented on #47
Yes I know you can and I'm already doing so. The problem is that the way the project is structured, especially in regards to the addons, require a bit of tinkering. I had hoped I could have just imported the addons separately or easily apply it as some sort of decorator

I'm currently trying to build a React layer on top of xterm to use for [Deco IDE](https://github.com/decosoftware/deco-ide).

[2016-06-02 08:04] Tyriar opened #61 "Pasting in 日本語 adds an unexpected line break after 本 which puts the cursor off screen"
![image](https://cloud.githubusercontent.com/assets/2193314/15737962/d45ef9d8-285d-11e6-81d7-89b45348b529.png)

[2016-06-02 08:05] parisk commented on #61
Hi @Tyriar thanks for reporting. Investigating right now.

[2016-06-02 08:08] Tyriar opened #62 "CJK characters are not treated as double width chars"
See https://github.com/chjj/term.js/issues/96

![image](https://cloud.githubusercontent.com/assets/2193314/15738068/539d8c82-285e-11e6-91ce-b839db904383.png)

vs gnome-terminal:

![image](https://cloud.githubusercontent.com/assets/2193314/15738083/67542448-285e-11e6-83be-6db1b670e607.png)

Notice the characters are exactly 2 ascii characters in width

[2016-06-02 08:12] Tyriar opened #63 "Horizontally resizing will not reflow terminal until input is changed or arrow is pressed"
Original:

![image](https://cloud.githubusercontent.com/assets/2193314/15738153/d3c535c2-285e-11e6-9302-bdac0593840e.png)

Reduce width:

![image](https://cloud.githubusercontent.com/assets/2193314/15738165/df6f62d0-285e-11e6-8137-36ce5207f8b1.png)

Restore width:

![image](https://cloud.githubusercontent.com/assets/2193314/15738179/eed7fe30-285e-11e6-916a-41443e5cbda2.png)

Press left arrow:

![i

[2016-06-02 08:18] Tyriar opened #64 "Cursor disappears when scrolling"
Start:

![image](https://cloud.githubusercontent.com/assets/2193314/15738370/d1dd34a2-285f-11e6-82a3-d6d62d4f3c47.png)

<kbd>ctrl</kbd>+<kbd>shift</kbd>+<kbd>&uarr;</kbd>

![image](https://cloud.githubusercontent.com/assets/2193314/15738397/eb81cefe-285f-11e6-9063-2d0f92e19436.png)

Happens with mouse wheel too.

[2016-06-02 08:20] Tyriar opened #65 "ctrl+left/right should jump the cursor over words in the input"
It just moves the cursor a single character currently.

[2016-06-02 08:23] Tyriar opened #66 "Copying terminal output copies all trailing whitespace"
Copying this:

![image](https://cloud.githubusercontent.com/assets/2193314/15738520/8d5c1234-2860-11e6-9fc0-10ebe9641ce9.png)

Pasted result:

![image](https://cloud.githubusercontent.com/assets/2193314/15738530/9f62cc02-2860-11e6-8c92-beaa024d486a.png)

[2016-06-02 08:25] Tyriar opened #67 "The .xterm-helpers element containing textarea prevents selection in top left corner of terminal"
Cursor is over the second character `y` in this image:

![image](https://cloud.githubusercontent.com/assets/2193314/15738582/dd4df37a-2860-11e6-8a66-95ea584a3707.png)

[2016-06-02 08:30] parisk commented on #67
We have decided to drop the hidden textarea, and I am already working on a branch to replace it. I guess I will put it in higher priority since we are not the only ones running into them.

[2016-06-02 08:37] Tyriar opened #68 "Selection goes crazy when you start dragging and then use mouse wheel"
Start:

![image](https://cloud.githubusercontent.com/assets/2193314/15738918/78877e50-2862-11e6-91bc-17fbcb4ab59b.png)

Mouse wheel up:

![image](https://cloud.githubusercontent.com/assets/2193314/15738936/8ae2c244-2862-11e6-99d0-5e9f72df7c61.png)

[2016-06-02 08:37] parisk commented on #65
Did you notice that happening in the demo page of xterm.js? If yes, the reason behind this is that it is not hooked to a back-end terminal in order to implement these movements.

Since xterm.js is just a front-end terminal emulator, it will need a back-end in order to send the control characters and get the cursor movements back.

Giving it a try in a more complete example, like www.sourcelair.com

[2016-06-02 08:39] parisk commented on #66
Thanks for reporting. Will take a look into how could we avoid that. Most probably it will be a hook on the `copy` event.

[2016-06-02 08:42] Tyriar opened #69 "Selection is only possible on the text in the current viewport"
While potentially difficult, it's probably possible to do a smooth selection over multiple pages by:
- Recording start selection position
- Scroll the terminal up when dragging from terminal and cursor is close to/beyond top
- Scroll the terminal down when dragging from terminal and cursor is close to/beyond bottom
- Whenever the terminal is scrolled, reset the selection position
- When copy is tr

[2016-06-02 08:44] Tyriar commented on #65
This was using https://www.sourcelair.com (bash)

[2016-06-02 08:44] parisk commented on #63
This seems to be an issue of www.sourcelair.com and not the terminal itself. Resizing happens in the back-end and then implemented by the terminal, so it's not up to xterm.js when to resize, but up to the controlling app.

Closing this, but thanks a lot for reporting 😄 .

[2016-06-02 08:44] #63 closed

[2016-06-02 08:47] Tyriar opened #70 "Moving over CJK text jumps 2 characters at a time"
Related: https://github.com/sourcelair/xterm.js/issues/61

Initial:

![image](https://cloud.githubusercontent.com/assets/2193314/15739200/d8f27dca-2863-11e6-9620-66b58c7f7ede.png)

<kbd>&larr;</kbd>

![image](https://cloud.githubusercontent.com/assets/2193314/15739222/e42be014-2863-11e6-999c-715acf2df966.png)

Text: 안녕하십니까?

[2016-06-02 08:48] Tyriar commented on #61
I notice it seems to happen on the last CJK character in the pasted text, pasting "안녕하십니까?" results in:

[code]

The question mark is a regular ascii char.

[2016-06-02 08:49] parisk commented on #68
Wild guess is that this is related to #67.

[2016-06-02 08:52] Tyriar opened #71 "Reloading sourcelair put cursor at start of line"
Either a Sourcelair bug or an issue with restoring state?

![image](https://cloud.githubusercontent.com/assets/2193314/15739330/64411436-2864-11e6-9dd4-092070afb8d0.png)

After <kbd>ctrl</kbd>+<kbd>c</kbd>:

![image](https://cloud.githubusercontent.com/assets/2193314/15739338/73d8ac06-2864-11e6-981d-e31122048885.png)

[2016-06-02 08:54] Tyriar commented on #63
Are you sure? The space seems to be filled with `&nbsp;` indicating to me that the terminal was resized correctly, just not refreshed.

![image](https://cloud.githubusercontent.com/assets/2193314/15739437/e524cbb0-2864-11e6-8b45-eeda9c166cff.png)

![image](https://cloud.githubusercontent.com/assets/2193314/15739445/ef366ea6-2864-11e6-8621-012bb8f037ea.png)

[2016-06-02 08:56] Tyriar commented on #68
I think it's to do with the DOM being changed radically after a scroll, so the cursor ends up at the top-left (start) of the terminal.

[2016-06-02 09:02] Tyriar opened #72 "Strange characters show up when moving a cursor over hindi"
Text: अर्धतत्सम

![image](https://cloud.githubusercontent.com/assets/2193314/15739616/bd055860-2865-11e6-9a15-98df3a82db58.png)

![image](https://cloud.githubusercontent.com/assets/2193314/15739630/ce01b5b4-2865-11e6-8d53-b98a21245d6c.png)

Characters change:

![image](https://cloud.githubusercontent.com/assets/2193314/15739673/f71f079e-2865-11e6-9371-d3cdab539fee.png)

Can't move further back tha

[2016-06-02 09:10] Tyriar opened #73 "Extra spaces in class names"
Kind of a small issue:

![image](https://cloud.githubusercontent.com/assets/2193314/15739861/ea7c109e-2866-11e6-8673-99021f1a3cb0.png)

[2016-06-02 09:26] #73 closed

[2016-06-02 09:29] Tyriar opened #75 "Invert colors on selection"
This would make it easier to read in addition to just being plain cool

[code]

![image](https://cloud.githubusercontent.com/assets/2193314/15740365/74f25592-2869-11e6-9725-28783ee15baf.png)

[2016-06-02 09:33] Tyriar opened #76 "Multi-line selections do not touch each other"
At least on Chrome. This is because of:

[code]

Before:

![image](https://cloud.githubusercontent.com/assets/2193314/15740606/62ba1968-286a-11e6-8ad1-10ebb6d7fddf.png)

After:

![image](https://cloud.githubusercontent.com/assets/2193314/15740590/4f7263ce-286a-11e6-8155-0c552aa48c46.png)

Same on demo:

![image](https://cloud.githubusercontent.com/assets/2193314/15740639/8a310628-286a-11e6-8278-fd

[2016-06-02 09:40] Tyriar commented on #75
Something like this would certainly be a lot easier to implement if the colors were still set via javascript instead of CSS.

[2016-06-02 09:42] Tyriar opened #77 "No scroll bar on terminal"
It would be great if a virtual scroll bar was provided.

[2016-06-02 10:59] parisk commented on #77
The terminal scrolling definitely needs an enhancement and physical scrolling with a scrollbar would be a great addition. The only tricky thing to do there is handling switching back and forth with curses applications like Vim.

[2016-06-02 11:00] parisk commented on #75
That's true, but I think the better solution to combine both is to use a preprosessor like SCSS.

[2016-06-03 05:49] parisk commented on #71
This is a known issue with implementation in SourceLair. Will be fixed soon, but does not have to do with this code base.

Thanks for taking the time to report though!

[2016-06-03 05:49] #71 closed

[2016-06-03 05:51] parisk commented on #70
Thanks for reporting. Will take a look at it, along with the rest of international character issues.

[2016-06-03 05:52] parisk commented on #69
I think that this will be handled across with all other scrolling issues. The best thing to do IMO is bring scrolling as close as possible to native terminals found in modern OSs (e.g. Ubuntu Terminal and Terminal.app)

[2016-06-03 05:53] parisk commented on #68
This could be the case as well. Implementing natural scrolling, instead of virtual one, seems like could fix most of these issues.

[2016-06-03 05:54] parisk commented on #65
Thanks for letting me know. Will take a deeper look into that.

[2016-06-03 05:55] parisk commented on #63
Not sure if this is the case. The line is always filled with trailing `&nbsp;`s.

[2016-06-03 05:55] parisk commented on #62
Thanks for reporting. Will take a look at this along with the rest international character issues.

[2016-06-03 06:46] Tyriar commented on #76
Ubuntu 16.04/Chrome 49

[2016-06-03 06:48] Tyriar commented on #68
That would probably lead to perf issues if the terminal buffer is too big, plus scrolling would not jump in character length blocks which would feel strange.

[2016-06-04 09:46] Tyriar commented on #66
What are your thoughts on pulling in an npm dependency so that xterm.js is no longer self contained? Specifically [clipboard.js](https://clipboardjs.com/) as copying to clipboard seems especially tricky in a browser scenario.

[2016-06-04 10:09] Tyriar commented on #63
This is definitely a problem with xterm.js, plugged into vscode which resizes the terminal correctly results in the same problem.

Notice lines above which should be reflowed/redrawn after a resize. The command is also cut off until I hit <kbd>&larr;</kbd> which reveals the rest.

![image](https://cloud.githubusercontent.com/assets/2193314/15798969/a515d73c-2a01-11e6-855a-ac46f55c2c0c.png)

[2016-06-04 10:11] Tyriar commented on #67
Another problem with the textarea, after adding the styles to vscode integration I see the textarea resizer when the terminal has focus.

![image](https://cloud.githubusercontent.com/assets/2193314/15798976/fe231240-2a01-11e6-850d-0b68e626d0f3.png)

[2016-06-04 10:13] Tyriar opened #79 "Show hollow cursor when not focused"
Right now the solid cursor is shown even when the terminal is not focused, making it more difficult to tell where the application's focus is. Ideally this should be represented by a character something like this:

![image](https://cloud.githubusercontent.com/assets/2193314/15798987/4560ec04-2a02-11e6-99cf-6ee4a7e46960.png)

[2016-06-04 10:28] Tyriar commented on #79
Due to the textarea typically having focus over `.terminal`, I don't think this can't be implemented by consumers of xterm.js currently. It needs something like a `focus` class being added to `.terminal` so it can be styled accordingly.

[2016-06-04 10:31] Tyriar commented on #61
I think this is related to https://github.com/sourcelair/xterm.js/issues/62. Because the extra space on the right is filled with `&nbsp;`, this causes unexpected characters to wrap so the `&nbsp;` line can fit.

[2016-06-04 10:33] Tyriar commented on #61
`white-space: nowrap;` makes the problem go away but of course unexpected characters could then go off screen.

[2016-06-05 05:46] parisk opened #80 "Consider implementing automated vttest tests if possible"
## Links
- http://invisible-island.net/vttest/vttest.html

[2016-06-06 07:59] parisk commented on #79
Sounds like a great enhancement. I think that after merging #78 (dropping of hidden textarea), this will be  a piece of cake to implement, with plain CSS.

[2016-06-06 08:01] parisk commented on #66
@Tyriar we prefer keeping xterm.js as a self-contained library. It seems that we managed to fix this relatively easy in c02cc8449856f5952eae02d2346c3e2c298cb408 though, without any external dependencies.

Feel free to try this out! It would help us moving forward with merging of #78.

[2016-06-06 08:01] parisk commented on #67
Most probably this won't exist after merging of #78.

[2016-06-06 08:03] parisk commented on #63
Okay, re-opening this. Could you please supply me with some instructions on testing this with vscode?

[2016-06-06 08:08] parisk commented on #61
I hope I will be able to take a deeper look into double characters today.

[2016-06-06 08:54] parisk commented on #68
We could apply a limit to the terminal buffer size, which is something that even native apps do (e.g. [Terminal.app](https://discussions.apple.com/thread/2123671?tstart=0)).

[2016-06-06 08:55] parisk commented on #76
Seems like this is will be more cumbersome than I thought. I am pretty sure that the reason behind this is the mix of DOM Elements and Text nodes in every line.

I guess we will have to make changes in the rendering engine in order to eliminate this.

[2016-06-06 08:57] parisk commented on #47
Hi @timotius02, so your actual issue is that the xterm add-ons require xterm.js itself to works?

[2016-06-06 15:22] Tyriar commented on #76
Does applying `line-height: normal;` not work?

[2016-06-06 15:30] Tyriar commented on #68
I think it would be worth trying to get around the scrolling issues doing something like https://github.com/sourcelair/xterm.js/issues/69 before considering this route. That's a lot of DOM elements and imo the way it currently works is one of the great things about term.js; that it's footprint on the DOM is relatively small while maintaining a large buffer.

Plus it would probably need to recreate

[2016-06-06 15:35] Tyriar commented on #63
@parisk it repros on sourcelair just the same as vscode. You can try on vscode though using the [tyriar/xtermjs_terminal](https://github.com/Microsoft/vscode/tree/tyriar/xtermjs_terminal) branch.

Instructions are [here](https://github.com/Microsoft/vscode/wiki/How-to-Contribute#build-and-run-from-source) to setup. After the regular npm install you'll probably need to install xterm explicitly to g

[2016-06-06 15:37] Tyriar commented on #66
I was doing essentially the same thing only `ev.clipboardData.setData('text/plain', copiedText);` didn't seem to be working in Chrome (needed more tinkering) and support across other older browsers is limited with this approach.

[2016-06-06 15:38] Tyriar commented on #79
Awesome :+1:

[2016-06-07 06:36] #34 closed

[2016-06-07 06:36] #66 closed

[2016-06-07 06:36] #67 closed

[2016-06-07 08:48] exsilium commented on #33
Seeing as now the torch has been officially given over to xterm.js by @chjj - the previously referenced fix has worked for me without issues. If this would be the ok approach to address this (via kbLayout option), I can prepare a pull req with any additional country layouts that are needed.

However, there is already another pull in review to address the different platform modifier keys so I'd lik

[2016-06-07 08:54] parisk commented on #33
Hi @exsilium. #60 seems like a well-prepared PR, but breaks some functionality though for mainstream usage.

I believe the best thing is to bring @runarberg into this discussion and see how we could modify #60 in order to achieve the desired result, without breaking functionality.

[2016-06-07 09:11] parisk commented on #79
Hi @Tyriar could please take a look at the fix in #82. Nothing special though. Should work out of the box.

[2016-06-07 09:15] exsilium commented on #33
Hi! Thanks @parisk for the update. Yeah, the main flow should work reliably without question and that's prerequisite for any kind or 3rd level char fixes. Therefor I'd decouple the problems:

1. Inconsistency of reported metaKeys depending on platform (this is the main scenario where everyone is impacted)

2. 3rd level characters that are due to country specific keyboard layouts. This I'd say is a

[2016-06-07 09:25] parisk commented on #76
@Tyriar please take a look at #83. Seems like it fixes it. Thanks a lot for helping out.

[2016-06-07 09:32] parisk commented on #62
Seems like the weird line break is actually the div overflowing. This indeed happens because these are double byte characters, the terminal ignores this fact and counts them as single-byte ones.

Working on a fix.

## Screenshot
![image](https://cloud.githubusercontent.com/assets/1188592/15852933/afdcc7a0-2cab-11e6-961a-0ae79cfe399e.png)

[2016-06-07 09:32] parisk commented on #61
This is caused because of #62. Closing this, in order to continue conversation over there.

[2016-06-07 09:49] #61 closed

[2016-06-07 10:39] #76 closed

[2016-06-07 10:44] #79 closed

[2016-06-07 11:01] runarberg commented on #33
The biggest problem with #60 is that on Mac OS, the alt key <kbd>⌥ Opt</kbd> is also the third level shift. I saw there was [some logic](https://github.com/sourcelair/xterm.js/pull/60/files#diff-d4f745d6f29faa0617f2e02bb95f0c44L2407) that mapped Mac’s meta key <kbd>⌘ Cmd</kbd> to <kbd>Alt</kbd> on other platforms, but it was broken [a few lines later](https://github.com/sourcelair/xterm.js/pull/60

[2016-06-07 11:06] parisk commented on #66
I tried across multiple browsers and this seemed to work everywhere.

Support across older browsers is not a priority for this library though at the moment, thus let's keep this simple until another issue comes up with this.

[2016-06-07 20:07] exsilium commented on #33
Hi @runarberg.

Well said, I agree with your preference that number 3 would be the best choice because of the already wide use of <kbd>ESC</kbd> as meta in iTerm and Terminal. Some emacs diehards might disagree though ;) But I think it's a good compromise.

[2016-06-07 20:13] Tyriar opened #85 "Why are span's display: inline-block?"
The comment reads:

[code]

As far as I can see it only messes with how `::selection` works:

![image](https://cloud.githubusercontent.com/assets/2193314/15873027/7718f35c-2cb1-11e6-9cfc-5b7c0cde3b7a.png)

This is with span's display:inline:

![image](https://cloud.githubusercontent.com/assets/2193314/15873039/92263ccc-2cb1-11e6-9dff-bcd5cb3adc86.png)

This is with the `::selection` changes I've m

[2016-06-07 20:16] Tyriar commented on #85
The main thing I'm curious about is why inline-block's (span) would be useful in between just floating uncoloured text nodes.

[2016-06-07 22:02] Tyriar opened #86 "Potential cannot set property of undefined exception in refresh"
I've managed to reproduce an issue in jeremyramin/term.js where calling refresh while explicitly indicating an end row can cause a undefined exception, see https://github.com/Microsoft/vscode/issues/7357

Looking at the code for xterm.js it looks like this particular case will still occur so here's what I'm doing:

Calling `this.terminal.refresh(0, this.terminal.rows);` causes an exception within

[2016-06-07 22:06] Tyriar commented on #86
After investigating this issue further it seems that `this.children.length` is 19, and I was calling `this.terminal.refresh(0, this.terminal.rows);` where this.terminal.rows was 19 as well. So I should be calling `this.terminal.refresh(0, this.terminal.rows - 1);`.

However, the beginning of the method seemingly has a safeguard against this:

[code]

The issue here is that `this.lines.length` is 2

[2016-06-07 22:12] Tyriar opened #87 "It's unclear how you're supposed to develop xterm.js"
Could pty.js be pulled in for a more interactive demo or something?

[2016-06-07 23:17] Tyriar commented on #85
Another example with a different font-size and line-height:

![image](https://cloud.githubusercontent.com/assets/2193314/15877826/207b41d4-2ccb-11e6-8d0f-25d16376c8e0.png)

vs inline:

![image](https://cloud.githubusercontent.com/assets/2193314/15877839/39bf906e-2ccb-11e6-85b6-605905ce03df.png)

Note these examples are using electron (chromium).

[2016-06-07 23:41] Tyriar commented on #87
I just realized it's relatively easy: `node demo/app.js`

[2016-06-08 04:35] Tyriar opened #91 "The linkify addon doesn't linkify IP addresses"
![image](https://cloud.githubusercontent.com/assets/2193314/15882872/e7f94004-2cf7-11e6-82b3-3554b36caafc.png)

[2016-06-08 04:40] Tyriar opened #92 "Unit testing?"
Any plans to set up unit testing and travis builds? Any preferred framework?

[2016-06-08 06:19] #87 closed

[2016-06-08 18:58] parisk commented on #92
Yes, this is definitely in the plans. There is already an issue for that, so feel free to continue this discussion at #46.

I think that this should be moved forward right after we finish fixing some important issues like proper CJK character handling.

[2016-06-08 18:59] #92 closed

[2016-06-08 19:09] #85 closed

[2016-06-08 19:19] Tyriar commented on #46
I'm a fan of [ava](https://github.com/avajs/ava) ([example test](https://github.com/gwtw/js-fibonacci-heap/blob/master/test/fibonacci-heap-decrease-key-test.js)), it's pretty easy to setup coveralls to get code coverage as well ([example](https://github.com/gwtw/js-fibonacci-heap)).

Setting up a framework asap would be better than later as tests could be included with the bug fix commits that are

[2016-06-08 19:39] Tyriar commented on #85
:+1:

[2016-06-09 00:24] Tyriar opened #96 "Cannot import addons in Electron"
`require('xterm')` points at `main` in package.json (`src/xterm.js`). As far as I'm aware, there is no way to grab the addon JS modules from a node API. Something like this would probably work:

&lt;reporoot&gt;/index.js

[code]

[2016-06-09 01:05] Tyriar opened #98 "Reducing rows in a resize messes up the terminal"
This is likely a recent regression as it does not appear to reproduce on sourcelair.

Here is the server demo:

![image](https://cloud.githubusercontent.com/assets/2193314/15916000/0cb81522-2da3-11e6-9ca4-96e0f8651a8d.png)

Now run this through devtools: `term.resize(term.cols, term.rows - 1)`

![image](https://cloud.githubusercontent.com/assets/2193314/15915985/f1ae7870-2da2-11e6-83c3-1101d059679

[2016-06-09 01:17] Tyriar opened #99 "Increasing rows in a resize should keep the bottom line at bottom"
It would be more natural if when increasing the number of rows, the previously final visible row was kept as the last row after the resize (provided the buffer contains sufficient lines above the viewport to fill it in). `gnome-terminal` behaves as I'm describing.

**Steps to reproduce**

1. Load the demo and add some content so the viewport is filled

  ![image](https://cloud.githubusercontent.co

[2016-06-09 01:27] Tyriar commented on #98
Another thing to note is that this only happens when there are empty lines at the bottom of the terminal.

This seems to be due to https://github.com/sourcelair/xterm.js/commit/685bc54bf297b094ec9f02b911f4396a56593a40 - reverting it fixes the problem when there are empty lines at the bottom of the terminal, however it also breaks the behavior when the terminal is filled.

[2016-06-09 01:36] Tyriar opened #100 "Refreshing/going back while on demo crashes the server"
Pretty annoying when I make a change and refresh. This is on Chrome v51:

[code]

[2016-06-09 02:44] Tyriar opened #103 "Resizing horizontally breaks the prompt"
Open demo:

![image](https://cloud.githubusercontent.com/assets/2193314/15917381/0c144f7e-2db1-11e6-8aec-f62012bcf5e5.png)

Run `term.resize(term.cols - 2, term.rows)` several times

![image](https://cloud.githubusercontent.com/assets/2193314/15917392/1f73cb44-2db1-11e6-9de3-057d250ff5fc.png)

The cursor will not go to the end of the line, the characters to the right are seemingly deleted. Pressin

[2016-06-09 05:01] Tyriar commented on #75
Even with a preprocessor, if the consumer wants to support more themes than are available they need to write all the styles themselves. If this is considered a feature, they will have to write the `::selection` rules.

You can see how I put this together with VS Code [here](https://github.com/Microsoft/vscode/blob/7f404bfceb141e5c7994b40c183ac3fc1d020454/src/vs/workbench/parts/terminal/electron-br

[2016-06-09 06:13] #98 closed

[2016-06-09 06:13] #99 closed

[2016-06-09 06:46] parisk commented on #46
I was investigating several testing solutions the last days and I think the best one would be going with [mocha](http://mochajs.org/). Seems quite established and straightforward.

Thanks a lot for submitting #104 though, but my main issues with ava are that it is not stable yet and that it has more futuristic syntax, which might feel cool for several people (me included), but I prefer going with

[2016-06-09 06:49] #100 closed

[2016-06-09 06:55] Tyriar commented on #46
No worries, it only took 5 minutes to put together :)

[2016-06-09 07:29] #46 closed

[2016-06-09 07:59] parisk commented on #55
Hi @joerick, could you please checkout the latest commit on xterm.js' master branch (cf9d2348a1c315f0c8d46000550e7bc91ac18121) and let me know if this is fixed?

This should not be the case after we merged #101.

Also, remember to resize the back-end pty manually every time you adjust the front-end terminal's dimensions.

[2016-06-09 08:00] parisk commented on #103
@Tyriar does this still happen, after we merged #101?

[2016-06-09 08:01] Tyriar opened #106 "Running clear in terminal removes viewport content from buffer instead of hiding it"
Steps to reproduce:
1. Run `ll` twice in to fill the viewport
2. Run `clear`
3. Scroll up and notice that a number of rows equal to the height of the terminal were removed from the buffer.

[2016-06-09 08:33] Tyriar commented on #106
`gnome-terminal` appears to be buggy in this regard, it removes that many rows from the very beginning of the buffer, not the old viewport.

Here is the spec for the signal that's received (2):

[code]

http://www.vt100.net/docs/vt100-ug/chapter3.html

I guess the right thing to do is to clear absolutely everything like `xterm` does.

[2016-06-09 08:38] Tyriar commented on #103
@parisk yes, #101 only fixed resizing rows, this is resizing columns. Also I'll probably take a crack at fixing this one too if you want to assign to me.

[2016-06-09 08:41] parisk commented on #103
It seems that GitHub won't let me assign this to you, but feel free to take this over. It would be amazing to have a PR for this.

[2016-06-09 08:42] parisk commented on #106
So should we move forward with closing this issue and leave the cleaning behavior as is?

[2016-06-09 08:49] Tyriar commented on #106
@parisk well it looks like a bug to me, maybe just doing what xterm does would be better considering that is what this is trying to emulate?

[2016-06-09 12:37] joerick commented on #55
Hey @parisk, just tried again. Still having a problem-

![](http://cl.ly/3i3c0I3t1U14/Screen%20Recording%202016-06-09%20at%2001.30%20pm.gif)

However, it's improved by the fact that the lines aren't being removed any more, so the logging data is still in the scrollback. Perhaps the solution is to only add new lines to the bottom of the terminal if the scrollback is too small to fill the screen?

[2016-06-10 00:59] Tyriar opened #108 "ctrl+r event bubbles up beyond the terminal element"
It should prevent propagation or it could have unintended consequences and need to be handled by the consumer (like opening find symbol for vscode).

[2016-06-10 02:40] Tyriar commented on #64
The cursor element is not created when refreshed:

![image](https://cloud.githubusercontent.com/assets/2193314/15952921/0f9f9b52-2e7a-11e6-8fe9-ca7091e4286d.png)

[2016-06-10 03:33] Tyriar opened #111 "Resizing down and then up messed up cursor position"
Looks like I missed a case in #101

Steps to reproduce:

1. Load demo
2. Fill with output
3. Run:

[code]

![image](https://cloud.githubusercontent.com/assets/2193314/15953571/38a6de46-2e81-11e6-9797-20d01d150296.png)

[2016-06-10 08:40] #111 closed

[2016-06-10 08:41] parisk commented on #55
Hi @joerick could you please checkout the latest version of master and try again? After merging #112 this should be fixed.

[2016-06-10 08:55] joerick commented on #55
Confirmed - this is fixed! :)

![](http://cl.ly/1o2h2K3f3o1E/Screen%20Recording%202016-06-10%20at%2009.54%20am.gif)

[2016-06-10 08:55] #55 closed

[2016-06-10 09:22] #64 closed

[2016-06-10 09:58] Tyriar opened #113 "Allow custom keybindings for copy/paste/etc."
From https://github.com/sourcelair/xterm.js/pull/107#issuecomment-225084391

[2016-06-10 12:57] #65 closed

[2016-06-10 14:30] parisk commented on #75
Eventually I am not sure about this. It could make the Terminal look quite weird.

Terminal.app just changes the background of the selection to gray. @Tyriar could you please provide us with a screenshot of how gnome-terminal handles this?

## Terminal.app screenshot
![image](https://cloud.githubusercontent.com/assets/1188592/15967590/fab4b832-2f30-11e6-9652-eb76bf8d29f5.png)

[2016-06-10 14:33] parisk commented on #106
Well, did some tests. I think that your proposal of "shifting rows up" instead of removing them from buffer provides the best UX, even if it is not 100% xterm compliant.

[2016-06-10 14:36] parisk commented on #86
@Tyriar do you consider this still a bug, or could we move forward with closing it?

[2016-06-10 16:33] parisk commented on #33
Could you please try checking out the latest commit on master and let us know if merging #60 fixed this issue?

/cc @chani @exsilium

[2016-06-10 16:40] runarberg opened #116 "Firefox: Deleting from context menu works."
Selecting a text on firefox, and right clicking, will open a context menu (as expected), the menu contains `delete` which deletes any text from the terminal. I'm sure that is not supposed to happen.

[2016-06-10 16:47] runarberg commented on #116
![xterm-delete](https://cloud.githubusercontent.com/assets/3984600/15971903/06b106aa-2f2b-11e6-9e6b-68d694cf15e5.png)

[2016-06-10 18:42] Tyriar commented on #75
It sets fg to bg and bg to fg when selected. The good thing about it is that it's just as readable as the original text.

![image](https://cloud.githubusercontent.com/assets/2193314/15974986/222a4746-2f00-11e6-89f1-33c1de519408.png)

![image](https://cloud.githubusercontent.com/assets/2193314/15974997/2fd29286-2f00-11e6-9406-e967a7522747.png)

[2016-06-10 20:09] Tyriar commented on #47
@timotius02 would something like this solve your problem? https://github.com/sourcelair/xterm.js/issues/96

[2016-06-10 20:28] Tyriar opened #118 "Support custom keybindings"
Raised from a discussion in https://github.com/sourcelair/xterm.js/pull/107, I would like to eventually let vscode users to be able to configure keybindings for:

- Copy and paste (https://github.com/Microsoft/vscode/issues/6451, this one's particularly urgent)
- Clear terminal (⌘K on OS X https://github.com/Microsoft/vscode/issues/7240, general command request https://github.com/Microsoft/vscode/

[2016-06-10 22:15] Tyriar commented on #108
Not actually an issue when upgrading from 0.33 to master

[2016-06-10 22:15] #108 closed

[2016-06-11 00:42] Tyriar opened #119 "Cursor blinking seems to be broken"
Add option to demo:

[code]

Doesn't work

[2016-06-11 00:56] Tyriar opened #120 "Blur and focus behavior is messy and inconsistent"
There are some issues that need investigating:

- `Terminal.prototype.blur` isn't being run anymore
  - This means that when `this.sendFocus` is `true`, it will send `'\x1b[I'` on focus, but not `'\x1b[O'` on blur
- `Terminal.focus` is always `null` and not maintained, so even if `Terminal.prototype.blur` were hit, it would do nothing

Related: https://github.com/sourcelair/xterm.js/commit/6bc1881

[2016-06-11 01:56] Tyriar commented on #113
Just realized I created this twice, I go into much more detail in https://github.com/sourcelair/xterm.js/issues/118 so closing this.

[2016-06-11 01:56] #113 closed

[2016-06-11 03:15] Tyriar opened #124 "Terminal doesn't accept input via IME"
Using Ubuntu 16.04 native Korean IME the terminal just enters the English characters.

[2016-06-11 04:00] Tyriar commented on #124
I think this is the case because of the removal of the textarea. This might be useful https://developer.mozilla.org/en-US/docs/Mozilla/IME_handling_guide

[2016-06-11 16:43] exsilium commented on #33
Seems to work nicely! Thanks! (Tested on OSX and Safari)

[2016-06-12 07:40] chani commented on #33
Tested with the demo-page and the new xterm.js from master; @ and | are still not working in the combination windows+chrome+german-keyboard. Wondering if I could maybe provide a VM for testing. However I had my wife testing that (since I do not have any windows machine and my colleagues are having weekend) will get back to you as soon as I have further results. In Linux+firefox/chrome it is still

[2016-06-13 11:52] parisk commented on #96
We could implement a wrapper function like the following

[code]

[2016-06-13 11:53] #91 closed

[2016-06-13 11:53] parisk commented on #75
I think I tend more towards improving the background highlighting. I think that bg/fg color inversion is not what most users are used to right now.

[2016-06-13 11:56] parisk commented on #33
I think we might need a Pull Request for that, since not all of us have a keyboard with German layout.

@chani do you believe that by taking a look at #60 you could prepare a similar PR for the German keyboard layout?

[2016-06-13 13:50] runarberg commented on #33
@chani @parisk There shouldn't be any remaining issues with german keyboards in particular. Once you allow ISO level 3 shifts, it should be available for *all* ISO keyboards. Now there might still be issues on weather we're still preventing third-level inputs on some systems and some browsers. I never tested on Chrome on Windows for example.

http://stackoverflow.com/questions/10657346/detect-alt-

[2016-06-13 13:54] Tyriar commented on #124
@parisk please comment when you get a chance, I'm not sure IMEs will work without the `<textarea>`.

[2016-06-13 14:25] jerch commented on #62
@parisk To support this you gonna have to include the wcwidth calculation for any Unicode codepoint (see `man wcwidth`) and adjust the taken space for fullwidth characters to 2 terminal cells (terminals are based on the idea that a single cell can hold one halfwidth character since all western characters are halfwidth).
Problem with Javascript and Unicode is - it is a total mess with the UTF-16 en

[2016-06-13 18:18] Tyriar opened #126 "Long running processes cannot be stopped with SIGINT"
Steps to reproduce:

1. `npm start`, load in browser
2. Run `ls -lR /usr/share` on Linux, `ls -lR /Applications` on Mac (or some other big dir)
3. Try interrupt using <kbd>ctrl</kbd>+<kbd>c</kbd>

[2016-06-13 18:24] Tyriar commented on #126
Happens on jeremyramin/term.js as well.

[2016-06-13 18:32] Tyriar commented on #126
I guess it's pty.js problem https://github.com/chjj/pty.js/issues/141

[2016-06-13 18:44] Tyriar opened #127 "A busy stream maxes out CPU due to constant refreshes"
Steps to reproduce:

1. `npm start`, load in browser
2. Run `ls -lR /usr/share` on Linux, `ls -lR /Applications` on Mac (or some other big dir)
3. View process CPU%

I believe this is happening because `refresh` is called at a faster rate than it takes to run.

See https://github.com/Microsoft/vscode/issues/7484#issuecomment-225662697

[2016-06-13 18:49] Tyriar commented on #127
This can be confirmed by not passing the message from pty.js to xterm.js and instead logging it.

Here is the original when running `time ls -lR /usr/share`

[code]

And when the stream is not passed to xterm.js:

[code]

[2016-06-13 21:58] #96 closed

[2016-06-14 07:49] #126 closed

[2016-06-14 07:49] #127 closed

[2016-06-14 08:11] #86 closed

[2016-06-14 08:58] parisk commented on #116
Unfortunately, it seems that it is not possible to stop this behavior, if we would like to keep right-click paste: http://stackoverflow.com/a/8736770.

The only hack that I can think of is disabling `contentEditable` when there is selected text in the terminal, since it won't make any sense to paste on a selection and the side effect would be removing all content-changing actions from the context

[2016-06-14 08:59] parisk commented on #124
Is there any way to detect *when* the Korean IME gets enabled? We could lease the contentEditable attribute.

[2016-06-14 09:55] parisk commented on #120
Working on this right now. Implementation is more cumbersome than initially thought.

[2016-06-14 10:17] parisk commented on #120
Posting an update here on what is most probably going wrong and why this is not trivial to implement. It seems that when the terminal refreshes, there are chances that it removes the whole thing and redraws everything. This leads to a huge load of native `focus` and `blur` events, which make it difficult to tackle.

My first attempt to fix this is attached to https://github.com/sourcelair/xterm.js

[2016-06-14 13:31] parisk commented on #33
It would be great if someone could take this over and also provide some tests about this functionality. Unfortunately I cannot do this on my own, since I do not have the required hardware to work efficiently.

[2016-06-14 13:33] parisk commented on #118
I was thinking that an interesting solution would be offloading the copy/paste functionality to an addon, so as to be able to apply any functionality programmatically on top of the core terminal.

[2016-06-14 13:33] parisk commented on #47
@timotius02 does the addon loader attached to #125 solve your issue?

[2016-06-14 16:21] parisk opened #132 "Terminal refreshes perpetually multiple times per second"
https://github.com/sourcelair/xterm.js/pull/128#issuecomment-225855042

[2016-06-14 17:00] Tyriar commented on #124
@parisk it would probably work with contenteditable, however it would probably need to be on constantly. Note that this will probably happen with all IMEs, so many languages won't be able to be input by conventional means right now.

[2016-06-14 17:06] Tyriar commented on #132
It might be to do with:

[code]

`focused` is `document.activeElement`

[2016-06-14 17:34] Tyriar commented on #120
@parisk the pass of focus/blur are due to #132 right?

[2016-06-14 18:18] Tyriar commented on #118
@parisk exposing some API like `Terminal.prototype.registerKeyMappings(event)` would be good, then that can be used by both addons for common customizations like copy and paste and also lets consumers do whatever they want with it.

[2016-06-15 06:51] #119 closed

[2016-06-15 09:53] #132 closed

[2016-06-16 06:09] timotius02 commented on #47
Yep the Addon Loader looks like it will do, although I ended up making my own fix for it. Will try it out as soon as I can.

[2016-06-16 07:29] chani commented on #33
@parisk trying.

[2016-06-16 08:09] chani commented on #33
@parisk take a look:

the output for chrome on windows, pressing the @-char

[code]

the same for my linux

[code]

did you notice, that windows seems to send altKey and ctrlKey true where as in linux this does not seem to happen? Might that be related? Now the |-char, linux:

[code]

windows:

[code]

again this discrepancy that windows sends altKey and ctrlKey true where as linux does not. I'll

[2016-06-16 09:23] jerch commented on #62
I had a look at your line at cell abstraction - this is pretty much the same I did in my emulator. If you like I can extend your isWide and write functions with the wcwidth stuff in a PR.
Another problem is the rendering with Unicode. For higher BMP or non BMP codepoints the fonts might differ in the glyph width from wcwidth (if they have that glyph at all). You are likely to need a CSS class fixi

[2016-06-16 10:15] parisk commented on #62
Interesting. Do you believe that this could be handy? http://code.woong.org/wcwidth.js

[2016-06-16 10:24] parisk commented on #33
Great thanks a lot. A PR for this would be wonderful.

[2016-06-16 10:42] chani commented on #33
pretty sure the fix will take me longer @runarberg could you work something out with the information provided? If not I am going to try, though my JS is.. limited, not even sure where to start. :)

[2016-06-16 11:03] jerch commented on #62
yes, it should do the trick, though it is not 100% xterm compatible (xterm uses a slightly different version of it). If xterm compatibility is a major concern for xterm.js, we'd have to strip the lookup tables from their sources.

[2016-06-16 14:06] #120 closed

[2016-06-16 14:39] runarberg commented on #33
@chani We already [take this into account][1]. Linux (at least ubuntu) handles third level shift natively with a special key mapped to it (usually <kbd>AltGr</kbd>), so ubuntu machines work out of the box (and always have). The problem arises with Windows and especially mac, because the don't have this notion, and rely on control characters being pressed. #60 fixes this discrepancy by still emitti

[2016-06-16 15:27] chani commented on #33
correction.. sorry. it seems strg+alt+q does NOT work in chrome in windows.

[2016-06-16 17:13] Tyriar commented on #62
You can look at a solution to this here https://github.com/chjj/term.js/pull/97

[2016-06-16 18:23] Tyriar opened #134 "Performance of refresh is still subpar"
Follow up from https://github.com/sourcelair/xterm.js/pull/131#issuecomment-226566256

It looks like refresh and the layout is still taking far too long in a real application scenario. Consider the following portion of a Chromium timeline when running `ls -lR /usr/share` in VS Code, which takes around 3.5s for the process to run but ~25s until it's finished in the UI.

![image](https://cloud.githu

[2016-06-16 18:26] Tyriar commented on #134
@parisk I can have a go at fixing this considering I have the most context.

[2016-06-17 08:48] parisk commented on #134
@Tyriar I think that we are already skipping such refreshes in https://github.com/sourcelair/xterm.js/commit/a6e85ad5f5aa224cd5770a57806f1219779719d4#diff-d4f745d6f29faa0617f2e02bb95f0c44R1206. Do you mean something else?

Feel free to give it a try if you would like. What is the approach you are thinking to take?

[2016-06-17 08:55] Tyriar commented on #134
@parisk using a DocumentFragment to prevent layout thrashing. I believe right now if a refresh takes longer than 34ms, it may not wait before starting a new one, ie. `this._refreshIsQueued = false;` should be at the end of refresh.

[2016-06-17 08:56] jerch commented on #62
That seems to work for BMP fullwidth characters. Surrogates are still failing in width and cursor positioning as you can test with these characters: 𝟙𝟚𝟛𝟜𝟝𝟞𝟟𝟠𝟡

[2016-06-17 09:44] jerch commented on #134
I had the same problem with https://github.com/netzkolchose/jquery.browserterminal and played alot with performance tips floating around. What helped to increase the output performance and interactivity was:

- dont use divs, instead use `pre` as terminal container with spans, `pre` has a much lesser layouting penalty
- always do late reflowing (e.g. use fragments and no height/width calculation i

[2016-06-17 13:49] themrwilliams opened #135 "Installing and using addons through NPM?"
I've been toying with various uses of import/require (e.g., in a React app) for a while now and can't seem to get Xterm's addons to properly register when using Xterm via NPM.  Is this possible without making modifications to the source code and/or adding package files for each addon?

One example:

[code]

I'd like to avoid using script tags to import everything if possible.  Apologies in advance

[2016-06-17 15:58] parisk commented on #135
Hi @themrwilliams, could you please try running the following and let me know if it worked for you?

[code]

[documentation](https://github.com/sourcelair/xterm.js/blob/master/src/xterm.js#L782)

[2016-06-17 16:43] themrwilliams commented on #135
@parisk

[code]

Results in:
browserified_file.js:1946 Uncaught (in promise) TypeError: term.loadAddon is not a function(…)

I verified that the version (09d67a6) of Xterm.js I'm using has the loadAddon function.

In the mean time, the following works, but it's pretty hacky:
[code]

[2016-06-17 21:06] Tyriar commented on #135
A new version will need to be published before `loadAddon` is available.

[2016-06-20 07:19] jerch commented on #134
Slightly offtopic:
The chunk splitting can only partly solve the problem with CTRL+C getting recognized by a output heavy task as it would give the keystrokes a chance to get send to the PTY between those chunks.
Main problem with CTRL+C and heavy output task is the buffer situation and in particular the way pty.js is implemented. pty.js tries to be non blocking with the usual callback/event parad

[2016-06-20 10:08] jerch commented on #72
This is directly related to the missing handling of combining characters mentioned in #62

[2016-06-21 15:22] jerch commented on #134
XOFF/XON solves the problem as you can try with this patch: https://gist.github.com/jerch/4393f100562b602ee1cc030cc9fa1f63
The slave program gets paused while the data are processed by the terminal. Therefore its runs much slower, but at least almost in sync with the terminal.

[2016-06-23 22:36] dbkaplun opened #139 "Cursor does not hide"
Steps to reproduce:

[code]

[2016-06-23 22:38] dbkaplun opened #140 "Selection should not be visible during mouse interaction mode"
Steps to reproduce:

[code]

[2016-06-24 05:15] Tyriar opened #141 "Cursor should only blink when terminal has focus"

[2016-06-24 05:51] Tyriar opened #143 "Middle click to paste selection in terminal does not work when middle clicking the selection itself"
Steps to Reproduce:

1. Open terminal on Linux
2. Select text
3. Middle click on the selected text, nothing happens

[2016-06-24 12:58] #141 closed

[2016-06-24 14:55] jerch opened #145 "broken escape sequence parser states"
Please have a look at http://www.vt100.net/emu/dec_ansi_parser. In the state diagram there you can see, that "execute" characters (like '\n', '\r' ...) don't break or reset the actual parser state - they will just get executed for most of the possible states.
Problem is that some sequence parser states allow nesting other escape sequences while others dont. That is not reflected by the actual stat

[2016-06-24 15:21] jerch commented on #145
You can test this with: `echo -e '###\x1b[\nC###'`

expected result:
[code]

xterm.js result:
[code]
The cursor movement sequence is cancelled and the 'C' is treated as printable. There seems to be another problem since the '\n' doesnt move the cursor to position 1 on the next line (have not investigated this).

[2016-06-24 23:17] Tyriar commented on #124
Another option if we really don't want to go back to the textarea is to provide some command that would popup and allow input into a regular `<input>` for IMEs. Not ideal though.

[2016-06-26 10:56] jerch opened #147 "wrapAround flag not respected in default state"
If `wrapAround` is set to `false` the cursor should not move to next line and position 0. It should just stick at the end of line overwriting the last cell upon getting printables.

[2016-06-27 08:50] parisk commented on #147
Thanks for reporting. Will fix hopefully during the week.

[2016-06-27 09:03] parisk commented on #70
Closed in #144.

[2016-06-27 09:03] #70 closed

[2016-06-27 09:03] parisk commented on #62
Closed in #144.

[2016-06-27 09:03] #62 closed

[2016-06-27 10:13] parisk commented on #145
@jerch thanks for reporting this! Could you please mention a use case where this bug will come up and what will be the outcome for the end user?

[2016-06-27 10:14] parisk commented on #145
Disregard my previous comment.

[2016-06-27 17:14] jerch commented on #72
This is what I get under Linux and FF with default monospace font (Liberation Sans Mono) at 30px:

![1](https://cloud.githubusercontent.com/assets/6193135/16388275/b1c9daec-3c98-11e6-88fc-9ae0298e1b78.png)
![2](https://cloud.githubusercontent.com/assets/6193135/16388276/b1e6dade-3c98-11e6-8ead-97b0e4a8083e.png)
![3](https://cloud.githubusercontent.com/assets/6193135/16388281/b22482bc-3c98-11e6-9f0

[2016-06-27 20:00] Tyriar opened #149 "Lines containing unicode characters differ in height"
Using the demo, lines with CJK characters at 24px, regular lines are 18px, and my prompt character is 20px.

![image](https://cloud.githubusercontent.com/assets/2193314/16393767/e56a18d0-3c66-11e6-8fd0-d9f994726392.png)

This is the reason that on my computer the size of the terminal increases every time I press enter; because the `❯` character is being added, pushing out the height of the line.

[2016-06-28 08:57] parisk commented on #149
@Tyriar are you aware of any way we can fix this? Could we somehow (based on font-size I guess) know what is the appropriate line height to set, in order not to have lines with variant line heights?

[2016-06-28 09:04] parisk commented on #72
I got the same issue with Courier New and Source Code Pro. I do not think that this is a font issue.

I guess that it is an issue with wcwidth, because I also tried comparing a hindi string with a cursor on top of it, with the same string without having the cursor on it and they were the same.

[2016-06-28 11:22] jerch opened #150 "Proposal: revamp the refresh method for better rendering performance"
To start the discussion about the screen representation and rendering process here are some first ideas:
- **`pre` container instead of `div`**
  `pre` context can be rendered faster by most browser engines due to the reduced capabilities. Downside - reduced capabilities ;)
- **document fragments**
  Although this needs more JS code with all the explicit node manipulation it is super fast compared

[2016-06-28 14:37] wallverb opened #151 "zsh / oh-my-zsh - no scroll"
If i start demo with `zsh` instead of `bash` and have `oh-my-zsh` installed then the scroll will not work in xterm.js

I am not sure if this is an issue with `xterm.js` or `oh-my-zsh`

The command that causes scroll to stop working is this command: `echoti smkx` that is located in `.oh-my-zsh/lib/key-bindings.zsh`

One can also start `xterm.js` without `oh-my-zsh` and type that command into termin

[2016-06-28 18:20] jerch commented on #72
Maybe this is caused by the ugly construction rules in unicode --> http://unicode.org/faq/indic.html#17 (see _Q: I cannot find the "half forms" of Devanagari letters (or any other Indic script) in the Unicode code charts. These characters are needed to form words such as "patni"._)
Neither `wcwidth`nor the actual cursor handling marked with a span in xterm.js can handle those special cases at the

[2016-06-28 19:00] Tyriar commented on #149
The way I'm probably going to approach a fit for vscode at least which allows a configurable `font-size` and `line-height`, is to make the default `line-height` a fixed pixel size and set it as the `height` as well. Setting `height` and `line-height` forces all chars to be aligned the same and all lines to be the same height.

[2016-06-28 22:27] Tyriar commented on #103
Another note on this, the `&nbsp;` characters at the end seem to get cut and never refreshed, meaning that scroll events on the rows that are cut short don't make it to the terminal.

[2016-06-28 22:28] Tyriar opened #152 "Allow consumers to specify a set of key sequences to not be handled by the terminal and bubble up instead"
See https://github.com/Microsoft/vscode/issues/7269 for context.

Some users want <kbd>F1</kbd> to not be consumed by the temrinal and instead be bubbled up to be handled by the application (to toggle the command palette). I can see this being useful for other keys as well depending on specific the use case.

[2016-06-28 22:54] Tyriar commented on #150
While canvas may be more performant, getting ti to act like a text editor may be tricky (selection, context menus, IMEs, etc.), also it's a very radical change that makes it behave significantly different.

It would be good if there was separation between the rendering and terminal state, a renderer could then be swapped in or out allowing for choice. Not really something that needs attention imme

[2016-06-29 07:44] parisk commented on #150
My two cents here:

1. Let's leave the canvas approach out of the discussion for now. Since this will need significant effort to provide the proper UX, we should have clear pros and cons between the two approaches and actually we should have reached a point where text rendering should be considered doomed.
2. As far as the native scrolling goes, I am pretty sure we can do this without rendering th

[2016-06-29 07:45] parisk commented on #103
Would stripping all trailing `&nbsp;`s help?

[2016-06-29 07:47] parisk commented on #152
Sounds like a sane proposal. We could create a more declarative key binding API and export all current key handling to add-on like objects.

[2016-06-29 07:47] parisk commented on #152
This way you will be able to choose which of them to include in your "xterm bundle".

[2016-06-29 08:03] TDaglis commented on #152
As an alternative (or as a temporary) solution, the application could catch the key sequences on capturing instead of bubbling.

[2016-06-29 10:00] jerch commented on #150
I second your remarks about the canvas idea. Too much of an effort for an uncertain result. Might be worth a look again once a bigger overhaul is needed, but not at the current state.

Imo missing in the list above - **CSS optimization**. [Here](https://css-tricks.com/efficiently-rendering-css/) is a nice overview of CSS concerns. Atm there are two selectors that might be performance critical - `.

[2016-06-29 12:59] jerch commented on #150
Native scrolling might be possible in combination with partial buffer rendering upon scrolling. [Clusterize.js](https://clusterize.js.org/) uses such a trick to show tons of data in a list.

[2016-06-29 18:38] Tyriar commented on #103
@parisk the `&nbsp;` are good I think, provided the character width problems are handled. The `&nbsp;` and other characters if possible need to be restored.

[2016-06-29 18:43] Tyriar commented on #150
@jerch I don't think those selectors should be particularly badly performing. `.terminal:not(:focus)` shouldn't be bad as it's rooted on `.terminal` so it only needs to check a single element for focus (O(1)). Just `:not(focus)` would be bad since it would needs to check every element for focus (O(n)).

Similar with `.terminal .xterm-rows > div`. If anything the direct descendant selector would im

[2016-06-29 22:36] parisk commented on #72
Thanks a lot for providing this information @jerch. I do not have the time to deal with this at the moment, but they will definitely be helpful when someone gets on top of this issue.

[2016-06-29 22:40] parisk commented on #151
Thanks for reporting @wallverb. I do not have access to zsh right now, so I am not able to test this out.

Could you please take a look at your console in the developer tools of your browser and provide us with any errors/logs that might appear when attempting to scroll when in zsh with oh-my-zsh?

[2016-06-29 22:48] parisk commented on #140
Thanks for reporting @dbkaplun. This should be partially fixed by now after #148.

The current issue is that you get both slap's selection and the native one. I guess we should disable text selection, when `term.applicationCursor` is `true`.

[2016-06-29 22:50] parisk commented on #139
Thanks for reporting 😊.

[2016-06-30 01:54] wallverb commented on #151
@parisk - when zsh/oh-my-zsh is executing that `echoti smkx` command then the following data is being sent to   `Terminal.prototype.write = function(data) `:

[code]

which seems like that `=` char is causing this:

[code]

and then ` this.applicationKeypad = true;` is causing return in scroll code:

[code]

[2016-06-30 08:21] Tyriar opened #154 "Exception when increasing terminal vertical size when at the top of the buffer"
1. Open the terminal
2. Fill terminal with output beyond the number of rows
4. Scroll to the very top
5. Increase number of rows via `resize`

[code]

[2016-06-30 13:40] jerch commented on #150
As far as I understand the concerns the evaluation from right to left of the selector makes them counterintuitive. For `.terminal .xterm-rows > div` this kinda selects all divs in the page to filter in the next step divs with parents of class 'xterm-rows'. The following descendant rule will then filter the divs with a 'terminal' class ancestor. If that's still the case, this will get really ugly w

[2016-07-01 00:34] jerch commented on #150
Now I feel like Don Quixote tilting at windwills - ever wondered what this greyish pie in dev tools timeline summary is? It is "Other". Hmm.

I ran several tests with different settings to get better output performance and was able to lower the total runtime of `ls -lR /usr/lib` from 6s to 5s here. Dev tools say the rendering takes now about 500ms and the JS scripting about 2000ms. Sweet. Mission

[2016-07-01 09:32] jerch commented on #150
Did some tests with `pre`. It is on par to slightly worse. Imo not worth any further testing.

Another possible optimization - the terminal container `.terminal` is not explicit styled atm in the demo. This triggers a full reflow up to `document` in chrome and adds ~1ms to a single layout and paint. In a more complex embedding page this gonna hurt much more. It can be fixed with setting explicit v

[2016-07-01 15:45] parisk commented on #150
Thanks a lot for all these information @jerch. They are really useful. I will take a deeper look later, because I couldn't find the time today. Could you please provide us with some more information about the websocket server you used and the settings you used to set up buffering?

[2016-07-03 18:53] jerch commented on #150
@parisk You can find the adjustments [here](https://github.com/jerch/xterm.js/commit/c1d8e4f977954318dacc4af2fd08451760a5e555). The websocket buffer is just a quick hack to your app.js to see the performance difference. The changes should be applicable to any websocket lib, though Im not sure if it still will show that impact on a remote system, comm latency might just swallow the effect idk.
Now

[2016-07-03 22:08] jerch opened #156 "Proposal: use more tests"
The emulator is a fairly complex beast already and has like no test cases. Do you have any plans for testing xterm.js?
I feel a bit uneasy about playing with the code and making PRs with literally no chance to spot regressions at least. For example those #145 and #147 issues are candidates for fixing a problem while introducing a bigger one at some random place.

[2016-07-04 02:08] protasenko opened #157 "No bold text in terminal output"
`isBoldBroken()` always returns true since it inserts the test span at `body` level where the font is most likely not mono-spaced. Instead, it should test at or below the node where terminal font is specified (`.terminal`). As an example, the below version will allow bold text to be rendered by terminal:

[code]

[2016-07-04 05:12] Tyriar commented on #156
The current plan is to add tests as we go, mocha was only just added so the more tests you can contribute in PRs, the better.

[2016-07-04 07:49] jerch commented on #156
I have some xterm output comparison tests, can try to apply them. They are high level therefore it will be tricky to spot the faulty piece of code with just those.
At low level stage I have complete tests for this [parser](http://www.vt100.net/emu/dec_ansi_parser), but xterm.js does the parsing differently. Maybe I can adopt some of them idk.

[2016-07-04 08:04] jerch commented on #157
Imo this can't be tested programmatically with some random characters in a reliable manner unless you test a critical subset. There are fonts that handle bold for some glyphs and dont for others (esp. bold box drawing chars are kinda broken in all monospace fonts).
Imo this needs handpicking and documentation of useable and unuseable fonts for a specific task (one font might handle bold cyrillic g

[2016-07-04 19:20] Tyriar opened #158 "Introduce some build system to enable more than one js file"
It's difficult to simplify the code base if it all sits in a 5000 line file.

[2016-07-04 20:15] Tyriar opened #159 "&nbsp; characters are not reinstated when horizontally shrinking and increasing viewport"

[2016-07-05 09:44] parisk commented on #158
I totally agree with that. Let' get on top of this after finishing documentation and releasing 1.0.0.

[2016-07-05 09:56] jerch commented on #156
Added the xterm tests --> https://github.com/jerch/xterm.js/commit/36930e9661123a86e44a8f2471e6dfed2f3b6824
10 of 44 basic tests are passing, this is a beginning :) The tests are just a high level indicator of xterm conformance (comparable to vttest) and not usable for tracking down a problem to a single line of code. That would need tests with a higher granularity (like testing every single funct

[2016-07-05 09:56] #154 closed

[2016-07-05 10:53] #159 closed

[2016-07-05 11:28] parisk commented on #156
That's great @jerch and it's definitely a very good start. Even getting 10 out of 44 vttest tests passing at first we will at least now if a PR breaks any of these (and there it will be much easier to debug the code).

I am really looking forward to seeing these tests incorporated in xterm.js. Please let me know how can I help you out with this.

[2016-07-05 11:35] jerch commented on #156
Had a closer look at the current escape sequence parsing. My test cases cant be applied to it, they are not compatible state and transition-wise. The parsing doesn't fit into Paul's reference parser model, therefore I'm not sure if the parser always does the right thing (Paul claims to have the most complete model). Up for discussion, since it would need a really big re-factoring to get it in line

[2016-07-05 11:45] jerch commented on #156
@parisk Well the xterm tests would have to be tested and fixed one by one. You can select a specific test case by altering the for loop in the test file and switch the noisy output on to compare the outputs.
At this point comes the hard work - to find the faulty handling in the code you would have to go down the callstack - that is a big problem with the parsing in one big `write` call (the callst

[2016-07-05 18:45] Tyriar opened #162 "reverse-i-search incorrectly overwrites characters"
Steps to reproduce:

1. Type `npm install` and interrupt the process using <kbd>ctrl</kbd>+<kbd>c</kbd> to add it to history
2. <kbd>ctrl</kbd>+<kbd>r</kbd>
3. Type `npm inst`

gnome-terminal:

![image](https://cloud.githubusercontent.com/assets/2193314/16595745/9ba1e314-42a5-11e6-98a3-550e5acec1ab.png)

xterm.js:

![image](https://cloud.githubusercontent.com/assets/2193314/16595769/b19a9508-42a5-

[2016-07-06 03:23] tqlihuiqi opened #164 "Uncaught TypeError: Cannot set property '0' of undefined"
execute vi / vim command throw exception

error:
        Uncaught TypeError: Cannot set property '0' of undefined

debug:
        Serial port requested application keypad.

code:
        <script src="/static/plugins/xterm/src/xterm.js"></script>
        <link rel="stylesheet" href="/static/plugins/xterm/src/xterm.css">

[code]

[2016-07-06 09:29] #147 closed

[2016-07-06 17:21] jerch commented on #162
This got also fixed by #163.

[2016-07-06 17:52] Tyriar commented on #162
@jerch nice :smiley:

[2016-07-06 17:52] #162 closed

[2016-07-07 07:08] akalipetis commented on #164
Hello @tqlihuiqi - thanks for reporting.

Are you testing on the latest master branch? Also, in which browser you're testing?
I just tried running `vi`/`vim` on the Xterm demo but could not reproduce this on Chrome/Firefox on OSX.

[2016-07-07 10:32] jerch opened #166 "feature request: rewrap autowrapped content upon resize"
This is one of the most requested feature and actually missing in xterm. People won't lose content anymore upon resizing, a great enhancement of UX imo. `screen` has this feature enabled by default, you can test it with some lengthy output and shrinking/enlarging the terminal window.

Since it is not xterm compatible I suggest to make it switchable via an escape sequence and/or a configuration opt

[2016-07-07 10:51] tqlihuiqi commented on #164
Hi, @akalipetis

I use the latest master branch on Chrome/Firefox on OSX.

I've already resolve this issue.

code:
    var currentWs = new ReconnectingWebSocket('ws://{{ wsServer }}/ws/terminal/current');
    currentWs.onopen =  function(event) {
        var xterm = new Terminal({
            geometry: [98, 26],
            debug: true
        });
        xterm.open(document.getElementById('curren

[2016-07-07 10:53] tqlihuiqi commented on #164
Hi, @akalipetis

I use the latest master branch on Chrome/Firefox on OSX.

I've already resolve this issue.

code:

    var currentWs = new ReconnectingWebSocket('ws://{{ wsServer }}/ws/terminal/current');
    currentWs.onopen =  function(event) {
        var xterm = new Terminal({
            geometry: [98, 26],
            debug: true
        });
        xterm.open(document.getElementById('curre

[2016-07-07 16:47] jerch opened #167 "testing: sanity checks"
Until we have a usable feature and regression test suite I'd suggest to do at least some basic sanity checks by hand with popular programs before applying changes. Programs that come to mind are:
- ls
- cat
- man
- top
- htop
- vim
- emacs
- nano
- mc
- some curses based program (dont know a good one)

Those should not break with changes, at least the basic actions should keep working. They are al

[2016-07-07 17:14] jerch commented on #164
@tqlihuiqi Could you provide more info about what you did, the error (with stacktrace?) and what exactly fixed the problem? The
[code]
doesnt look like a real solution to me - you still execute `xterm.write(event.data)` and evaluate a nonexistent return value (the if condition will always be true).

Atm your description is somewhat cryptic and not reproducable with the spare info.

[2016-07-07 18:53] BenHall opened #169 "Cannot enter # on Mac UK keyboard"
I had to patch term.js previously to get # working on a Mac UK keyboard (shift + 3).

https://github.com/BenHall/term.js/commit/edf03f4656bd7eb5df1151dcfb1ba1a1d19287b0

I tried to do the same patch xterm but it didn't work. I added the following code at line 2568

https://github.com/sourcelair/xterm.js/blob/39edbfb6558343dc556b094470a84448d6a7a4d2/src/xterm.js#L2568

[code]

Please help, it's sto

[2016-07-07 19:03] BenHall opened #170 "Disable detach"
Is it possible to disable Ctrl+D so a user can never detach from the terminal?

[2016-07-08 02:23] tqlihuiqi commented on #164
I have written a with the function of audit SSH client，I want to send the output file via a browser display, So I use the WEBSOCKET receives the message, and then through the XTERM to display a message to the page. At that time when I was in terminal input VI command, raised exception.

I try to write VI command returns a message on the console:

console.log(event.data)

    terminal:524 v
    ter

[2016-07-08 02:24] tqlihuiqi commented on #164
@jerch

I have written a with the function of audit SSH client，I want to send the output file via a browser display, So I use the WEBSOCKET receives the message, and then through the XTERM to display a message to the page. At that time when I was in terminal input VI command, raised exception.

I try to write VI command returns a message on the console:

console.log(event.data)

    terminal:524 v

[2016-07-08 10:07] jerch commented on #164
Looks like `this.lines` or `this.lines[this.y + this.ybase]` is `undefined`. You'd have to inspect both to see what is wrong here, either with printf-debugging (console.log) or with a breakpoint at xterm.js:1603.

I guess your xterm geometry is not in sync with the pty, since vi is trying to set the y scroll margins to 0 and 29 (`[1;30r` in your second vi output line).

[2016-07-08 10:17] TDaglis commented on #170
https://github.com/sourcelair/xterm.js/issues/152 would solve your issue. Until it is implemented though, you could catch the keydown event in your application on the capturing phase, and prevent its propagation when it is <kbd>Ctrl-D</kbd>

[2016-07-08 12:20] jerch commented on #72
Maybe real grapheme will solve this http://www.unicode.org/reports/tr29/#Grapheme_Cluster_Boundaries

[2016-07-08 14:44] richarddavenport commented on #151
@parisk, any movement on fixing this? Really appreciate the work!

[2016-07-08 18:29] Tyriar commented on #72
This should probably be left for someone familiar with the IME, perhaps it's behaving as expected?

[2016-07-08 19:30] akalipetis commented on #169
Hello @BenHall - thanks for reporting.

I tried reproducing the issue described but couldn't. I am on OSX/Chrome.

Could you please let me know if this issue is present here? https://7cyoxu8p.apps.lair.io/
This is a simple Xterm.js demo on master.

I also checked and when Shift + 3 is pressed the correct keycode/key combination is sent over.

[2016-07-08 22:29] parisk commented on #72
@jerch this should be part of the renderer or the font? I don't have much experience with international characters, so my questions might be quite basic.

[2016-07-08 22:31] parisk commented on #151
@richarddavenport unfortunately I didn't have time to deal with this and I do not project to be able to do so by the end of the month.

It would be extremely helpful if we could get an external contribution on this and I can definitely help anyone out with figuring out the internals of xterm.js.

[2016-07-08 23:30] jerch commented on #72
@parisk Kinda both, a font will have some those rules implemented to do the combed drawing and ligature stuff which results in so called user perceived characters. This is the final composed "sign" a user would recognize as one character.
One the other hand a renderer should handle this accordingly, for example the cursor should "see" it as one character as default behavior (no jumps between the c

[2016-07-09 13:20] jerch opened #171 "demo resize issue"
The emulator demo doesnt seem to propagate resize back to the pty which leads to weird behavior when you input something lengthy (pty sends '\r' and you just overwrite the current line). It also prevents commands like `top` from using the whole container.

[2016-07-09 13:27] jerch commented on #80
This should be possible with a similar approach to the xterm test cases. We can just record in- and output of a single vttest test case and compare the results. Some of the tests need a visual check - those could be done by hand or something like selenium tests in an automated fashion.

[2016-07-09 14:36] nitishrai opened #172 "Getting Error while connecting to websocket"
I am getting this error
WebSocket connection to 'ws://localhost:3030/bash' failed: Connection closed before receiving a handshake response
 websocket code is from main.js file from xterm.js and  my server side code is

[code]

[2016-07-09 15:44] BenHall commented on #169
Here is a quick gif of the above environment (sorry for the typos). I tried different key combinations but couldn't get a hash to appear.

![hashbug](https://cloud.githubusercontent.com/assets/82614/16708692/328ec5ca-45f4-11e6-9daf-5e165feb3edb.gif)

this is the window event output when I set a breakpoint on keypress:

[code]

[2016-07-10 17:43] protasenko commented on #152
This is already pretty easy to achieve with very small modifications. The existing "keydown" event should be emitted with additional parameter "result". And it's emit call should be moved up before `if (result.cancel)` and `if (!result.key)` blocks. Then the "keydown" handler could inspect `event.keyCode` and `result.key` and e.g. set `result.key = ""` to ignore key and let it bubble, or also set

[2016-07-11 09:04] akalipetis commented on #172
Why don't you use the default demo of Xterm.js? It has a Node bash example server.

In the provided code, the `app.listen(port, host);` is missing.

[2016-07-11 13:44] richarddavenport commented on #151
@parisk I'd love to help! Is there any documentation anywhere, or could you help me get going with debugging? Is there an editor or IDE that works best? VS Code/Webstorm/Chrome Dev Tools? Thanks!

[2016-07-11 16:45] Tyriar commented on #151
@richarddavenport any editor works well. All the code is in [`./src/xterm.js`](https://github.com/sourcelair/xterm.js/blob/master/src/xterm.js) and instructions to run the demo are [here](https://github.com/sourcelair/xterm.js#demo).

[2016-07-11 17:44] parisk commented on #151
@Tyriar is right. Any editor supporting JavaScript works, so feel free to choose the one that suits you better.

Personal opinion though would be choosing an editor or IDE that uses xterm.js itself though, in order to dogfood it as well (use xterm.js when developing xterm.js). The two solutions that I am aware of right now are:

- [SourceLair](https://www.sourcelair.com/) that works completely in

[2016-07-11 17:48] parisk commented on #80
Instead of Selenium we could go with [jsdom](http://npmjs.org/package/jsdom) to make it more lightweight.

[2016-07-11 17:59] parisk commented on #171
Thanks for reporting. This will need some work to be implemented. Right now the websocket stream exchanges raw bytes with the back-end pty.

We will either have to change the way the stream works in order to include control commands like resize or create an HTTP endpoint for this particular reason. The latter needs more work to be done (including identifying the current pty), but IMO is the best s

[2016-07-11 18:01] parisk commented on #169
@BenHall could you please try this with another browser as well, preferably using incognito (add-on/plugin free) mode?

Also could you please log the keydown and keypress events when pressing `#` and provide the output here?

[2016-07-11 18:03] parisk commented on #166
@jerch I am not sure I totally understand this. Could you please describe how this should work and compare it with the current implementation? How do users lose content with the current resizing mode?

[2016-07-11 18:12] parisk commented on #157
Hi @protasenko, thanks for reporting. Running `echo "this is $(tput bold)bold$(tput sgr0) but this isn't"` prints the bold text normally.

I think that adding a test which evaluates that printing a fixed sentence with a bold word that will place the `xterm-bold` class to the bold word would suffice.

If the host application of xterm does not display the bold characters after ensuring that this tes

[2016-07-11 18:14] parisk commented on #156
@jerch I agree that the best way to go is writing smaller test cases. Sounds more manageable and helpful. Also doing this gradually will help us deal only with each small portion fails at each time.

Let's get back to this after merging #161 and releasing **1.0.0** (this week).

[2016-07-11 18:15] parisk commented on #170
@BenHall did @TDaglis' proposal solve your case? Are you OK with closing this issue now?

[2016-07-11 18:19] parisk commented on #150
@jerch thanks for providing all this data. After releasing **1.0.0** this week, I will get on top of this, in order to set up a "roadmap" or course of action in order to tune the rendering process.

[2016-07-11 18:21] parisk commented on #72
I am certain that there is no solution that fits them all. I believe that the most important part is to decide **what Unicode features does xterm.js support** and not put any effort to anything beyond these.

Not sure how big each segment is though at the moment (CJK, Hindi, ancient indogerman etc.) in order to decide which ones have the most impact.

[2016-07-11 19:18] BenHall commented on #169
It's very hard to get the keydown for the # without changing the code. Here is the first snippet which is for the "Right Alt" on the keyboard. To get a #, it's Right Alt + 3.

Atom had same issue - https://github.com/atom/atom-keymap/issues/35

[code]

[2016-07-11 20:29] Tyriar opened #173 "Expose clear function"
To allow external code to clear the terminal, for example in order to implement a button or ⌘K keybinding to clear the terminal (#118), a clear function should be exposed. This is not as simple as calling `eraseInDisplay([2])`

This clear function should:

- Clear the display above the line the cursor is on
- Scroll the viewport such that the cursor line is at the top

Since it's difficult/impossi

[2016-07-11 22:52] parisk commented on #151
@richarddavenport I published a preview version of the docs website, which contains the API reference. Most public methods are documented.

You can take a look at http://docs.xtermjs.org/. Hope it helps 😊 .

[2016-07-12 01:05] Tyriar opened #174 "Tilde character ~ is not displayed in terminal using Belgian keyboard layout"
_From @pierredewilde on July 9, 2016 18:30_
- VSCode Version: 1.3.0
- OS Version: Mac OS X El Capitan 10.11.5 with Belgian keyboard

Steps to Reproduce:
1. Open Integrated Terminal (`View > Integrated Terminal`)
2. Type `cd ~` + Enter

The tilde character (~) is not displayed.
`$ cd`

_Copied from original issue: Microsoft/vscode#9008_

[2016-07-12 01:05] Tyriar commented on #174
- Does it show up if you hit `~` multiple times?
- Does it actually input a `~` or skip the character (does the cursor move right when you hit `~`, what does tab completion do when you type `cd ~/`?

[2016-07-12 01:05] Tyriar commented on #174
_From @pierredewilde on July 10, 2016 4:1_

- The tilde does not appear even if hit multiple times.
- The cursor does not move. `cd ~/` is inputed as `cd /`

It is a keyboard layout issue: if I switch to the US keyboard layout, I can type `~`. On a Belgian keyboard layout, I need to type `alt+n` followed by a space to produce `~`. In the code editor, `~` appears. In the integrated terminal, `~` do

[2016-07-12 01:05] Tyriar commented on #174
_From @nih0 on July 11, 2016 8:52_

I have the same issue with a german keyboard on macOS(`OS X 10.11.1`).

- `OS X 10.11.1`
- `Version 1.3.0`

[2016-07-12 01:05] Tyriar commented on #174
Thanks, I think this is to do with lack of AltGr support (#7061). Please confirm :smiley:

[2016-07-12 01:05] Tyriar commented on #174
_From @pierredewilde on July 11, 2016 21:28_

I am using a MacBookAir with a Belgian keyboard layout:
https://support.apple.com/library/content/dam/edam/applecare/images/en_US/keyboards/belgian_keyboard.png

There is no AltGr key on Apple keyboard layout.

[2016-07-12 01:05] Tyriar commented on #174
@pierredewilde if possible, could you setup https://github.com/sourcelair/xterm.js and check to see if this reproduces in the demo? This should get it up and running easily:

[code]

[2016-07-12 01:05] Tyriar commented on #174
_From @pierredewilde on July 11, 2016 23:21_

Yep, same issue after installing and running `xterm.js`: no tilde appears.

BTW, you don't need `node <= 4`. Tested with `node 6.3.0`.

[2016-07-12 07:05] jerch commented on #173
Additionally to this idea IMHO the hard `reset` should be exposed since there are programs that tend to leave the terminal unusable. With a hard reset button it would be easy to recycle the terminal without quitting and reopen it. To fully implement `reset` on terminal side `termios` support is needed. Is that exposed by pty.js?

[2016-07-12 15:27] richarddavenport commented on #151
Wow! That's pretty awesome! @wallverb is right about the `echoti smkx` command in `oh my zsh`. That command is putting the terminal in Application Mode, which (I'm guessing here) is related to the `applicationKeypad` property. Does that sound right? I have no idea what application mode is, but it sounds important. [Line 1144](https://github.com/sourcelair/xterm.js/blob/master/src/xterm.js#L1144),

[2016-07-12 18:45] Tyriar commented on #151
Yes I'm a bit hesitant to touch it as I don't know what it does either.

[This reference doc](http://invisible-island.net/xterm/ctlseqs/ctlseqs.html) we use mentioned it here:

ing on the mode specified via the DECKPNM and DECKPAM escape sequences.
Use the NumLock key to override the application mode.

The code also mentions:

[code]

Looking into what DECPAM and DECPNM will likely lead us to an a

[2016-07-12 19:34] jerch commented on #166
It works like the autowrapping in a browser, if you resize the text will just flow around the next line and back. xterm cant do that, if you shrink the xterm terminal window the characters at the right border will be lost.

[2016-07-13 02:20] Tyriar opened #176 "Regression: Page up breaks cursor in vim"
Some time between 8790a94 (what vscode 1.3.0 shipped) and 5b44e36317f875f3e30f95ad32e108cff104208e (latest) this bug has been introduced. Running vim on a large diff, scrolling down and up using page up/down breaks the cursor line.

In this screenshot the : should be on the last line:

![image](https://cloud.githubusercontent.com/assets/2193314/16789837/a3b1faba-4865-11e6-9470-9f710e95893c.png)

[2016-07-13 05:19] jerch commented on #176
Hmm I think I didnt touch xterm.js with the PR.

[2016-07-13 05:24] Tyriar commented on #176
It doesn't repro for me in vscode at that commit anyway, perhaps it's a problem with the demo or something?

[2016-07-13 06:12] Tyriar commented on #174
I can reproduce on Ubuntu, `~~` types a single `~` and `~[space]` types a single `~`.

[2016-07-13 06:23] Tyriar commented on #174
@pierredewilde this also happens in the other programs I tried it out in? (Chromium and gedit)

[2016-07-13 06:47] pierredewilde commented on #174
It is not the case on Mac with international keyboard: `~~` types nothing and `~[space]`types a space. `~` never appears in integrated terminal.

This issue is specific to integrated terminal. It works as expected anywhere else (Terminal, Chromium, ...).

[2016-07-13 09:35] akalipetis commented on #171
We could also follow the approach of [takluyver/terminado](https://github.com/takluyver/terminado), which exchanges messages with specific commands. Also, features a Terminal creation API and I think is based on Term.js.

Alternatively, we could check if they're interested in switching to Xterm.js and then use that as a more complete demo.

[2016-07-13 09:51] akalipetis commented on #166
I believe this is caused by a misconfigured PTY @jerch (sourcelair/xterm.js#171) - could you please try this out at https://www.sourcelair.com where we make sure the PTY rows/cols are in sync with the actual Terminal and let me know if it still fails?

[2016-07-13 10:18] jerch commented on #166
Ah misunderstanding - this is no bug, it is actual a missing feature in the original xterm (not xterm.js).

[2016-07-13 12:21] parisk commented on #166
@akalipetis is right, if you resize the back-end PTY appropriately no characters should be lost.

Since this could provide a better user experience overall for the end-user, I am marking this as a feature. We can implement this when we believe that it is important.

[2016-07-13 12:32] parisk commented on #164
@tqlihuiqi opening `vim` in the demo page does not throw any errors or exceptions. When I explicitly write the NUL byte character to the terminal with `term.write('\0')` still no error or exception is being raised.

Could you please update to the latest version of the `master` branch and provide us with the following information:

1. On what OS does the back-end PTY of your xterm.js instance run?

[2016-07-13 12:38] #13 closed

[2016-07-13 13:17] jerch commented on #166
This is the behavior I am talking about:

![rewrap](https://cloud.githubusercontent.com/assets/6193135/16804573/bd72204a-490c-11e6-9a74-d8cf67d2322e.gif)

[2016-07-13 15:42] Tyriar opened #179 "Prompt no longer wraps correctly"
Filling the prompt line no longer wraps like it used to:

![image](https://cloud.githubusercontent.com/assets/2193314/16809562/9fa54100-48d5-11e6-9b5f-c265879a206e.png)

Before:

![image](https://cloud.githubusercontent.com/assets/2193314/16809596/be1b3ffe-48d5-11e6-977e-af2ea1875c23.png)

[2016-07-13 17:12] parisk commented on #169
Hi Ben, could you please checkout the `issue/169` branch (#178) and try it out? This should fix your issue.

[2016-07-13 17:18] BenHall commented on #169
Just had a very quick test but looks good to me.

[2016-07-13 17:18] parisk commented on #169
Thanks!

[2016-07-13 17:18] #169 closed

[2016-07-13 17:26] parisk commented on #179
Just checked out 637c2eae434be539a31ce222c1d53ce22a525256 and this is still the behavior. Do you have any clue of where could this got broken?

[2016-07-13 17:31] parisk opened #180 "Add a CONTRIBUTING.md file"
Add a CONTRIBUTING.md file in order to help people that would like to contribute either code, documentation or issues to xterm.js know where to start and how to do this appropriately, so as to produce the best results with the least effort.

[2016-07-13 17:34] parisk commented on #176
Just tried this with the latest version of master (13644ce35190e5bb5119e322f5f5f169ab7a1aa9) and could not reproduce.

[2016-07-13 17:34] Tyriar opened #181 "ctrl+up/down don't scroll in zsh"
1. Launch xterm with bash
2. Open zsh
3. ctrl+up/down scroll history, not scroll

[2016-07-13 17:36] parisk commented on #181
Could this be a duplicate of #151?

[2016-07-13 17:37] Tyriar commented on #179
Nothing I can think of off the top of my head.

[2016-07-13 17:38] Tyriar commented on #181
I don't think ctrl+up/down is routed to the mouse wheel handler so probably not.

[2016-07-13 19:49] adminIBMiOSS opened #182 "newbie question - please help"
Good afternoon,

Hope you can point me in the right direction - I don’t want to develop with xterm.js, I simply want to use it as a node app locally.

I’m trying to fire up your xterm.js using npm/node on my mac.  I’m not very confident of all this; and I’m not getting it to work as expected.  I believe I have it installed but when I try to start it, I get errors like this:

Bills-MacBook-Pro:~ bg

[2016-07-13 22:26] Tyriar opened #183 "State official browser support in README"
Recommended for v1.0 milestone, here's what the sourcelair documentation says:

- Chrome	48+
- Firefox	44+
- Safari	8+
- Internet Explorer	11+
- Opera	35+

Having this will also make it easier in the future to tell why a particular version is required as you can check the commit in which they were bumped.

[2016-07-14 00:38] PhilippeAssis opened #185 "Copy & paste"
To paste is CTRL + SHIFT + V Ok.
But how to copy ?!

[2016-07-14 02:56] protasenko commented on #157
Hi @parisk, just cloned latest source and started demo app.js. Your `echo` test didn't show bold word. Now if I modify index.html like so: `<body style="font-family: 'courier new'">...` then the bold text shows as expected (assuming 'courier new' is installed on the system of course).
This goes to show the fact that isBoldBroken() test is done at the wrong DOM node `document.body`, whereas it shou

[2016-07-14 05:38] Tyriar commented on #185
Only <kbd>ctrl</kbd>+<kbd>ins</kbd> copies text currently.

This is a duplicate of https://github.com/sourcelair/xterm.js/issues/118

[2016-07-15 15:39] richarddavenport commented on #151
Xterm.js scrolling with oh my zsh now works, with [this branch](https://github.com/apjanke/oh-my-zsh/tree/ditch-smkx)

[2016-07-15 18:53] Tyriar commented on #77
[hterm](https://chromium.googlesource.com/apps/libapps/+/HEAD/hterm) handles the scrollbar really well but only had the currently displayed viewport in the DOM. We should see how they implement it.

[2016-07-15 18:53] Tyriar commented on #69
[hterm](https://chromium.googlesource.com/apps/libapps/+/HEAD/hterm) handles this really well but only has the currently displayed viewport in the DOM. We should see how they implement it.

[2016-07-15 18:54] Tyriar commented on #77
https://chromium.googlesource.com/apps/libapps/+/HEAD/hterm/js/hterm_scrollport.js

[2016-07-16 20:15] rohangulati commented on #173
I think this option is already available on bash with `Ctrl+l` shortcut and works with xterms.js.

[2016-07-16 20:29] Tyriar commented on #173
@rohangulati I want a function available externally so I can setup a ⌘K keybinding for Mac and allow users to customize it.

[2016-07-17 07:44] rohangulati commented on #173
@Tyriar : Can build a wrapper function to capture the clear keyboard event and internally delegate clearing to `bash`?  Additionally, can we expose a functionality to allow users to customise all `bash` shortcuts

[2016-07-17 15:48] #183 closed

[2016-07-17 18:55] apjanke commented on #151
Hi. Found this thread from the related bug on Oh My Zsh.

I think DECPAM and DECPNM are just typos for DECKPAM and DECKPNM. The mnemonics are "DEC KeyPad Application Mode" and "DEC KeyPad Normal Mode".

Application keypad modes change what character sequences the cursor keypad and/or numeric keypad keys send in response to key presses. There are two (or more) distinct keypad modes which can be set

[2016-07-17 19:46] Tyriar commented on #173
Soe are just how bash reacts to key sequences which shouldn't be changed. Anything custom though should be able to get custom handled via https://github.com/sourcelair/xterm.js/pull/186 after it lands.

[2016-07-18 08:32] parisk commented on #180
Closed in #190.

[2016-07-18 08:32] #180 closed

[2016-07-19 17:02] Tyriar opened #193 "ctrl+left/right doesn't work correctly in vim"
ctrl+left doesn't jump over words and ctrl+right erases everything to the right of the cursor

## Details
- Browser and browser version: Chrome 51
- OS version: Ubuntu 16.04
- xterm.js version: https://github.com/sourcelair/xterm.js/commit/dc17f0d02e65f06a67ea80236aee17575e501a36

### Steps to reproduce

1. Type the following:
[code]

  ![image](https://cloud.githubusercontent.com/assets/2193314/1

[2016-07-19 17:26] Tyriar commented on #151
I believe this is the same root cause as why scrolling doesn't work in vim which also sets `DECKPAM`.

[2016-07-19 17:48] Tyriar opened #194 "Refactor, encapsulate and test VT escape sequence logic"
Preferably after #158, the key sequence logic should be largely re-implemented to be better documented, organized, more complete and tested. This effort will fix many issues such as #151, #145, #193, etc.

[2016-07-19 17:51] Tyriar commented on #182
Can you try with latest and do a fresh clone/install to see if it still occurs? Also what version of node are you running with?

[2016-07-19 18:08] jerch commented on #151
Following xterm's [mouse spec](http://invisible-island.net/xterm/ctlseqs/ctlseqs.html#h2-Mouse-Tracking) the mouse actions dont't get modified by DECKPAM or DECKPNM. Does anyone know why we have the `if (self.applicationKeypad) return;` in the mouse scroll handler at all?

[2016-07-19 18:08] Tyriar opened #195 "Proposal: Change name to xtermjs without the ."
The presence of the `.` introduces some issues:

- No `.`'s in GitHub organization names https://github.com/xtermjs
- No `.`'s in web pages, as we can't own xterm.js.org (js.org)
- Referring to the module in JavaScript/TypeScript etc must be done in quotes

[2016-07-19 18:14] Tyriar commented on #151
@jerch yeah I'm beginning to think that too, there's a bunch of reading I want to do in #194 to finally fix these sorts of issues.

[2016-07-19 18:42] jerch opened #197 "Proposal: adopt semantic versioning rules and postpone 1.0.0 release"
Semantic versioning is a great way for peeps to get an idea of the state of some piece of software. Since xterm.js will have some impact in the node and browser world Im suggesting to adopt rules from semantic versioning to give the audience a chance to catch the actual state of xterm.js and its development.

To phrase it differently - is xterm.js ready for a 1.0.0. release yet?

I have to admit t

[2016-07-19 19:12] Tyriar commented on #197
v1 doesn't necessarily mean everything is amazing. If anything a v1 release would *enable* semantic versioning to do what it does which would be helpful for consumers as the API will not get any *breaking* changes until there is another major version bump. Before v1, API breakages are disregarded as the API is seen as unstable, meaning consumers need to lock against the patch version, not the mino

[2016-07-19 20:01] jerch commented on #197
I guess I just got the bad cop role and I dont like it but - I see the following changes ahead that might break the API since they are somewhat fundamental:
- separate DOM related stuff (input handling + presentation) from inner state handling
- separate parsing/tokenizing from emulator state handling
- maybe more changes to the inner state handling to get a more comprehensible testable emulator m

[2016-07-19 20:20] Tyriar commented on #197
I wouldn't necessarily think those 3 things would break the API though? The main `Terminal` object would just hook into the newly refactored parts.

[2016-07-19 20:22] jerch commented on #193
xterm uses a bit map to handle <kbd>shift</kbd>, <kbd>alt</kbd> and <kbd>ctrl</kbd> status. See [here](http://invisible-island.net/xterm/ctlseqs/ctlseqs.html#h2-Alt-and-Meta-Keys)...

[2016-07-19 20:32] jerch commented on #197
...ah yes from an outer perspective xterm.js is IMO mature enough to hide those changes behind some abstraction

[2016-07-19 21:21] jerch commented on #171
Hmm no clue which path to take here, IMO the problem can be reduced to the question if the websocket is solely used as a transport layer for the pty pipe or if it can transport any emulator related data. The latter would require to introduce some structured data layer over the websocket while the first would need to establish a side communication with the backend (and some type of emulator lock un

[2016-07-20 01:06] vincentwoo opened #198 "It would be cool if xterm.js described its mission or distinguishing features"
There's beginning to be a bunch of JS terminal emulators in active development and use, in addition to this one. Notably,

* [Hyperterm](https://hyperterm.org/) with [hterm](https://chromium.googlesource.com/apps/libapps/+/master/hterm) underneath. I don't know too much about hterm.
* [term.js](https://github.com/chjj/term.js/), which xterm.js is based on.
* [terminal.js](https://github.com/Gottox

[2016-07-20 04:50] Tyriar commented on #198
I agree, it would be good to have some more detail in the README. Here are some of my thoughts on the topic, in no particular order:

- xterm.js succeeds term.js, pushing it forward as the original author no longer has the time to maintain term.js
- The current use case being focused on is editor integration as the two main products integrating it are VS Code and SourceLair
- To be clear: hterm is

[2016-07-20 08:13] parisk commented on #198
This is a great idea @vincentwoo, thanks for proposing! I am putting this into the `1.1.0` milestone, which is set for release approximately one month after the `1.0.0` release.

All of @Tyriar's comments about xterm.js are true. In addition we should mention that xterm.js is a self contained library. This means that it has no external dependencies, thus it is lighter and easier to integrate. Whil

[2016-07-20 08:16] parisk commented on #171
I think we should stick with the websocket serving as a transport layer only as well. This way we are able to test the **attach** addon also, through the demo and it will keep the transmission throughput to the maximum with the current means.

[2016-07-20 08:28] parisk commented on #197
Thanks for your proposal @jerch. While there is much space for improvement in xterm.js, this does not mean that we should backtrack on the 1.0 release (which has already been released btw).

I will stick mostly on the goal that you set on this issue:

Do you believe that a "Project status" section in the readme explaining the current status of the project, how versioning works, release cycles etc.

[2016-07-20 08:34] parisk commented on #195
I think that if xterm.js is importable as `xterm` (which is the case if it is being installed through npm; https://npmjs.org/xterm) we will have no further issues with it.

Also, this way it will behave exactly like React.js

https://github.com/reactjs

We own xtermjs.org (as React owns reactjs.org which redirects to its GitHub page)

Referring to it as plain `xterm` should solve the issue as well

[2016-07-20 08:42] akalipetis commented on #171
Btw, @jerch given that Xterm.js supports add-ons, we could create this implementation as a separate add-on which users could use. This way, we can keep the core functionality of the project here which should cover most of the use cases.

Creating such as add-on with the attach add-on as a reference should not be that hard.

[2016-07-20 08:43] parisk commented on #193
Unfortunately I won't have access to a Linux machine until tomorrow to try this out and <kbd>Ctrl</kbd> + <kbd>←</kbd>/<kbd>→</kbd> won't work here as they are used by host.

It would help if you could provide us with the code sent by xterm.js when hitting <kbd>Ctrl</kbd> + <kbd>←</kbd> in plain bash, compared with the code in Vim (which should have `applicationKeypad` set to true).

[2016-07-20 09:03] parisk commented on #151
I think I have some more input to provide here.

@apjanke this won't work and should not work actually. This particular event handler is there to allow scrolling in simple text mode applications like bash, which have `applicationKeypad` set to `false` (btw. sounds quite helpful to document this better).

In addition, even if we removed this it would result in a `term.scrollDisp(1)` call, which wou

[2016-07-20 09:15] parisk commented on #69
We could mimic the way https://github.com/codemirror/codemirror does it. This could also help with #77.

[2016-07-20 09:16] #185 closed

[2016-07-20 09:19] parisk commented on #157
Thanks @protasenko for the info. I am not sure what midnight commander is actually. Could you provide some more information about it and how it is being used along with xterm.js?

Maybe we should remove the `isBoldBroken` method. It is quite hacky and I believe that bold handling should be isolated into the presentation layer (CSS).

[2016-07-20 11:40] jerch commented on #193
The modifier state will be added to the escape sequence as the second parameter (right before the final character) like this:
<kbd>←</kbd> --> CSI D (normal mode with bash) or SS3 D (application mode with vim)
<kbd>Ctrl</kbd>+<kbd>←</kbd>--> CSI 1;5 D
<kbd>Shift</kbd>+<kbd>←</kbd>--> CSI 1;2 D
There is no normal/application mode distinction with a pressed modifier key, they are all sent with CSI.

[2016-07-20 12:22] jerch commented on #197
Oops didnt notice...

[2016-07-20 13:28] adminIBMiOSS commented on #182
Thanks - I tried again with v1.0.0 and had some problems.  I had to do a separate npm install of express, express-ws, pty.js and node-gyp.  My version of node is 4.4.5

It now looks like it is working - cheers!

[2016-07-20 13:30] parisk commented on #182
Node 4 is the preferred version to work, since it's the current LTS version.

👍  that it worked out eventually.

[2016-07-20 13:30] #182 closed

[2016-07-20 15:31] richarddavenport commented on #151
@parisk Yes, it is working without any change to xterm.js.

[2016-07-20 18:04] jerch commented on #193
These are the arrow key sequences (xterm treats <kbd>home</kbd> and <kbd>end</kbd> as arrow keys):

[code]

[2016-07-20 19:10] apjanke commented on #151
Shouldn't this behavior be just a function of the mouse tracking mode, Alternate Screen, and Alternate Scroll modes, and not the numeric/cursor Application Keypad modes? OP is using `zsh`, which is more like `bash` than like `vim`: it's a simple text application that uses the main screen and which does not provide its own scrolling support, so it relies on the terminal to do scrolling. But some of

[2016-07-20 19:20] apjanke commented on #181
It does look related to #151 and keypad cursor modes. Check out the xterm.js code for [handling the up and down cursor keys](https://github.com/sourcelair/xterm.js/blob/dc17f0d02e65f06a67ea80236aee17575e501a36/src/xterm.js#L2646-L2657).

[code]

The application-mode check is done first, and does an early return. The test for the Ctrl key is effectively inside the "normal keypad mode" branch of the

[2016-07-20 19:30] apjanke opened #199 "Home/End send same sequence in application and normal keypad mode?"
Home and End are sending the application-mode character sequence under both normal and application keypad modes.

## Details

- Browser and browser version: Firefox 47.0
- OS version: OS X 10.10.5
- xterm.js version: Commit dc17f0d02e65f06a67ea80236aee17575e501a36

It looks like the Home and End keys are [coded to send the same character sequence in both normal and application keypad mode](https:/

[2016-07-21 00:17] jerch commented on #151
@parisk I second that - why should a keyboard mode settings interfere at all with the mouse behavior? The official xterm spec does not mention any of this, therefore implementing an xterm compatible model should not have such a limitation. Do I miss something here?

[2016-07-21 10:51] jerch commented on #199
@apjanke Thanks for spotting it. Addressed this in #200.

[2016-07-21 10:58] jerch commented on #181
Maybe fixed with #200, cant test it myself.

[2016-07-21 12:00] #193 closed

[2016-07-21 12:00] #199 closed

[2016-07-22 08:50] #124 closed

[2016-07-22 08:57] parisk opened #202 "Right-click paste does not work"
Right-click paste does not work. This regression was caused after #175, since we moved input handling to a textarea instead of xterm itself.

## Proposals
This could be solved in the following two ways (additional ideas are always welcome though)

1. Temporarily move the textarea element below the mouse cursor on right click (https://github.com/sourcelair/xterm.js/pull/175#issuecomment-233876524).

[2016-07-22 09:43] parisk commented on #181
@Tyriar could you please test this out, since we merged #200?

[2016-07-22 10:02] jerch commented on #176
Just stumbled over this as well in the demo. It might be related to the missing resizing of the underlying pty (#171).
Behavior: vim fills up all rows down to the bottom when moving the cursor downwards. As soon as you move upwards the ":" cursor jumps to line 25 which is the bottom line of the pty leaving stuff below messed up.

[2016-07-22 12:21] #118 closed

[2016-07-22 14:50] BenHall opened #204 "Line Wrapping"
When entering long commands, the line wraps and cuts off. This makes it harder to read and update what's happening. With iTerm etc it wraps onto a second line.

Is it possible to have it wrapping onto a second line instead of overriding?

[2016-07-22 17:14] jerch commented on #204
Thanks @BenHall. This is most likely a duplicate of #171.

[2016-07-22 20:04] jerch commented on #171
Although all downvoted the websocket protocol idea (including myself), [here](https://github.com/jerch/xterm.js/commit/533c9761a833453fb5d29305adb5da2d08fbeb0a) is a quick hack with it (was just easier to implement partly hardcoded :wink:). The impact on the throughput is to my own surprise neglectable.

[2016-07-22 22:45] Tyriar opened #205 "shift+page up/page down event should be handled and then canceled"
## Details
- Browser and browser version: Chrome
- OS version: Ubuntu 16.04
- xterm.js version: https://github.com/sourcelair/xterm.js/commit/65b2be78315e0c83defb7d8358eb0282a18024a0

### Steps to reproduce

1. Launch demo
2. Fill viewport
3. Hit shift+page up, notice that it pages up but the Chrome browser tab is rearranged

[2016-07-22 22:48] Tyriar commented on #181
Ctrl+up outputs `;5A` and doesn't scroll, page down outputs `;5B` and doesn't scroll. This is consistent with zsh under `gnome-terminal` so closing as fixed. Note that the scrolling situation is still bad, ctrl+shift+page up/down outputs `;6A` and `6B` with no scroll.

[2016-07-22 22:48] #181 closed

[2016-07-22 23:57] jerch commented on #181
Just installed zsh with and omz and can't reproduce it. I get the following on Ubuntu 14 with my laptop keyboard (same behavior/output for xterm and xterm.js-demo):
<kbd>Shift</kbd>+<kbd>Ctrl</kbd>+<kbd>PageUp</kbd> --> jump scroll up
<kbd>Shift</kbd>+<kbd>Ctrl</kbd>+<kbd>PageDown</kbd> --> jump scroll down
<kbd>Shift</kbd>+<kbd>Ctrl</kbd>+<kbd>ArrowUp</kbd> --> A
<kbd>Shift</kbd>+<kbd>Ctrl</kbd>+

[2016-07-23 01:33] apjanke commented on #181
OMZ may change the behavior, because it defines additional key bindings which are not present in default `zsh`. Depending on what plugins you have loaded, it may add bindings for the Ctrl-Up and Ctrl-down character sequences.

Design decision. Many terminal emulators and OSes "capture" some modified cursor key strokes and map them to scrolling or other navigation instead of passing them to the pty

[2016-07-23 05:55] Tyriar commented on #181
ctrl+shift+(most things) seems to be ignored by xterm as they are the only keybindings in vscode that seem to work when the focus is on the integrated terminal.

I'm thinking ctrl+shift+arrow should be handled by xterm.js, not the pty as @apjanke suggests.

[2016-07-23 07:45] jerch commented on #181
Still not clear, why ctrl+shift+page up/down outputs ;6A and 6B for you. Seems the browser engine triggers the wrong keycode. Can you check the keycodes for ctrl+shift+page up/down with your keyboard? Do you have some keymapping active on X11 level?

[2016-07-23 21:21] vincentwoo commented on #198
Thanks for the responses. Another thing I think could be interesting to say is that xterm might get a lot more eyeballs on it because of its exposure in VS Code. I'm not sure what the relative popularity is like, but it seems like a relevant bit.

[2016-07-24 21:16] Tyriar commented on #181
[code]

[2016-07-24 22:48] systemroot opened #206 "Can i connect a server remotly?"
Can i install this in one server, And from this server to connect to a diferent server "remotly" ?
Not to login automatically, The Person Which Will use will login with username and password.
For example.
![](http://image.prntscr.com/image/64dc028e19ef443eaf85e2e229b8df65.png)

## Details
- Browser and browser version:  Chrome Latest.
- OS version: Ubuntu 14.04 (Main)
- xterm.js version: Latest.

[2016-07-25 06:20] akalipetis commented on #206
Hey @systemroot - you can install it in the way you say, but you will need to configure the Node server to have the logic you describe.

For example, you can replace the `bash` command with something like `ssh user@example.com`, where `example.com` is the server you'd like to access. Then, the user should enter her password to gain SSH access to your remote server.

Please make sure you check any

[2016-07-25 15:14] systemroot commented on #206
@akalipetis  Thank You :+1:

[2016-07-25 15:14] #206 closed

[2016-07-25 21:12] Tyriar opened #207 "Implement virtual selection"
Handling selection manually, rather than relying on native web selection, will fix a bunch of issues that are introduced by the input helper text area, such as #68, #69 as well as:

- Double clicking on the prompt line being flaky due to focus shifting from `.xterm` to the text area.
- Double clicking on a URL/path to highlight the whole path (ie. don't use `/` and similar chars as separators)
- S

[2016-07-25 21:13] Tyriar commented on #143
This has been fixed since adding the text area back in #175

[2016-07-25 21:13] #143 closed

[2016-07-26 10:42] parisk commented on #207
Great. Adding this to the milestone for the next release.

[2016-07-26 23:54] Tyriar opened #208 "The terminal IME composition view appears on top of the text when at the bottom of the screen"
Using ibus Japanese IME, notice the view appears on top of the second character that is being composed.

![image](https://cloud.githubusercontent.com/assets/2193314/17159369/86dda7c6-5351-11e6-87ee-5c8f4c46337c.png)

## Details
- Browser and browser version: Chrome
- OS version: Ubuntu 16.04
- xterm.js version: 65b2be7

[2016-07-27 12:12] jerch commented on #181
How about making this customizable?

[2016-07-27 17:26] Tyriar commented on #181
Much easier to accomplish now that https://github.com/sourcelair/xterm.js/pull/186 is implemented

[2016-07-28 17:59] Tyriar opened #209 "Textarea is positioned near the cursor even when the composition is not active"
See https://github.com/Microsoft/vscode/issues/9747 for context.

[2016-07-29 13:24] ksnyde commented on #151
What's the easiest "work-around" available before this is addressed a more verbose manner?

[2016-07-29 15:41] Tyriar commented on #151
@ksnyde this is probably the easiest: https://github.com/Microsoft/vscode/issues/7817#issuecomment-229069151. I haven't tried it personally though.

[2016-07-29 18:46] apjanke commented on #151
Unfortunately, that will break other key bindings which depend on `zle_line_init`. You may or may not use those key bindings, so it may or may not matter to you.

There's an open OMZ PR I put in to [drop the `zle_line_init`/`[sr]mkx` dependency and stick with normal keypad mode](https://github.com/robbyrussell/oh-my-zsh/pull/5113), and which seems likely to be accepted. If you run that locally, or

[2016-07-29 18:59] apjanke commented on #151
Minor difference, but this is not quite true: in xterm, at least some versions of it, if you run `vim`, it switches to the alternate screen, but you can still scroll back and see earlier contents of the buffer (as long as the buffer has more than a screen of content), as long as you have not enabled mouse event handling in `vim`. If you `:set mouse=a` in `vim`, then it will receive mouse events, a

[2016-07-29 20:03] Tyriar opened #211 "Allow demo terminal to be resized"
It's difficult to test resize behavior on the demo without resorting to running code in the developer tools.

[2016-08-01 08:29] parisk commented on #211
Just to clarify this; this proposal is about making terminal resizeable with drag and drop like functionality, right?

[2016-08-01 08:35] #209 closed

[2016-08-01 16:37] Tyriar commented on #211
Either resizing with the window or using a slider/text box to control cols/rows. Just some means to call into `resize` without running the console would be nice.

[2016-08-01 17:17] unixwitch opened #212 "resize() doesn't call setupStops()"
When the terminal is resized with resize(), and the new size is wider, setupStops() isn't called, which means any tabs past the old width of the terminal will result in broken output.
## Details
- Browser and browser version: Firefox 47.0
- OS version: Fedora 23
- xterm.js version: d2cef6f
### Steps to reproduce
1. Create an 80x24 terminal.
2. Call resize() to change it to 170x24.
3. `printf 'foo

[2016-08-02 09:29] parisk commented on #212
Hi @ftarnell, thanks for reporting. Investigating this.

[2016-08-02 09:43] parisk commented on #212
@ftarnell could you please try this using the patch attached at #213 to see if it solves this issue?

https://github.com/sourcelair/xterm.js/pull/213/commits/abeff89f9a5134b1695a599cd89fa3301d6317a5.

[2016-08-02 17:52] Tyriar commented on #77
I'm going to work on this as part of vscode 1.5.0, the current rough plan/approach is:

- Detect row height and set `height` and `line-height` explicitly on `.xterm-rows` (will resolve #149)
- Wrap `.xterm-rows` in a `.xterm-viewport` element which has `overflow-y: scroll`
- Create an `.xterm-scroll-area` element which sizes based on the total number of rows in the buffer, this will be invisible b

[2016-08-03 14:32] parisk commented on #77
Sounds 👍 . What is the purpose of `.xterm-scroll-area` element though? Will it be used for the displaying of the scroll bar?

[2016-08-03 16:47] Tyriar commented on #77
@parisk yes, it's a large element that's programmatically sized and is used for the scrollbar. After playing with this implementation I ended up getting it working but needed to pull `.xterm-rows` out of `.xterm-viewport`, otherwise every refresh would recall the scroll method. That made it very difficult to handle the 3 scroll cases; wheel, drag and drop scroll bar and up/down arrows.

I'll proba

[2016-08-03 16:49] Tyriar commented on #158
I suggest webpack ([prototype here](https://github.com/sourcelair/xterm.js/pull/196)) as I've used it before and it does exactly what we want (bundles several files into 1 using `require()`). I've also barely touched the surface of its capabilities as well and it's very popular.

[2016-08-03 17:29] Tyriar opened #215 "ctrl+shift+up/down no longer scrolls bash on Linux"
/cc @jerch (https://github.com/sourcelair/xterm.js/pull/200)

## Details
- Browser and browser version: Chrome v52
- OS version: Ubuntu 16.04
- xterm.js version: 65b2be7

### Steps to reproduce

1. ctrl+shift+up should scroll up 1 line
2. ctrl+shift+up should scroll down 1 line

[2016-08-03 18:00] Tyriar opened #216 "Viewport should only scroll down on input, not when the pty writes"
Similar to `gnome-terminal`, if the user is scrolling up to look at past output and the currently running program adds output to the terminal, the viewport should not scroll and interrupt what they are looking at.
## Details
- Browser and browser version: Chrome 52
- OS version: Ubuntu 16.04
- xterm.js version: d2cef6f29db8e4e47b82000f8415b849a7756728
### Steps to reproduce
1. Run `while [ "true"

[2016-08-03 20:40] Tyriar opened #217 "Running vim in demo is not filling to the resized viewport"
Run vim and you can see that it seems bound to the original 80x24 viewport even after it has been resized.

![image](https://cloud.githubusercontent.com/assets/2193314/17381251/e0d1b8b0-597f-11e6-9768-a6dbd3298f92.png)

## Details
- Browser and browser version: Chrome 52, Firefox 47
- OS version: Ubuntu 16.04
- xterm.js version: d2cef6f29db8e4e47b82000f8415b849a7756728

### Steps to reproduce

1.

[2016-08-04 09:15] parisk commented on #198
@vincentwoo could you please take a look at the attached patches at #219? It should clarify things a little bit hopefully 😊 .

[2016-08-04 10:07] #198 closed

[2016-08-04 15:42] ftarnell commented on #212
Unfortunately that doesn't fix the problem, it just makes it break in a different way:

![20160804154114-9nrj5e](https://cloud.githubusercontent.com/assets/185952/17408265/6e324322-5a62-11e6-801b-988e2988c278.png)

[2016-08-08 08:54] jerch commented on #215
@Tyriar I can add this behavior back to xterm.js - since it is not xterm compatible I'd like ask first if all agree to it.

[2016-08-08 08:59] jerch commented on #216
This is maybe another candidate for a customisation setting as it is in xterm.

[2016-08-08 09:13] jerch commented on #151
Thanks for clarification @apjanke - to fully mimick xterm's behavior the handling of the scroll buffer and DECSET has to be reviewed first IMO.

[2016-08-08 12:28] #197 closed

[2016-08-08 12:33] Tyriar commented on #215
@jerch if that's true then maybe it can just be added manually by calling `scrollDisp` inside `attachCustomKeydownHandler`? I want to add some documentation at some point to explain the power of that function.

[2016-08-08 13:25] parisk commented on #215
If this behavior is not xterm compatible, I think we should close this issue and leave it up to vendors to implement with custom key bindings.

On OS X (where the terminal claims to be xterm) <kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>↑</kbd>/<kbd>↓</kbd> do not scroll bash as well.

[2016-08-08 13:26] #215 closed

[2016-08-08 13:35] #217 closed

[2016-08-08 13:35] #171 closed

[2016-08-08 13:35] #211 closed

[2016-08-08 19:52] #77 closed

[2016-08-08 19:52] #149 closed

[2016-08-12 14:30] Tyriar opened #225 "Integrated Terminal Option+Arrow no longer jumps words"
_From @bfsmith on August 9, 2016 20:29_
- VSCode Version: 1.4
- OS Version: OSX 10.11.4

Steps to Reproduce:
1. Open Integrated Terminal
2. Use Option/Alt+Left Arrow or Option+Right Arrow

Expected: Cursor moves forward and back words.
Actual: Prints character codes to the terminal line (;3D;3C) for Option+Left, Option+Right

This works as expected in VSCode 1.3.1.

_Copied from original issue: Mi

[2016-08-12 14:30] Tyriar commented on #225
@bfsmith could you try repro this on https://github.com/sourcelair/xterm.js ?

[2016-08-12 14:30] Tyriar commented on #225
_From @bfsmith on August 12, 2016 14:21_

It repro's there as well.

[2016-08-12 14:30] Tyriar commented on #225
@bfsmith thanks for checking, I'm going to move the issue over there.

[2016-08-12 18:44] kontsevoy opened #227 "Spontaneous line wrap in the middle of shell prompt"
This issue has originally been [reported here](https://github.com/gravitational/teleport/issues/496#issuecomment-239423452) for Teleprot project which uses term.js

We have verified that it's not related to anything on the server.

### Details

Sometimes when I'm connected to a server via the WebUI the server prompt starts to jump.
Video:
https://www.youtube.com/watch?v=Tx5EGXDXjUk&feature=youtu.b

[2016-08-12 18:51] Tyriar commented on #227
Can you reproduce on the xterm.js demo? It looks like it's related to the blinking cursor, you may have styles that change `.terminal-cursor` or something?

[2016-08-12 19:08] kontsevoy commented on #227
We (Teleport team) so far were unable to reproduce (do not have access to the server&laptop of the person who've reported it). But yes - we're trying and we'll continue trying, including your suggestion. :-) Reporting here just in case you guys have seen this or have suggestions to reproduce.

[2016-08-12 19:18] Tyriar commented on #227
Also if you use chjj/term.js and not xterm.js we may not be able to help. The codebase has diverged quite a bit at this point around row/col logic with the introduction of IME support and scroll bars.

[2016-08-13 01:44] kontsevoy commented on #227
@Tyriar yep, we're re-vendoring to the latest ASAP. Thanks.

[2016-08-14 15:15] meefik opened #229 "Wrong restore a cursor position in Midnight Commander"
Midnight Commander send two command for save a cursor positon:
1. ESC 7 (DECSC)
   https://github.com/sourcelair/xterm.js/blob/b32a34b97c71539d86c5df5871b40397dc04fcf0/src/xterm.js#L2052
   xterm.js received a position X and Y correctly.
2. CSI s (ANSI.SYS)
   https://github.com/sourcelair/xterm.js/blob/b32a34b97c71539d86c5df5871b40397dc04fcf0/src/xterm.js#L2430
   xterm.js received a position X a

[2016-08-17 10:31] parisk commented on #229
Are there any chances that this got fixed after #231?

[2016-08-17 10:43] meefik commented on #229
No, it is not associated. I fixed this, comment out the two lines:
https://github.com/sourcelair/xterm.js/blob/b32a34b97c71539d86c5df5871b40397dc04fcf0/src/xterm.js#L2430
https://github.com/sourcelair/xterm.js/blob/b32a34b97c71539d86c5df5871b40397dc04fcf0/src/xterm.js#L2436
But I don't know what impact these changes will have.

[2016-08-17 15:50] #208 closed

[2016-08-18 02:20] thomasjm commented on #145
I think I have an example of this affecting a real user... I'm using zsh in xterm.js. On a blank line, I type `emacs` and then hit tab to trigger tab completion. The backend responds with this on the websocket:

[code]

When xterm.js renders this, the string at the cursor instantly turns into `ememacs`, and if I backspace 5 times I can't delete the `em` -- hitting backspace a lot makes the cursor

[2016-08-18 18:27] Tyriar opened #233 "Cursor appears on top of IME composition view"
On master

![image](https://cloud.githubusercontent.com/assets/2193314/17785707/b750c48c-6536-11e6-8716-38841a461fda.png)

[2016-08-19 04:28] JasinYip commented on #164
I have the same problem on our project. Opening `vim` does not throw any errors before I press some keys like `j`.

[2016-08-19 19:50] Tyriar opened #235 "Entering application mode with a large buffer will scroll to the top of the buffer temporarily"
This is happening due to the reduction of the scroll bar when entering application mode but the scrollTop event is still going off.

See https://github.com/Microsoft/vscode/issues/10685 for original report.

[2016-08-19 20:39] Tyriar commented on #158
Another option is [TypeScript](https://www.typescriptlang.org/) which I've become quite fond of after working on vscode. This would allow multiple files to be built into one and provide type safety which would promote code quality (especially good since unit tests are patchy).

[2016-08-20 06:23] ayapi commented on #151
@Tyriar , please teach me why 1b886a44 is needed.
you just want to hide a vertical scrollbar?
i observed xterm's behavior on linux for a little while, i thought that 1b886a44 should be dropped.

[2016-08-21 07:58] #235 closed

[2016-08-22 13:07] parisk commented on #158
I think that plain ES6 or TypeScript are more suitable for this. Webpack seems to be more of an overkill at this moment.

The most important thing that we have to take into account is how are going to ship the code here. This most probably will introduce breaking changes (especially for Bower users), since we will need to find a way to ship the built artifacts to keep this library working in the b

[2016-08-22 13:14] #233 closed

[2016-08-22 13:43] parisk opened #239 "Wrong sequence on alt + arrow"
Pressing Alt + any arrow prints a character, instead of moving word backwards/forward etc.

**Example**: The terminal sends the `\x1b[1;3D` sequence, instead of `\x1bb` or `\x1b[5D` on <kbd>Alt</kbd> + <kbd>←</kbd> (which seem to do the work).

## Details
- Browser and browser version: Chrome 52 on OS X
- OS version: OS X El Capitan
- xterm.js version: 4c3ccc264c52c3860c796d8ffc8bad2ecd2f6e23

###

[2016-08-22 14:28] #239 closed

[2016-08-22 19:18] Tyriar commented on #158
When using bower most projects with a build system add the built files to a dist directory and those are the ones you link to. It would introduce a breakage though so v2 would be appropriate.

[2016-08-22 20:05] Tyriar opened #241 "Add documentation section on how to make use of the custom keydown handler"

[2016-08-22 20:09] rgl opened #242 "Scroll stops working after running vim"
## Details
- Browser and browser version: Chrome 52.0.2743.116 (64-bit)
- OS version: OSX 10.11.6
- xterm.js version: master (01c20807c255911174289a015ed79a986c25dfae) I guess its 1.1.2.

### Steps to reproduce

1. Make sure there is scrollable content on the terminal (e.g. run `dmesg`).
2. Make sure you can scroll the text using normal mouse wheel scrolling.
3. Start and quit `vim`.
4. Realize yo

[2016-08-22 23:59] Tyriar commented on #242
Did you actually repro this in master? Something similar was meant to be fixed in https://github.com/sourcelair/xterm.js/commit/588d3b12e0db560fa58a1238efc878695f8d4f1b

[2016-08-23 04:45] rgl commented on #242
Yes, I did (as you can see from the revision I've linked). But that fix seems to be disabling scrolling when in application mode. What I'm reporting is that scrolling is not re-enabled after exiting that mode.

So, maybe this is happening because `isApplicationMode` is being set when entering the application mode, but its not unset when leaving it?

[2016-08-23 08:32] jerch commented on #158
+1 for using Typescript. No clue about the current state of ES6 support, I think generators are still at an early stage in some JS engines and therefore not usable yet.

[2016-08-23 15:46] Tyriar commented on #158
I'll assign myself to put together a TypeScript prototype.

[2016-08-23 16:53] Tyriar commented on #242
Put out a PR that I think should fix this.

[2016-08-23 17:34] 131 commented on #158
May i suggest you start with ES6 & Babel ? Leveraging typescript is a good thing, yet, it will come with a price.

Having an es6 project will allow your user to just "var Terminal = require('xterm')" and use the raw source code (browserify will work just fine)". When with typescript, you'll have a different file for the build and the source of your application.

May i help here ?

[2016-08-23 17:39] Tyriar commented on #158
Sourcemaps gets around that if needed though, the type safety is the main benefit imo.

[2016-08-23 17:52] 131 commented on #158
This is not about the sourcemap, but having no "build" step required for thoses who just use browserify (ES6 is already supported in most modern browser)

[2016-08-23 18:16] yuvipanda opened #244 "Publish v1.1.2 to npm"
Hello! Awesome work on v1.1.2, looking forward to trying out the IME support :) However, it hasn't been published to npm yet - last version there is 1.0. Do you know if it is maintained as part of the release process, or maintained separately? Would be awesome to have them published as they are tagged!

Thanks for your work!

[2016-08-23 19:53] Tyriar commented on #158
@131 due to bower we would likely be committing the compiled version to a `dist` or `out` directory.

[2016-08-23 19:54] 131 commented on #158
of course !

[2016-08-23 19:56] 131 commented on #158
Of course, is it ok for me to give a try to a es6 version ? (i played a little)

[2016-08-23 20:26] jerch commented on #158
The most promising changes in ES6 cannot be polyfilled by babel - the iterator/generator/comprehension concepts. Downvote for the vanilla ES6 idea, because of the current state of ES6 in commonly used JS engines. And still hoping for some optional type annotations in some later JS versions...

[2016-08-23 21:42] 131 commented on #158
Babel support for generator is complete (babel preset es2015) and works perfectly with with [co](https://github.com), yet, current code do not gain much of those.

I've a branch ongoing https://github.com/sourcelair/xterm.js/pull/245

As i'v ditched fetch, no promise are left for now (so it's hard to do a demo of generators), but if you want, i can easily set up a working version with generator &

[2016-08-23 22:52] parisk commented on #244
@yuvipanda thanks for reporting this. Some 💩  happened because of a mistake I did during the release.

Version ❗ **[1.1.3](https://www.npmjs.com/package/xterm/1.1.3)**❗ is available at npm now 😊.

[2016-08-23 22:52] #244 closed

[2016-08-23 23:30] parisk commented on #158
Okay, so let me contribute to this.

First of all let's agree that in version **2.0** (after we migrate to either option):

1. the public API for importing this library will break
2. we will ship a browser-ready monolith for the core and browser-ready files for the add-ons

These are prerequisite to make usage of this library as easy as possible.

Next, let me answer to as many comments as I can:

[2016-08-24 01:07] 131 commented on #158
I'v updated my PR, with a working /dist/ folder (with a working client side demo in it, no server required). , please look at the [repository tree](https://github.com/131/xterm.js/tree/es6_remap)  (the PR is not so nice to read). Addons are also available.

npm run start for server side demo is also working.

Regarding @parisk, for 1: the public API for importing this library will break
We can sti

[2016-08-24 04:07] Tyriar commented on #158
On addons, I think they should be split out to other repos in the xtermjs org, this makes including them easier (install the dep and require it), promotes separation and makes them more clear examples on how to write an addon.

[2016-08-24 21:13] Tyriar commented on #158
Having said that, they currently use private APIs so if this was the case we should expose public APIs that enable them to do this sort of stuff.

[2016-08-24 21:13] Tyriar commented on #158
TypeScript PR is up at https://github.com/sourcelair/xterm.js/pull/247

[2016-08-25 09:39] jerch commented on #158
Ah well, my info about the generator support of babel seems to be outdated. Why I came up with it - generators as coroutines are a nice way to work with streamline data. This technique is often used for code separation in Python. (I think the generators in ES6 are heavy influenced by Python.)

xterm.js could benefit from this by splitting the Terminal object into pieces of responsibilities. Especi

[2016-08-25 11:19] 131 commented on #158
Hi @jerch, thanks to your advices, i'm willing to give a try, i'll get back to you soon

[2016-08-25 11:54] jerch commented on #158
@131 Oh ok, this will be a major rewrite of `Terminal.write` and is somewhat offtopic here, since it addresses a specific rewrite idea and not the build system in particular. Maybe a v2.0 rewrite issue is needed to track all the leftover ideas - there are already a few which need more then small patches.

[2016-08-25 12:45] jerch opened #248 "[proposal] v2.0.0 goals"
This is just a quick collection of ideas that popped up in older issues and might be worth targeting with a 2.0.0 release. Some of them are fundamental and need a proper design decision.
Up for discussion - feel free to add other ideas or edit the list.

- [ ] decision on basic development languages / env
  - logic
    - vanilla ECMA5
    - vanilla ES6
    - TypeScript
    - others?
  - CSS
    -

[2016-08-25 16:54] Tyriar commented on #248
I think the rewriting should be done slowly over time, not necessarily commit to "rewrite the code base" for v2.0.0. A large portion of the code is quite a mess right now and we certainly shouldn't rush any refactors.

[2016-08-25 17:00] Tyriar commented on #248
Part of my thinking here is that master should always be shippable, I say this largely because vscode doesn't currently ship a tagged release but an arbitrary commit. So the longer xterm.js goes without a release the more risk is associated with the vscode terminal essentially. Also it gets plenty of testings via vscode so frequent smaller releases are possible (and shipping often is good).

[2016-08-25 17:59] ayapi commented on #248
+1 to vanilla js and native css 'cause i hope xterm.js to be standard :)

[2016-08-26 01:15] parisk opened #250 "Move the addons directory into src"
By moving the `addons` directory into `src` users will be able to load addons with relative URLs much more intuitively than using the [`loadAddon`](https://github.com/sourcelair/xterm.js/blob/243ce59806349d12001ab4edb125eeae7df30f19/src/xterm.js#L1073) method.

This could help with #247 and #245.

[2016-08-26 05:28] ayapi commented on #239
@parisk
i think it should implement with `customKeydownHandler` on userland.
the reason why is, we can't use each keymaps properly under 8324b43.
for example, my personal config in Vim is,
<kbd>ctrl+left/right</kbd> back/forward word
<kbd>alt+arrow</kbd> move cursor between splitted windows
however, now, i can't use <kbd>alt+arrow</kbd> for move windows...

[2016-08-26 05:45] Tyriar commented on #239
Yeah I agree. It's [pretty easy to hook up a handler](https://github.com/Microsoft/vscode/blob/77e9c0bcc674114eaffd2e51caec2d1fd7fd5e42/src/vs/workbench/parts/terminal/electron-browser/terminalInstance.ts#L70) if you want it in Sourcelair. We could even consider allowing multiple handlers and putting this in an addon, or an option?

[2016-08-26 07:10] 131 commented on #250
I dropped the loadAddon and proposed a new API for loading in #245 , maybe this will be acceptable for you ?

[2016-08-26 09:16] parisk commented on #248
It would be better if we didn't see **2.0** as a "big release" but just as an API breakage point, because we have to split the core into multiple files (#158).

I would restrain on adding any other goals in this release. I agree with @Tyriar that rewrites should happen slowly and gradually and I will add that everything we do has to be purposeful.

For example, we should switch to a CSS preprocess

[2016-08-26 12:16] parisk commented on #158
Interesting discussion happens also at codemirror/CodeMirror#4200.

[2016-08-26 12:29] 131 commented on #158
Yep, i dont use defaut export too.
Also, code modularisation is what all this is about, i'v renamed my PR "ES6 remap" to "ES6 modularisation" also :smile:

[2016-08-27 05:34] adrianheine commented on #158
We use rollup for building, and plan to use buble for ES6 transpiling.

[2016-08-27 09:21] parisk commented on #158
Hi @adrianheine, I saw that your PR in CodeMirror 👍 . Great job.

Rollup worked amazingly well, except for the testing part. I couldn't find a way to make it work with Mocha and I didn't want to use different transpilers (rollup and babel) for output and tests.

Any ideas?

[2016-08-29 07:21] jerch commented on #248
Closing the issue since it doesn't fit the versioning strategy.

[2016-08-29 07:21] #248 closed

[2016-08-29 22:59] #158 closed

[2016-08-29 23:10] Tyriar opened #253 "Move Viewport into module"

[2016-08-29 23:10] Tyriar opened #254 "Move CompositionHelper into module"

[2016-08-29 23:49] #253 closed

[2016-08-31 12:56] ebertmi opened #258 "Add Information about Webpack usage in the Readme or Docs"
For webpack users it may be difficult to get xterm running with **es6 modules**. Most libraries use prebuild files on npm that do not need transpiling.
Additionally, a lot of webpack configs in the `internet` exclude the `node_modules` from transpiling, which results in errors with pure es6 modules.

Maybe drop a hint for webpack config like this:

Remove the `exclude` rule for `node_modules` and

[2016-08-31 14:49] parisk commented on #258
Hi @waywaaard es6 modules are not included in a release yet. They will be included in **2.0**, which needs a few things yet to be implemented and it will include transpiled files in the `dist` directory.

A PR including documentation for using with Webpack in the README file would be more than welcome 😊 .

[2016-08-31 17:34] #254 closed

[2016-08-31 17:40] #242 closed

[2016-08-31 22:20] Tyriar commented on #195
Closing, it's good as is

[2016-08-31 22:20] #195 closed

[2016-08-31 22:26] Tyriar opened #259 "Strange column behavior in bash"
@rebornix was able to reproduce this strange behavior:

![image](https://cloud.githubusercontent.com/assets/2193314/18148497/c613893e-6f8e-11e6-8fa9-04e3a99a5ea5.png)
## Details
- Browser and browser version: Within vscode v1.5.0 Insiders
- OS version: OSX
- xterm.js version: 220828f
### Steps to reproduce
1. Run `ls`

Notice the 4th column (`Pictures`) is being pushed way out to the right. Inspec

[2016-09-02 05:02] olalonde opened #260 "Feature request: export React component"
Would be really useful if xterm.js would export a React component for easily embedding in React apps. It could just be a simple wrapper around the existing code.

[2016-09-02 06:30] waywaaard commented on #258
I guess, then we should wait until the es6 modules are ready and then I can make a PR.

[2016-09-02 08:55] #48 closed

[2016-09-02 08:56] parisk commented on #47
We laid the ground for this in #251 and the first modules have already been extracted. Closing.

[2016-09-02 08:56] #47 closed

[2016-09-02 08:58] parisk commented on #260
This is really a really interesting scenario. We try to keep xterm.js as self-contained and lightweight as possible, since it has already enough of functionality and complexity in it.

I think though that creating an xtermjs/xterm-react repository and an xterm-react npm module hat would just wrap xterm.js in a React component could do the job. How does that sound?

[2016-09-02 15:37] olalonde commented on #260
That would be great :)

[2016-09-03 06:07] staticfloat opened #262 "Terminado backend"
Hello there, I'm coming here from [term.js](https://github.com/chjj/term.js), and I'm a little confused as to how to get this working with my [terminado](https://github.com/takluyver/terminado) backend.  Is such a thing even possible, or do I need to rewrite my backend to use `node.js` instead of python?  I'm having trouble finding any documentation on how the backend works or what it's compatible

[2016-09-03 07:50] waywaaard commented on #262
Basically, you just need to hook your streams/events from the websockets to the xterm. You can also use https://github.com/sourcelair/xterm.js/tree/master/addons/attach to let xterm.js automatically work with the websockets.

If you are looking for the old `terminal.pipe()` function, then you need to roll your own.

[2016-09-03 10:22] parisk commented on #262
**tl;dr: yes, you can.**

Hi @staticfloat, xterm.js is totally agnostic over the "transport protocol" or the back-end technology so you can definitely use it with terminado.

If terminado exchanges a stream of bare terminal data you can use the attach add-on as @waywaaard proposed.

If terminado exchanges encapsulated data (e.g. `{"data": "a"}`), then you will have to program the front-end to send

[2016-09-04 07:38] akalipetis commented on #259
Hey @Tyriar, I tried to reproduce but couldn't on VSCode 1.4.0 (same specs as the one reported).

Is there a way to get the 1.5.0 Insiders to test there as well?

[2016-09-05 02:01] Tyriar commented on #259
You can grab the Insiders build at http://code.visualstudio.com/insiders

[2016-09-05 10:15] akalipetis commented on #259
Thanks @Tyriar - I can confirm this happens but after changing the terminal height, this stops happening. I guess that's an initialization issue in VSCode and not an Xterm.js issue. Could you please check?

[2016-09-05 13:43] parisk commented on #225
Shouldn't this be fixed after #240?

[2016-09-05 16:01] Tyriar commented on #259
@akalipetis I inspected it the DOM and it seems like way too many `&nbsp;`'s are being created which make the awkward column sizes. Regardless of terminal dimensions, should the columns be spaced evenly?

[2016-09-05 18:30] akalipetis commented on #259
Yes, they should be spaced evenly. They should take this from the initial geometry, which might be problematic in such case. Could you please try doing a `xterm.fit()` after the terminal is initialized? This should fix the issue.

[2016-09-06 13:47] #204 closed

[2016-09-06 17:52] Tyriar opened #264 "Allow custom xterm keybindings to be turned off by consumers (and provide APIs for them)"
As per https://github.com/sourcelair/xterm.js/issues/239#issuecomment-242633928 I think things like alt+arrow to jump words should be able to be turned off (or be off by default).

It does make sense for this stuff to be integrated into xterm.js so it works as most people would expect out of the box. However, in vscode for example, I would prefer if alt+arrow for example was routed to vscode's key

[2016-09-06 17:52] Tyriar commented on #225
Yeah should be. I created #264 which outlines my new thoughts on this.

[2016-09-06 21:53] Tyriar opened #265 "Holding down a key only sends a single key on Mac"
Original issue: https://github.com/Microsoft/vscode/issues/10398
Does not reproduce on Ubuntu 16.04
## Details
- Browser and browser version: vscode/electron (Chrome v49)
- OS version: OS X
- xterm.js version: 220828f
### Steps to reproduce
1. `npm start`
2. Focus terminal and hold the <kbd>a</kbd> key, only a single character is added to the prompt

[2016-09-07 22:14] Tyriar commented on #265
Oh apparently this is standard across Mac applications

[2016-09-08 18:08] parisk commented on #262
@staticfloat did the above answer help you? Should I move forward with closing this?

[2016-09-08 18:10] parisk commented on #265
Yep, that's true. Even on native text areas in browser.

We could create an add-on though to handle this, since the native terminal on OS X sends repeated keypress events.

[2016-09-08 18:12] parisk commented on #264
I am 👍  on this. I think one good thing we could do is create an API which is compatible with the `inputrc` format: http://www.securitronlinux.com/mint_linux/using-the-inputrc-file-to-control-keybindings-in-xterm/.

This could provide great experience with the user's customization's available out-of-the-box, when xterm.js is wrapped in native applications like vscode.

[2016-09-08 18:16] Tyriar commented on #264
Yeah I need to check out what's in my `.inputrc` and what if anything is done via `gnome-terminal`.

[2016-09-09 10:03] #262 closed

[2016-09-13 16:01] parisk commented on #259
@Tyriar did you give a try to `fit` after terminal initialization? Does this fix the issue?

[2016-09-13 20:44] Tyriar commented on #259
I haven't had time to look at this, we don't use the fit addon to do this though, this is what vscode does https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/parts/terminal/electron-browser/terminalInstance.ts#L306

[2016-09-14 04:08] Tyriar opened #266 "Allow xterm.js to exist and receive/send data before it's attached to the DOM"
In v1.6 of VS Code the newly introduced Terminal API will allow processes to exist before the actual terminal panel/element is created. While this is currently possible, xterm cannot be initialized until the element exists, which means the output before the element is attached is lost. It would be good if everything was functional only no rendering took place until `open` is invoked.

[2016-09-14 08:08] staticfloat commented on #262
Sorry I was slow about this guys, I don't have much time to play around with this, so my progress has been slow.

I did get this working, thank you all for your help!  I had to learn a little bit about Javascript to do so, but that's hardly the worst thing in the world.  :)

In case you're curious, the necessary pieces to talk to the Python `terminado` backend are [here](https://github.com/staticf

[2016-09-15 14:38] parisk commented on #262
Awesome 👍 ! Happy you sorted that out. The solution seems indeed straightforward.

[2016-09-15 14:43] parisk commented on #266
Sounds legit. Would it make sense to export the renderer into its own module for this?

[2016-09-15 15:46] Tyriar commented on #266
Ideally, not sure how difficult that is right now

[2016-09-15 20:49] Tyriar opened #267 "Clicking and holding the left mouse button on another element, dragging to xterm.js and releasing will incorrectly focus xterm.js"
Originally filed: https://github.com/Microsoft/vscode/issues/11825

## Details
- Browser and browser version: vscode
- OS version: Ubuntu 16.04
- xterm.js version: 220828f

### Steps to reproduce

1. `npm start`
2. Open demo
3. Click and hold on "Rows" text box
4. Drag mouse to xterm and release

[2016-09-15 23:32] Tyriar opened #270 "I now need to fork to use an arbitrary commit in vscode"
After the babel change I now can no longer require xterm.js into vscode as it complains about import.

[code]

Not sure if this is because we're using import incorrectly or maybe it's just not supported by our module loader.

Regardless, after https://github.com/sourcelair/xterm.js/pull/269 is applied, I then need to manually run `npm i && npm run build` in order to require xterm.js. So I'm going

[2016-09-16 00:07] Tyriar opened #271 "Come up with API for changing settings after initialization"
Currently there are issues (https://github.com/Microsoft/vscode/issues/11049) when changing settings during runtime since the terminal gets "reset" when application mode is entered and exited. Reset uses `term.options[settingKey]` whereas the actual setting used is `term[key]`. Changing a setting requires both of these to be set.

Current:

[code]

Proposed:

[code]

Requesting feedback from @pari

[2016-09-16 03:57] Tyriar commented on #270
Just put this fork together and it seems to work fine https://github.com/Tyriar/xterm.js/tree/vscode-release/1.6

[2016-09-16 06:53] waywaaard commented on #270
I guess you need to transpile the source in order to use it in vscode. VSCode transpiles the TypeScript too, right? Maybe you need to include the xterm source files, so that they get transpiled.

[2016-09-16 06:58] parisk commented on #270
From what I can see in Microsoft/TypeScript#1983, TypeScript should be supporting ES6 Modules out of the box. I took a quick look into vscode's codealso and found out you are using the `require('module')` function though in most cases, so not sure what might be causing this.

Considering a solution. What we could do is:

1. draft weekly releases from master
2. draft a release from every PR merged

[2016-09-16 07:01] parisk commented on #271
👍  `xterm.setOption('key', `value`)` sounds great.

Also sounds like a good idea to deprecate `xterm.cursorBlink` and other top-level options and force them all to be under the `options` namespace. What do you think?

[2016-09-16 07:04] waywaaard commented on #270
I am not keen on the idea of those many releases. If you want to use the repository and not the *compiled*  version from npm, then you should be responsible of compiling yourself.

See #258

[2016-09-16 08:23] #267 closed

[2016-09-16 08:26] Tyriar commented on #271
@parisk can you elaborate a little on what you mean by options namespace? Specifically how do you set "default" options to be applied to all terminals created and how do you set options specific to terminal (my proposal?)?

[2016-09-16 08:36] parisk commented on #271
Sure. In order to avoid bike shedding and getting out of scope though, let me state first:

**I am totally 👍  for your implementation proposal**.

Now in addition to that, let me explain

Let's take for example the `blink` option. I propose making it available only at `term.options.blink` and not `term.blink` (where `term` is a `Terminal` instance).

We can have a `Terminal._defaultOptions` static

[2016-09-16 08:37] Tyriar commented on #270
A release on every PR is a little intense :sweat_smile: weekly/fortnightly might be good though, that could be frequent enough (at least when I've been active) to not need to use my fork most of the time. Sometimes it may not be possible though, currently we have an API breakage for example so we need to be sure that everything's all good before committing. It isn't actually that much hassle synci

[2016-09-16 08:39] Tyriar commented on #271
K, just making sure we are forward thinking :smile:

[2016-09-16 09:17] #271 closed

[2016-09-17 07:59] Tyriar opened #273 "IME helper is always 1 step behind the character, which makes the first character very broken"
Related to https://github.com/Microsoft/vscode/issues/11334

The first character shows the IME helper off screen.

![image](https://cloud.githubusercontent.com/assets/2193314/18606868/cb22372e-7c70-11e6-9b00-4930d18e5c70.png)

The second character shows it where it should be on the first character.

![image](https://cloud.githubusercontent.com/assets/2193314/18606902/df03c0b8-7c71-11e6-94b9-eff261

[2016-09-17 07:59] Tyriar commented on #273
@parisk was there anything I'm missing on why the textarea helper was kept off screen?

[2016-09-17 08:19] Tyriar commented on #202
This could be fixed by the solution suggested in https://github.com/sourcelair/xterm.js/issues/273, and maybe resizing the textarea on mousedown or redirecting the event to that element?

[2016-09-17 08:20] Tyriar commented on #176
Pretty sure this is fixed.

[2016-09-17 08:20] #176 closed

[2016-09-17 11:11] #173 closed

[2016-09-17 11:51] Tyriar opened #277 "Define a strict public API"
Before going v2.0.0 we should lock down the API and explicitly state what is public and what is private. Right now many of the functions are included in the [API doc site](http://docs.xtermjs.org/) but are actually private, some examples: `blankLine`, `bind*`, `cursor*`, ...

Not doing so makes it harder to know what you're meant to call in to as an embedder, harder to use, more likely to use priv

[2016-09-17 11:56] Tyriar commented on #156
I don't think there's any benefit keeping this open anymore since it's just a general "add more tests" issue, we've been steadily adding tests as we touch things and through PRs and will continue to do so. If there is a particular area in need of tests then a specific issue can be filed on that. Thanks for helping push this along @jerch

[2016-09-17 11:56] #156 closed

[2016-09-17 11:57] Tyriar commented on #116
We no longer use `contenteditable` so this is fixed

[2016-09-17 11:57] #116 closed

[2016-09-17 11:58] Tyriar commented on #72
Closing since I did the IME work recently and we all don't know enough about Hindi to verify correct behavior :smile:

[2016-09-17 11:58] #72 closed

[2016-09-17 11:59] Tyriar commented on #152
This duplicates https://github.com/sourcelair/xterm.js/issues/118

[2016-09-17 11:59] #152 closed

[2016-09-17 12:01] Tyriar commented on #170
https://github.com/sourcelair/xterm.js/issues/118 fixes this

[2016-09-17 12:01] #170 closed

[2016-09-18 18:11] parisk commented on #277
I am 👍  with this.

IMO we should start with a strict public API as small as possible. This will let us maintain backwards compatibility of it, without losing flexibility when messing with the rest of the methods.

We can then introduce new public methods on an as-needed basis afterwards.

So my initial proposal for the public API are the following methods:

## `Terminal.prototype`

- `blur`
- `cl

[2016-09-18 19:41] parisk commented on #202
Wouldn't this break the copy event then, since there will be no selection?

[2016-09-18 20:49] #205 closed

[2016-09-18 20:51] Tyriar commented on #277
One thing that's always bugged me with refresh is if no area are specified it should work on the viewport.

[2016-09-18 21:22] Tyriar commented on #202
Yeah needs to be thought through a bit, I know it would work with electron but copying is a bit more restrictive without node apis.

[2016-09-18 22:01] Tyriar commented on #277
Here are all the calls vscode uses currently:

[code]

[2016-09-18 22:03] Tyriar commented on #277
Adopting an `_` prefix for private members would make this very clear in the code what is private and what is public.

[2016-09-18 22:25] Tyriar commented on #277
Something else that should be considered is #266. `open(HTMLElement)` could become `open(HTMLElement?)` and then have an additional `attachToDom(HTMLElement)` method.

It might be worth rethinking and simplifying initialization as part of 2.0.0, Is there any reason for the `open` not being rolled into the constructor for example?

[2016-09-19 01:50] Tyriar commented on #270
Closing this off, we'll finalize the details before we release 2.0.0 but I'm fine syncing the fork for vscode, it's fairly easy to do. Mainly just wanted to bring it to everyone's attention.

[2016-09-19 01:50] #270 closed

[2016-09-19 07:30] serjN opened #278 "After teminal.reset() scrollbar doesn't reset"
## Details
- Browser and browser version: ALL
- OS version: ALL
- xterm.js version: 1.1.3

### Steps to reproduce

1. Type text till scrollbar appears
2. Execute terminal.reset()
3. Scrollbar doesn't reset

P.S. To reset the scrollbar after terminal.reset() I use terminal.scrollDisp(-1);

[2016-09-19 07:57] mqliang opened #279 "ZModem support?"
support ZModem so that we could receive/send files using lrzsz? Does this sounds interesting?

[2016-09-19 10:49] parisk commented on #277
I completely forgot the `on`/`off` event "handlers" and the `attachCustomKeydownHandler`.

`scrollDisp` could make it for a public API, but IMO we should change it's name to something more intuitive.

I think that the best thing for now would be to just document the Public API clearly into a fresh `docs.xtermjs.org`. Renaming all functions at the moment is really error prone. We can do that increm

[2016-09-19 10:51] parisk commented on #277
Also we can JSDoc all private methods as [`@private`](http://usejsdoc.org/tags-private.html), which is totally safe.

Last, I propose replacing the following:

- `cursorBlink`
- `element`
- `textarea`

with:

- `getOption('cursorBlink')`
- `getElement()`
- `getTextarea()`

which are more verbose, but at the same time more explicit and not editable (so consumers are less likely to mess things up)

[2016-09-19 14:43] Tyriar commented on #277
@parisk more intuitive init logic could be:

[code]

or

[code]

[2016-09-19 14:46] waywaaard commented on #277
What should happen when `attachToElement(HTMLElement);` gets called more than once and maybe on different elements?

[2016-09-19 14:47] Tyriar commented on #277
@waywaaard probably throw and exception

[2016-09-19 14:53] Tyriar commented on #277
For completeness maybe, can't think of a use case for it though.

[2016-09-19 22:07] Tyriar opened #280 "Refresh limit system makes performance bad on Windows"
The integrated terminal in VS Code has a performance issue on Windows outlined here https://github.com/Microsoft/vscode/issues/10328#issuecomment-248116656, @codec-abc suggests it's due to the limit system in the refresh function:

[code]
## Details
- Browser and browser version: vscode v1.6/electron
- OS version: Windows 10
- xterm.js version: https://github.com/sourcelair/xterm.js/commit/3c9d8b0

[2016-09-20 07:36] codec-abc commented on #280
This may be not totally related but do you think the refresh frequency could be dynamic ? Because I think it would be better for the user experience to have a default 60 fps refresh rate. The terminal will probably feel more responsive.

[2016-09-20 08:33] parisk commented on #279
Could you please get into some more details on how this would work on xterm.js?

[2016-09-20 09:08] TaiAivaras opened #281 "SIGINT signal"
Hello,

Sorry if this is a stupid question, but how would i go about sending SIGINT signal to a terminal instance programmatically?

Thanks

[2016-09-20 10:04] jerch commented on #280
@codec-abc 60fps is unrealistic for high output programs. High output means many changes of the DOM which increases the penalty for the reflow. Sticking to 60fps would therefore slow down the output flow.
@Tyriar I suggest to bind the the refresh to an animation frame to avoid cancelled reflows:
`requestAnimationFrame(function() {self.refresh(start, end, false);});`
(maybe in combination with `set

[2016-09-20 10:16] mqliang commented on #279
I use xterm.js to connect to a bash(a full-feature bash) and let user interact with the bash. I'd like support user to upload/download file through web terminal by using rz/sz.

[2016-09-20 10:20] mqliang commented on #279
If I connect to a machine' shell with SecureCRT/Xshell, I can upload/download files with `rz`/`sz` command. Id like use zterm.js to connect to a machine's shell, and upload/download files with `rz`/`sz` command

[2016-09-20 10:31] jerch commented on #279
Zmodem is a protocol feature of is the underlying serial line abstraction of the PTY system. This is already usable with tools like `zssh` in xterm.js. xterm.js itself is just forwarding the master IO of the PTY to the browser. In reality you are operating on the system where the xterm.js server part is hosted.

This is quite different to a terminal emulator operating on the same machine like Secu

[2016-09-20 10:59] jerch commented on #281
I guess you want to send SIGINT to the slave foreground program. For unaltered default termios settings sending Ctrl-C does the trick which is `term.send('\x03')` (see [termios settings](https://linux.die.net/man/3/termios) and [control codes](https://en.wikipedia.org/wiki/C0_and_C1_control_codes)).

[2016-09-20 11:40] TaiAivaras commented on #281
Thanks, that worked nicely. I was also having another unrelated issue, maybe you have an idea? When using demo app from this repo, after some time of terminal being open - terminal seems to automatically detach and close the session.  Any idea what's the cause of this? How could i avoid it?

[2016-09-20 11:50] jerch commented on #281
Do you access the demo locally or from a browser on a different machine? No clue what could cause this, I've never seen that with the demo app (tested only locally). Even after hours of sitting unused it is still working. Do the logs (server and browser) give any hints? My only guess is a faulty network link (Any drops? Switching IPs?) between browser and server part, if you do it remotely.

[2016-09-20 11:56] TaiAivaras commented on #281
Yea, i'm accessing it from remote machine, with nginx IPv6 reverse proxy. From what i can see in the logs - it's a clean exit on the serverside, websocket closing on the clientside.

[2016-09-20 12:05] jerch commented on #281
How far do you get with your setup, is the websocket upgraded correctly? (You should get at least some prompt output and be able to type something.) Maybe try changing the `proxy_read_timeout`?

[2016-09-20 12:11] TaiAivaras commented on #281
I got the terminal working all the way - eveything is fully functional, just having this issue. After ~10 min of being open terminals detach. In this case i had 2 xterm terminal instances open and both websockets emit close event:
![image](https://cloud.githubusercontent.com/assets/10296742/18669614/7d03b73a-7f44-11e6-901d-6e512e315a61.png)

i'll try and play around with config settings.

[2016-09-20 23:24] iMoses commented on #260
I would really like to work on that but I found a few issues with adjusting the code without making it too patchy. The problem is that xtem.js relays heavily on interactions with the DOM, so separating the view logic is extremely difficult.

I'd like to make a feature request to separate the logic and DOM handling in a way that will allow different components to take over rendering. I suggest some

[2016-09-21 03:00] mqliang commented on #279
[code]

I'd like to move files from local machine to remote machine. The remote machine can not be accessed by local machine directly, since it has no external ip.

[2016-09-21 05:03] Tyriar commented on #260
@iMoses we've been slowly trying to modularise the code, the ability to move modules out of the main file was only just added. Here is a related issue which also calls for this separation: https://github.com/sourcelair/xterm.js/issues/266

Starting with viewport to keep the different manageable sounds good 👍

[2016-09-21 07:53] parisk commented on #277
🆗  I will leave the constructor as-is until we decide on something. I propose merging `.open` into the constructor, unless we have a use case for not doing so.

I will start documenting at `docs.xtermjs.org` the rest of the methods mentioned here as the Public API for v2.

[2016-09-21 07:54] #281 closed

[2016-09-21 09:23] jerch commented on #279
Well you can use zssh (with zmodem support), sftp or scp from the proxy.

Unless someone implements it there is no way to up/download files directly from the webterminal in your browser to the remote machine. One of the modem protocols could be used that way (there is a XModem JS implementation), but since the browser has very limited filesystem access I question the usefulness. The hard part woul

[2016-09-22 14:47] TaiAivaras opened #284 "Paste programatically"
Hey,

Got one more question, i can paste into terminal using [Shift-Insert], but how would i go about executing this command programatically?

Thanks

[2016-09-23 09:43] #279 closed

[2016-09-23 17:16] parisk commented on #284
Pasting is not possible in browsers, especially without a user action (like a keypress or a click) as you can't access the keyboard.

You should be able to do this in Electron apps (like Visual Studio Code) though normally. Just fetch the terminal and write the contents to the terminal using the [`write`](http://docs.xtermjs.org/module-xterm_src_xterm.html#write) method.

Does this cover your case

[2016-09-23 17:38] TaiAivaras commented on #284
Not exactly.. as i said in browser xterm terminal paste from clipboard works fine using [Shift+Insert] keys, i was wondering how to send that same exact signal to terminal programatically.

[2016-09-25 07:43] Tyriar opened #286 "Consider changing the scroll bar to show and work when in app mode"
I've seen a few issues relating to oh-my-zsh and powershell (https://github.com/Microsoft/vscode/issues/12532) that break scrolling unnecessarily. I originally implemented this because I didn't think it made sense to keep it there while in vim but have since backtracked my thinking and realized that `gnome-terminal` which is the other terminal I use frequently doesn't even do this.

[2016-09-25 08:42] Tyriar commented on #277
@parisk on scorll, scrolling pages and the entire buffer would also be good to expose, this would be needed to allow consumers to customize keybindings, so something like:

[code]

or

[code]

[2016-09-25 09:28] Tyriar commented on #151
@ayapi that commit is being reverted in https://github.com/sourcelair/xterm.js/pull/287

I don't think it will help this problem though, the scroll bar will still be disabled in oh my zsh.

[2016-09-25 09:44] #278 closed

[2016-09-25 11:01] apjanke commented on #151
FWIW, I think this is a case of Xterm.js deviating from normal xterm behavior, and is not Oh My Zsh's problem, and this bug should be closed. If OMZ does provide a compatibility shim for it, it should be confined to a plugin.

[2016-09-25 11:18] Tyriar commented on #151
@apjanke so you agree with the PR I just put up? #289

[2016-09-25 11:44] #286 closed

[2016-09-25 11:44] #151 closed

[2016-09-25 13:04] apjanke commented on #151
Yes, I agree with https://github.com/sourcelair/xterm.js/pull/289. "Application mode" as discussed here is just a keypad mode switch; mouse behavior should be unaffected by it, so wheel events should be allowed.

[2016-09-26 18:32] Tyriar opened #290 "Viewport.refresh seems to be triggered on every line of input"
Putting a breakpoint in `Viewport.refresh` and running `ll` will trigger hit the breakpoint many times. Perhaps this could be reduced to trigger on a page of input instead of a line?

Related: #280

[2016-09-26 20:29] Tyriar opened #291 "The scroll bar goes out of sync if the terminal is detached and reattached to the DOM"
This came through as a bug in vscode (https://github.com/Microsoft/vscode/issues/12574) as the panel system detaches and reattaches when the panel is toggled (for performance reasons). Until there is an official way of doing this it can be worked around using private APIs by manually triggering the `scroll` event:

[code]
## Details
- Browser and browser version: vscode/electron
- OS version: Ubun

[2016-09-26 22:58] ayapi commented on #264
hmmm...? Xterm reads .inputrc? from my understanding, .inputrc is for Readline, not related to Xterm.
i thought .Xresources ( `XTerm.VT100.translations: #override` ) is suitable for this issue.
like this -> http://unix.stackexchange.com/questions/138501/keybinding-in-xterm-to-shift-one-line-up-using-shiftup

[2016-09-27 06:52] Arvinzhu commented on #212
how to use  resize()  change the  the  terminal   size ?

[2016-09-27 10:18] ManojkumarV opened #292 "Alternative keyboard shortcuts for copy and paste"
Right now copy and paste is done using Ctrl+Insert and Shift+Insert shortcut keys.
I need to achieve copy using Ctrl+Shift+C and paste using Ctrl+Shift+V.
How to achieve this functionality.

[2016-09-28 01:28] Tyriar commented on #280
Far too long is spent in `Viewport.syncScrollArea`:

![image](https://cloud.githubusercontent.com/assets/2193314/18897555/213a9fd0-84e0-11e6-9c3e-affd5245307a.png)

[2016-09-28 12:19] jerch commented on #280
@Tyriar I think this due to the fact that `syncScrollArea` is bound to the scroll-event of the terminal, which is likely to be triggered several times in `term.write`.
The bad runtime is mostly caused by forced reflows by accessing `getBoundingClientRect` and `this.viewportElement.scrollTop` in `syncScrollArea`.

I append a small patch which reduces `getBoundingClientRect` calls and avoids `scroll

[2016-09-28 14:22] parisk commented on #292
Hi @ManojkumarV Ctrl + Shift + C and Ctrl + Shift + V should be working without issues. Over which version of xterm.js did you test this?

[2016-09-28 14:44] ManojkumarV commented on #292
Hi @parisk Ctrl + Shift + C is opening web inspector since it is the default shortcut for web inspector. The selected text is not getting copied. I need to copy the selected text if the focus is on the terminal.
Also Ctrl + Shift + V is pasting the copied text only in Chrome browser and is not working in firefox.
I tested in version 1.1.3. And I used Ubuntu OS to test.

[2016-09-28 14:49] Tyriar commented on #292
@parisk I don't think ctrl+shift+c ever worked for the web client, ctrl+shift+v works however.. I needed to implement this using `attachCustomKeydownHandler` in vscode.

At some point all these custom shortcuts should be pulled out and easily disabled/enabled.

[2016-09-29 08:16] parisk commented on #292
Yes, it would be really handy if we decoupled keyboard shortcuts at some point.

@ManojkumarV what you could do for now is attach a custom keydown hadnler like @Tyriar indicated and use `execCommand` to copy on Ctrl + Shift + C.

This should do the work (tried and worked for me):

[code]

[2016-09-29 08:24] parisk commented on #277
Let's leave additional functionality outside for now. The smallest the API is the easier is to maintain.  Let's support more methods on an as-needed basis.

The first version of the public API is documented at xtermjs/xtermjs.org#1 and exposes only a few methods of the `Terminal` constructor.

It can be previewed at https://d8q3uus5.apps.lair.io/docs/api/Terminal/.

[2016-09-29 08:25] parisk commented on #207
Removed this from the milestone as most important reason for this to be there was the right-click copy/paste regression, which is addressed now in #293 without virtual selection.

[2016-09-29 08:34] parisk commented on #284
I don't think that this can be implemented easily. You should be able to use [`execCommand`](https://developer.mozilla.org/en/docs/Web/API/Document/execCommand) here, but I know that it's tough to get it working with paste.

From what I have read, it needs additional permissions from the user. If you manage to trigger the `paste` command, this should do the job for you.

[2016-09-29 08:36] parisk commented on #264
It was just a proposal to understand the syntax. X resources seems more suitable though.

[2016-09-29 08:44] parisk commented on #260
Continuing the discussion from #285 as it is more suitable I think.

@iMoses can you tell which methods of the core module make it difficult for you to implement the react component?

Maybe the best thing would be branch only these out in their own module(s).

[2016-09-29 08:46] parisk commented on #212
Hi @Arvinzhu you can take a look in the demo code https://github.com/sourcelair/xterm.js/blob/master/demo/main.js#L16.

If your question does not have to do directly though with tackling this issue (**resize() doesn't call setupStops()**), please open up a new issue to continue the discussion 😊 .

[2016-09-29 08:53] parisk commented on #273
Totally missed this. No @Tyriar the only reason it is kept off-screen is to make it completely invisible, so if we can achieve this by keeping the textarea in-sync, then 👍 .

I took a look at how CodeMirror handles this and it seems that it keeps the textarea in-sync as well:

![image](https://cloud.githubusercontent.com/assets/1188592/18947331/5b370a78-863b-11e6-8cba-b269d45d22bc.png)

[2016-09-29 10:19] iMoses commented on #260
Not everything in this list is difficult to work with, for example if I don't use the `open` method then other problematic method won't be triggered, but I still believe they should be separated into a different module. Most of what I'll list here can be found in my pull-request in the Interface.js file.

Anything in Viewport and CompositionHelper, but that's obvious :)

From the xterm.js file the

[2016-09-29 11:04] ManojkumarV commented on #292
@parisk Thanks for the solution. Now copy works fine. But Ctrl + Shift + V works only in chrome browsers. But its not working in firefox. Is there any way to work around the same in all browsers?

[2016-09-29 11:15] TDaglis commented on #292
If I recall correctly, Ctrl + Shift + V does not work in Firefox because it is sometimes used by plugins like Adblock plus

[2016-09-29 12:17] parisk commented on #292
Also, it's really hard to paste programmatically in a browser. It seems you need extra permissions: https://github.com/sourcelair/xterm.js/issues/284#issuecomment-250404517.

Should we move forward and close this?

[2016-09-29 12:24] ManojkumarV commented on #292
@parisk Thanks. I'll close this issue

[2016-09-29 12:24] #292 closed

[2016-09-29 12:33] TaiAivaras commented on #284
Alright, thanks

[2016-09-29 12:33] #284 closed

[2016-09-29 12:33] TDaglis commented on #292
Well if Shift + Insert successfully pastes in Firefox the issue with Ctrl + Shift + V is that it is handled by someone else and it never arrives to the xterm.js handlers. Since in this case pasting is triggered by a user action (keyboard event), the programmatically pasting issue does not apply here.

[2016-09-29 16:23] Tyriar commented on #273
@parisk the comment in the code mentions the cursor in IE, I wonder if this was fixed in IE 11+ in which case we don't really care.

[2016-09-29 16:26] Tyriar commented on #260
It might be good to look into https://github.com/sourcelair/xterm.js/issues/266 before trying to tackle this

[2016-09-29 16:29] Tyriar commented on #284
All I do in vscode to paste is:

[code]

I think `document.execCommand` has some restrictions due to security concerns in browsers though.

[2016-09-29 16:33] iMoses commented on #260
If we separate between the core logic and the UI logic, the core can be initialized without worrying about the dom and only when needed the view can be initialized, passing it a terminal core instance to work with.

[2016-09-29 18:02] Tyriar commented on #277
@parisk I'm currently relying on `scrollDisp` and `rows` to implement scroll page, scroll to top/bottom is a little too complex for me to do without tests. If we're changing scrollDisp -> scroll we should make sure we don't want to introduce a breaking change when adding these.

[2016-09-29 22:23] Tyriar opened #294 "Implement new scroll API"
Forked off from #277

`scrollDisp` is being replaced by:

[code]

[2016-09-29 22:26] Tyriar commented on #259
I don't think this is important enough to mark v2, will leave it open until I can verify it's status with @rebornix

[2016-09-29 22:27] Tyriar commented on #258
@parisk should this be on the v2 milestone?

[2016-09-30 06:24] Santinell commented on #229
I have the same problem, but meefik's workaround don't work for me...
xterm.js version: 1.1.3

[2016-09-30 09:10] parisk commented on #258
That would be great, but as I have no experience with webpack right now, let's leave it outside.

Unless @waywaaard could prepare a PR for https://github.com/xtermjs/xtermjs.org 😊 .

[2016-09-30 09:41] waywaaard commented on #258
I can try make one.

[2016-09-30 09:57] parisk commented on #258
That would be great. Use branch `xtermjs-2-0` as your base.

[2016-09-30 12:27] Santinell commented on #229
Works for me when this line is commented out:
https://github.com/sourcelair/xterm.js/blob/b32a34b97c71539d86c5df5871b40397dc04fcf0/src/xterm.js#L2068

[2016-10-01 02:14] iMoses commented on #260
I'm trying a test the mouse events to see that I didn't break anything, and I can't find a terminal application with full mouse support with includes mouse move, for example. What are you guys are testing this library against to verify that mouse events are working properly?

[2016-10-01 07:39] #202 closed

[2016-10-03 06:34] ManojkumarV opened #297 "Highlight occurences in vim search"
<img width="1434" alt="screen shot 2016-10-03 at 12 01 40 pm" src="https://cloud.githubusercontent.com/assets/10399151/19029164/3901ba24-8961-11e6-9d08-60b1f2fbeabf.png">
Vim editor search highlights occurrences of words when it is searched in native terminal. This feature is missing in Xterm.

[2016-10-03 10:39] #297 closed

[2016-10-03 16:32] parisk commented on #277
Closing this as it got defined in xtermjs/xtermjs.org#1.

[2016-10-03 16:32] #277 closed

[2016-10-04 23:04] Tyriar opened #299 "Text area goes off screen when IME is active"
![image](https://cloud.githubusercontent.com/assets/2193314/19095682/109fd0c0-8a4c-11e6-8136-cf7c50e78b71.png)

## Details
- Browser and browser version: vscode
- OS version: Ubuntu 16.04
- xterm.js version: 76a890aa741c8eaa6a21ee9a2a036d7a00168412

[2016-10-05 02:01] Tyriar opened #300 "Text area helper is not taken out of flow in some circumstances"
See https://github.com/Microsoft/vscode/issues/12038

This fixes the issue when an IME is not active (https://github.com/sourcelair/xterm.js/issues/299 is for when it is active).

[2016-10-05 02:18] Tyriar commented on #299
One step towards this si to set `line-height` on the composition view element to be the same as it is on the rows.

[2016-10-05 02:42] Tyriar opened #302 "Calling Terminal.refresh after setting line-height on .xterm should apply the line-height"
Setting `line-height` on `.xterm` is a way to globally change the `line-height` the problem is that it's harder than it should be to apply these changes.

## Details
- Browser and browser version: Chrome 53
- OS version: Ubuntu 16.04
- xterm.js version: 76a890aa741c8eaa6a21ee9a2a036d7a00168412

### Steps to reproduce

1. Start demo
2. Set `line-height: 2` on `.xterm`
3. In console call `term.refre

[2016-10-05 06:42] scopatz commented on #262
Any chance we could get the terminado_attach.js in the main repo? Or better yet a Python backend demo, too?  I spent a long time futzing with other options and just found this one. Thanks for your consideration!

[2016-10-05 07:33] staticfloat commented on #262
@scopatz A terminado demo would be useful, I agree.  So I've [opened a PR](https://github.com/sourcelair/xterm.js/pull/303) to include one.

[2016-10-05 08:06] parisk commented on #262
You can find my reply at https://github.com/sourcelair/xterm.js/pull/303#issuecomment-251609201. I think we can make this happen after some tweaks.

[2016-10-05 14:17] scopatz commented on #262
Thanks!

[2016-10-06 20:42] ovanschie opened #305 "Addon loader doesn't work in Electron"
Since the 2.0 release the loadAddon method doesn't work anymore in Electron apps.

Code:
[code]
Error:
`Uncaught Error: Cannot find module '/src/../addons/fit'`

The same code does work with version 1.1.3.

## Details
- Browser and browser version: Electron 1.4.3 (Chrome 53.0.2785.113)
- OS version: MacOS Sierra
- xterm.js version: 2.0.0 / 2.0.1

[2016-10-08 09:29] parisk commented on #305
Hi @ovanschie, thanks for reporting. This should be fixed with #304, though I think we will conclude on a better and more permanent solution for add-ons in the coming release.

Could you please take a look at the `update-addons-paths` branch and let me know if it works for you?

[2016-10-08 10:34] parisk opened #306 "Implement a public API for add-ons"
We should standardize the semi-public addons API and document all addons in the codebase.

This will allow:
1. consumers know what extra functionality they can use in xterm.js out of the box
2. developers know how to build a new addon, either proprietary or integrate it into xterm.js

[2016-10-08 15:41] ovanschie commented on #305
Thanks for the reply. I tried the `update-addons-paths` branch, but unfortunately it still doesn't work.

I found that `__dirname` used in the addon loader returns `/src` in v2, in v1 it returns the full path `/<project dir>/node_modules/xterm/src` for some reason.

Maybe this has something to do with it?

[2016-10-08 20:35] Tyriar commented on #305
I saw something like this on the TypeScript branch, this is what I did there to get the tests to work https://github.com/sourcelair/xterm.js/pull/296/files#diff-d4f745d6f29faa0617f2e02bb95f0c44R686

[2016-10-09 03:24] croiuki opened #307 "Select all does not work"
Since 2.0 version, select all in right click menu does not work.
## Details
- Browser and browser version: Google Chrome 50.0.2661.102
- OS version: Windown 7
- xterm.js version: 2.0.0 / 2.0.1

[2016-10-09 10:30] parisk commented on #305
@ovanschie I pushed an update, removing `__dirname` as it is redundant (at least).

Also starting from **2.0** you should be importing xterm.js from `dist`, instead of `src`. Are there any chances this was caused by importing from the wrong directory?

@Tyriar the `build` directory should be used only for development as it is ignored by Git. If we load addons from `build` this means that the user

[2016-10-09 10:31] parisk commented on #305
@ovanschie could you give another try at the `update-addons-paths` and if it still crashes, send us the piece of code that imports xterm.js? It should be just one line.

[2016-10-09 10:44] parisk commented on #307
Thanks for reporting @croiuki.

The reason this happens is because the right-click happens now on the textarea instead of the terminal element. Despite that I was not able to use "Select all" on Chrome on macOS even on tag 1.1.3.

A workaround you could use here until we fix this is selecting by dragging your mouse over the area you would like to, while keeping the left-click button pressed.

As I

[2016-10-09 15:16] ovanschie commented on #305
@parisk see my first comment for the import code i used.

The updated code in `update-addons-paths` works for me now!

[2016-10-09 15:24] parisk commented on #305
🙈  I totally lost this

👍  moving forward with merging.

[2016-10-10 02:25] croiuki opened #310 "Right-click paste does not work in Firefox and IE"
Since 2.0 version, Right-click paste work in Chrome, but does not work in Firefox and IE.

Details

Browser and browser version: Firefox 49.0.1.6109 / IE 11.0.9600
OS version: Windown 7
xterm.js version: 2.0.0 / 2.0.1

[2016-10-10 02:31] croiuki commented on #307
Thanks for the reply.
I just want to select contents more than current screen show, but it also does not work.

[2016-10-10 04:01] Tyriar commented on #307
We would need something such as https://github.com/sourcelair/xterm.js/issues/207 to deal with selection beyond the current page. Not sure on whether it can be implemented without causing other issues yet though.